<div id="foot_casi"> 
  
  <!-- 和首页共用一个底部 --> 
 
  <link href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/css/common.css" rel="stylesheet" type="text/css" />
  <div class="footer">
    <div class="footer-container">
      <div class="footer_container_box clearfix">
        <dl>
          <dt>关于我们</dt>
                                {php $helplist = get_maincat(39176, 27, 1);}
                                {loop $helplist $i $c}
                                {if $i<=4}
                                <dd><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></dd>
                                {/if}
                                {/loop}
        </dl>
        <dl>
          <dt>快速链接</dt>
             {php $links=tag("table=link&condition=1=1&areaid=$cityid&order=rand()&pagesize=4&template=null&debug=0");}
             {loop $links $i $t}<dd> <a href="{$t[linkurl]}">{$t[title]}</a> </dd>{/loop}
        </dl>
        <dl class="nth_3">
          <dt>客户服务中心</dt>
                    {php $helplist = get_maincat(39159, 27, 1);}
          			{loop $helplist $i $c}
                    {if $i<=4}
                    <dd><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></dd>
                    {/if}
                    {/loop}
        </dl>
        <dl class="nth_4">
          <dt>联系我们</dt>
          <dd class="clearfix dd_mt6" style="font-weight:bold ;"><a href="#" target="_blank">加入我们</a></dd>
          <dd class="clearfix dd_mt6">
            <div class="fl">市场商务：</div>
            <div class="fl">023-85238885</div>
          </dd>
          <dd class="clearfix dd_mt6">
            <div class="fl">客服热线：</div>
            <div class="fl">400-008-2859</div>
          </dd>
          <dd class="clearfix dd_mt6">
            <div class="fl">地址：</div>
            <div class="fl htyw_address">重庆市大足区昌州街国际会展中心2层</div>
          </dd>
        </dl>
        <dl>
          <dt>龙智造工业云平台</dt>
          <dd><a href="javascript:;"><img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170302" alt=""/></a></dd>
        </dl>
        <dl class="last">
          <dt>关注工业云</dt>
          <dd> <a href="javascript:;"><img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170302" alt=""/></a></dd>
        </dl>
      </div>
      <div class="line clearfix"></div>
      <div class="friend-link"> <span class="link-header">友情链接：</span>
        <ul>
             {php $links=tag("table=link&condition=1=1&areaid=$cityid&order=rand()&pagesize=15&template=null&debug=0");}
             {loop $links $i $t}<li> <a href="{$t[linkurl]}">{$t[title]}</a> </li><span>|</span>{/loop}
        </ul>
      </div>
      <div class="copyright">Copyright@2018&nbsp;&nbsp;龙智造工业云平台&nbsp;&nbsp;All Rights Reserved | 渝ICP备18001657号</div>
    </div>
  </div>
</div>