<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>云制造-重庆工业互联网云平台-中国工业互联网平台</title>
</head>
<body style="min-width:1230px;">
<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/industrialMall/newIndex/css/page.css" />
<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/css/global.css" />
<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/css/home2.css" />
<link href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/css/common.css" rel="stylesheet" type="text/css" />
<script src="http://img1.gyyqcloud.com/cocenter/js/jquery/jquery-1.10.2.min.js"></script>
<script src="http://img1.gyyqcloud.com/cocenter/js/jquery.mScroll.js"></script> 
<script src="http://img1.gyyqcloud.com/cocenter/js/htyw_ul.js"  type="text/javascript"></script> 
<script src="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/js/global.js"></script>
<script src="http://img1.gyyqcloud.com/cocenter/js/release/commodity.js"></script>
<script src="{DT_STATIC}file/layer/layer.js"></script>
<script src="{DT_STATIC}file/script/common.js"></script>
<!-- 重庆工业互联网云平台，云制造top页面 -->
<div id="top_casi" >
  <!--云制造topbegin--> 
  <script type="text/javascript">
   /*下拉二级菜单效果*/
   jQuery(function(){
	   jQuery(".yzzpublic_nav_lists").mouseenter(function(){
			//alert(111)
          jQuery(this).children(".yzzpublic_nav_lists1").show();
         });
	   jQuery(".yzzpublic_nav_lists").mouseleave(function(){
		  jQuery(this).children(".yzzpublic_nav_lists1").hide();
	   });
	   
   });
   //搜索功能
   function ch(){
	   $('#rjForm').attr('target', null);
	   var searchKeyWord=jQuery("#searchKeyWord").val().trim();
	   searchKeyWord=encodeURI(searchKeyWord);
	   var searchType=$("#selectType").html();
	   if(searchType=="软件"){
		  $("#rjForm").attr("action","/softpool/search.php");
	   }else if(searchType=="能力"){
		  $("#rjForm").attr("action","/sell/list.php");
		   $('#rjForm').attr('target', "proIfram");
	   }else if(searchType=="需求"){
		 $("#rjForm").attr("action","/buy/list.php");
		   $('#rjForm').attr('target', "proIfram");
	   }else if(searchType=="服务"){
		  $("#rjForm").attr("action","/services/search.php");
	   }else if(searchType=="专家"){
		 $("#rjForm").attr("action","/expertpool/search.php");
	   }
	   jQuery("#kw").val(searchKeyWord);
	   $("#rjForm").submit();
	   return;	   
   }
</script>
  <!--头部第一部分 开始-->
  <div class="new_topbar">
    <div class="header-container" style="width:1240px;">
      <ul class="new_header_left">
                   {if $_userid}
                    <li id="business">
                        <span>{$_truename},欢迎来到重庆工业互联网云平台!</span>
                    </li>
                    <li>
                        <a href="{$MODULE[2][linkurl]}">个人中心</a>
                    </li>
                    <li>
                       <a href="{$MODULE[2][linkurl]}logout.php">退出</a>
                    </li>
                    {else}
                    <li id="business">
                        <span>欢迎来到重庆工业互联网云平台!</span>
                    </li>
                    <li><a href="javascript:" target="_blank" id="new_username" class="right_line" style="display: none"></a></li>
                    <li>
                        <a href="/member/login.php" id="login" onclick="login();">登录</a>
                    </li>
                    <li id="register">
                        <a href="/member/register.php" target="_blank">免费注册</a>
                    </li>
                    {/if}
      </ul>
      <ul class="new_header_right">
        <li> </li>
        <li> <a id="wdyw" target="_blank" class="right_line" href="/member/">我的云网<span class="pop_arrpw" ></span></a>
          <div class="nav-content nc-1" id="shopping">
  			                            <table>
			                                <tbody>
			                                <tr><th>我是买家</th><th>我是卖家</th></tr>
			                                <tr>
			                                    <td><a href="/member/trade.php?action=order" target="_blank">已买到的产品</a></td>
			                                    <td><a href="/member/trade.php" target="_blank">已卖出的产品</a></td>
			                                </tr>
			                                <tr>
			                                    <td><a href="/member/my.php?mid=6&action=add" target="_blank">发布询价单</a></td>
			                                    <td><a href="/member/my.php?mid=16&amp;action=add" target="_blank">发布产品</a></td>
			                                </tr>
			                                <tr>
			                                    <td><a href="/member/trade_softpool.php" target="_blank">我的软件池</a></td>
			                                    <td><a href="/member/trade_services.php" target="_blank">我的服务</a></td>
			                                </tr>
			                                </tbody>
			                            </table>
          </div>
        </li>
        <li> <a href="javascript:" target="_blank" class="right_line">客户服务中心<span class="pop_arrpw"></span></a>
        
           <div class="nav-content nc-2" style="width:98px;text-align: center">
          {php $helplist = get_maincat(39159, 27, 1);}       
          {loop $helplist $i $c}
         <a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a>
          {/loop}          
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--头部第一部分 结束--> 
  <!--头部第二部分 开始-->
  <div class="header2">
    <div class="block">
      <div class="yzzpublic_logo" style="width:350px;float:left;"> <img src="http://img1.gyyqcloud.com/cocenter/saas/nankang/images/xqrd-logo.png" alt="Planets" usemap="#planetmap" />
        <map name="planetmap">
          <area href="/" shape="rect" coords="0,0,174,48">
          </a>
          <area href="/cloudproduce/" shape="circle" coords="175,0,299,48">
          </a>
        </map>
      </div>
      <div class="search">
        <div class="text-box">
          <div class="select"> <span  id="selectType">需求</span>
            <ul>
              <li onclick="btshow(this)">需求</li>
              <li onclick="btshow(this)">能力</li>
              <li onclick="btshow(this)">服务</li>
              <li onclick="btshow(this)">软件</li>
              <li onclick="btshow(this)">专家</li>
            </ul>
          </div>
          <div class="text">
            <input type="text" id="searchKeyWord" name="searchKeyWord"  onkeydown="if(event.keyCode==13){ch();}" value=""/>
          </div>
          <div class="submit">
            <input type="button"  onclick="ch();" value="" />
            <form action="#" id="rjForm" method="get">
              <input  type="hidden" id="kw" value="" name="kw"/>
            </form>
          </div>
        </div>
        <div class="link"> <!--a href="javascript:void(0);">铝型材</a> | <a href="javascript:void(0);">元器件</a> | <a href="javascript:void(0);">循环试验</a> | <a href="javascript:void(0);">仿真计算</a> | <a href="javascript:void(0);">盐雾试验</a--> </div>
      </div>
      <!-- 广告位 --> 
      <a id="topBannerAdInfo" class="adInfo" style="position: absolute; top:-20px; right:0; width:220px; height:100px; cursor: pointer;" data-adPositionId="10000088470003" data-adPlateId="2" data-typr="2"> </a> </div>
  </div>
  <!--头部第二部分 结束-->
  <div class="banner-home clearfix" style="height:45px;">
    <div class="line-nav">
      <div class="block">
        
        <div class="tit-list">
          <div class="item"> <a href="/cloudproduce/" class="a">首页</a> </div>
          <div class="item"> <a href="javascript:void(0);" class="a">云协作中心</a>
            <ul>
              <li><a href="/buy/search.php" target="_blank">需求大厅</a></li>
              <li><a href="/sell/search.php" target="_blank">能力大厅</a></li>
            </ul>
          </div>
          <div class="item"> <a href="/sucai/" class="a" target="_blank">云素材中心</a> </div>
          <div class="item" onclick="setCzc('云制造','点击','云设计中心')"> <a href="/cloudproduce/cloudDesign.php" class="a">云设计中心</a>
            <ul>
              <li><a href="/cloudproduce/cloudDesign.php?type=01">云CAD</a></li>
              <li><a href="/cloudproduce/cloudDesign.php?type=02">云CAE</a></li>
              <li><a href="/cloudproduce/cloudDesign.php?type=03">云CAPP</a></li>
              <li><a href="/cloudproduce/cloudDesign.php?type=00">云PDM</a></li>
            </ul>
          </div>
          <div class="item" onclick="setCzc('云制造','点击','云生产中心')"> <a href="/cloudproduce/cloudProduction.php" class="a">云生产中心</a>
            <ul>
              <li><a href="/cloudproduce/cloudProduction.php?type=00">云ERP</a></li>
              <li><a href="/cloudproduce/cloudProduction.php?type=01">CRP</a></li>
              <li><a href="/cloudproduce/cloudProduction.php?type=02">C-MES</a></li>
              <li><a href="/cloudproduce/cloudProduction.php?type=03">虚拟工厂</a></li>
            </ul>
          </div>
          <div class="item" onclick="setCzc('云制造','点击','智能服务中心')"> <a href="/cloudproduce/intelligent.php?type=00" class="a">智能服务中心</a>
            <ul>
              <li><a href="/cloudproduce/intelligent.php?type=00">资产管理</a></li>
              <li><a href="/cloudproduce/intelligent.php?type=01">售后服务</a></li>
              <li><a href="/cloudproduce/intelligent.php?type=02">远程监控</a></li>
              <li><a href="/cloudproduce/intelligent.php?type=03">智能诊断</a></li>
            </ul>
          </div>
          <div class="item" onclick="setCzc('云制造','点击','云资源中心')"> <a href="/softpool/" class="a">云资源中心</a>
            <ul>
              <li><a href="/softpool/" target="_blank">软件池</a></li>
              <li><a href="/sucai/list.php?catid=39230#content" target="_blank">专利池</a></li>
              <li class="yzzpublic_nav_lists"> <a href="/sucai/list.php?catid=39231#content" target="_blank">文献库</a> </li>
              <li><a href="/expertpool/" target="_blank">专家库</a></li>
              <li><a href="http://www.gyyqcloud.com/index.php?s=/lists/97.html" target="_blank">3D打印资源</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
		<!--part7End-->
		<script>
			// 排序
			function changeorder(orderField1, obj){
				$(obj).addClass("now").siblings().removeClass('now');
				var orderSeq1 = $(obj).attr('value');
				var field = $(obj).text();
				if(orderSeq1 == 'desc'){
					field = field.replace('发布时间↑', '发布时间↓');
					field = field.replace('热度↑', '热度↓');
					field = field.replace('截止时间↑', '截止时间↓');
					$(obj).text(field);
					$(obj).attr('value','asc');
					orderField=orderField1;
					orderSeq=orderSeq1;
					searchByClassification3();
				} else {
					field = field.replace('发布时间↓', '发布时间↑');
					field = field.replace('热度↓', '热度↑');
					field = field.replace('截止时间↓', '截止时间↑');
					$(obj).text(field);
					$(obj).attr('value','desc');
					orderField=orderField1;
					orderSeq=orderSeq1;
					searchByClassification3();
				}
			}
			
			//增加实名认证筛选(复选框)
			$("#shiming").change(function certification(){
				if($("#shiming").is(":checked")){
					state='5';
			      }else{
			    	state='';
			      }
				searchByClassification3();
			});
			
			// 在结果中搜索
			function searchForKeyword(){
				searchByClassification3();
			}
			
			function onkeyselect(){
				var event =event||window.event;
				if(event.keyCode==13){
					searchByClassification3();
				}
			}
 
		var sys_type="";
		var sys_model="";
		var sys_scale="";
		var isSrm="0";//
		var orderField="";
		var orderSeq="desc";
		var state="";//实名认证状态
		var province = '';//省份
		var currentLevel = '';//星级
		
		
		function myfun(){
			$('.cpzx-commodity-classification .classification-list .item.i3 .text-box .now').each(function(){
				if($(this).text()!='全部'){
					sys_type+=$(this).text()+",";
				}
			});
			sys_type=qud(sys_type);
			$("#sys_type").val(sys_type);
			$('.cpzx-commodity-classification .classification-list .item.i5 .text-box .now').each(function(){
				if($(this).text()!='全部'){
					sys_model+=$(this).attr("option")+",";
				}
			});
			sys_model=qud(sys_model);
			$("#sys_model").val(sys_model);
			$('.cpzx-commodity-classification .classification-list .item.i6 .text-box .now').each(function(){
				if($(this).text()!='全部'){
					sys_scale+=$(this).text()+",";
				}
			});
			sys_scale=qud(sys_scale);
			$("#sys_scale").val(sys_scale);
			$('.cpzx-commodity-classification .classification-list .item.i7 .text-box .now').each(function(){
				if($(this).text()!='全部'){
					isSrm='1';
				}else{
					isSrm='0';
				}
			});
			$("#isSrm").val(isSrm);
	}
	function qud(str){
		var s="";
		//去掉最后一个逗号(如果不需要去掉，就不用写)
	    if (str.length > 0) {
	    	s = str.substr(0, str.length - 1);
	    }
		s=encodeURI(encodeURI(s));
		return s;
	}
	function selectStar(star) {
    	//alert($(star).text());
        $(star).parent().parent().siblings().text($(star).text())
        currentLevel=$(star).val();
        //清空元素
        $(".starfilterList").empty();
        //点击质量认证
        if("" == currentLevel || '0' == currentLevel){
        	$(".starfilterList").append("<li value='1' onclick=\"selectStar(this)\">一星级</li>")
        						.append("<li value='2' onclick=\"selectStar(this)\">二星级</li>").append("<li value='3' onclick=\"selectStar(this)\">三星级</li>")
        						.append("<li value='4' onclick=\"selectStar(this)\">四星级</li>").append("<li value='5'onclick=\"selectStar(this)\">五星级</li>");
        }else if(1 == currentLevel){
        	$(".starfilterList").append("<li value='2' onclick=\"selectStar(this)\">二星级</li>")
        						.append("<li value='3' onclick=\"selectStar(this)\">三星级</li>").append("<li value='4' onclick=\"selectStar(this)\">四星级</li>")
        						.append("<li value='5'onclick=\"selectStar(this)\">五星级</li>").append("<li onclick=\"selectStar(this)\">质量认证</li>");
        }else if(2 == currentLevel){
        	$(".starfilterList").append("<li value='1' onclick=\"selectStar(this)\">一星级</li>")
        						.append("<li value='3' onclick=\"selectStar(this)\">三星级</li>").append("<li value='4' onclick=\"selectStar(this)\">四星级</li>")
        						.append("<li value='5'onclick=\"selectStar(this)\">五星级</li>").append("<li onclick=\"selectStar(this)\">质量认证</li>");
        }else if(3 == currentLevel){
        	$(".starfilterList").append("<li value='1' onclick=\"selectStar(this)\">一星级</li>")
        						.append("<li value='2' onclick=\"selectStar(this)\">二星级</li>").append("<li value='4' onclick=\"selectStar(this)\">四星级</li>")
        						.append("<li value='5'onclick=\"selectStar(this)\">五星级</li>").append("<li onclick=\"selectStar(this)\">质量认证</li>");
        }else if(4 == currentLevel){
        	$(".starfilterList").append("<li value='1' onclick=\"selectStar(this)\">一星级</li>")
        						.append("<li value='2' onclick=\"selectStar(this)\">二星级</li>").append("<li value='3' onclick=\"selectStar(this)\">三星级</li>")
        						.append("<li value='5'onclick=\"selectStar(this)\">五星级</li>").append("<li onclick=\"selectStar(this)\">质量认证</li>");
        }else if(5 == currentLevel){
        	$(".starfilterList").append("<li value='1' onclick=\"selectStar(this)\">一星级</li>")
        						.append("<li value='2' onclick=\"selectStar(this)\">二星级</li>").append("<li value='3' onclick=\"selectStar(this)\">三星级</li>")
        						.append("<li value='4' onclick=\"selectStar(this)\">四星级</li>").append("<li onclick=\"selectStar(this)\">质量认证</li>");
        }
        searchByClassification3(); 
	}
	</script>
	 
	<script type="text/javascript">
        $(function(){
           
            $(".allZone").mouseenter(function(){
                $(".zoneFilter").show();
                $(this).addClass('allZoneHover');
            });
            $(".allZone").mouseleave(function(){
                $(".zoneFilter").hide();
                $(this).removeClass('allZoneHover');
            });
            $(".zonefilterList>li").click(function(){
                //alert($(this).text());
                $(this).parent().parent().siblings().text($(this).text())
                province=$(this).text();
                searchByClassification3();
            });
            $(".zoneFilter>p").click(function(){
                //alert($(this).text());
                $(this).parent().siblings().text($(this).text())
                province='';
                searchByClassification3();
            });
            $(".allStar").mouseenter(function(){
                $(".starFilter").show();
                $(this).addClass('allStarHover');
            });
            $(".allStar").mouseleave(function(){
                $(".starFilter").hide();
                $(this).removeClass('allStarHover');
            });
        })
        
    </script>