 {template 'cloudproduce/header'}
<!--banner-home 开始-->
<div class="banner-home" style="margin-top:-45px;">
  <div class="foucs adInfo" id="indexAdInfo" data-adPositionId="13" data-adPlateId="2" data-typr="0">
    <div class="frame">
      {php $adtags=tag("table=ad&condition=pid=75&areaid=$cityid&pagesize=5&template=null&debug=0");}
      {loop $adtags $i $t}
      <div class="child" id="pointer" onclick="window.open('{$t[url]}')" style="background-image:url({$t[image_src]}) ;"></div>
      {/loop}	 
    </div>
    <div class="nav"> 
    {loop $adtags $i $t}
    <a href="javascript:void(0);"></a>  
    {/loop}	 
    
    </div>
  </div>
</div>

<div class="body home2-page">
  <div class="home2-notice">
    <div class="block">
      <div class="home2-page-notice">
        <div class="notice-scroll">
          <div class="notice-box"> <span class="s1">公告</span>
            <ul class="line-list">
            {php $tags2=tag("table=article_21&condition=catid=39124 &areaid=$cityid&order=rand()&pagesize=3&template=null&debug=0");}
                     {loop $tags2 $i $t}
                      <li>
                        <div class="news-item clearfix"> <a href="/news/{$t[linkurl]}" class="pull-left" target="_blank" title=" {$t[title]}"> {$t[title]}</a> </div>
                      </li>
					  {/loop}
            </ul>
            <a href="/news/list.php?catid=39124" onclick="openAnnounce()" class="more">更多 >></a> </div>
          <div class="notice-box"> <span class="s1">动态</span>
            <ul class="line-list">
                    {php $tags2=tag("table=article_21&condition=catid=39124 &areaid=$cityid&order=rand()&pagesize=3&template=null&debug=0");}
                      {loop $tags2 $i $t}
                      <li>
                        <div class="news-item clearfix"> <a href="/news/{$t[linkurl]}" class="pull-left" target="_blank" title=" {$t[title]}"> {$t[title]}</a> </div>
                      </li>
					  {/loop}
            </ul>
            <a href="/news/list.php?catid=39124" onclick="openNews()" class="more">更多 >></a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home2-page-imglist">
    <div class="block"> 
      <div class="check">
        <div class="tit"><span class="number" alt="278216">278216</span><b style="float: right; padding-right: 19px; color: #fff;  margin-top: 55px;">家</b></div>
        <div class="box now">
          <div class="img"> <img src="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/image/home4-page-foucs-icon1.jpg"> </div>
          <div class="but"> <a class="a1" href="/member/login.php">登录</a> <a href="/member/register.php">注册</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ad-top2-lst adInfo" style="width:1230px;margin:auto;"> 
 	 {php $tags=tag("table=ad&condition=pid=79&areaid=$cityid&pagesize=2&template=null&debug=0");}
     {loop $tags $i $t}
    <a class="{if $i==0}item-left{else}item-right{/if}" href="{$t[url]}"  alt="{$t[title]}"> <img src="{$t[image_src]}" /> </a>
    {/loop}  
  </div>
  <div class="home2-page-recommend">
    <div class="block new">
      <div class="home2-page-recommend-tit">
        <h2>热门推荐</h2>
        <span><i></i></span> </div>
      <div class="home2-page-recommend-line1">
        <div class="box"> <a href="#"><i><img src="https://oby0yx23h.qnssl.com//image/carousel/09251649061400044" /></i></a>
          <div class="text">
            <div class="table-cell">
              <h2><a href="#">航天晨光化机分公司</a></h2>
              <h3>专精装备 造福社会</h3>
              <p>大型、重型非标压力容器制造</p>
            </div>
          </div>
        </div>
        <div class="box"> <a href="#"><i><img src="https://oby0yx23h.qnssl.com//image/carousel/10120902031160004" /></i></a>
          <div class="text">
            <div class="table-cell">
              <h2><a href="#">亿家联合环保设备有限公司</a></h2>
              <h3>让喝水更简单</h3>
              <p>领先的水处理解决方案提供商</p>
            </div>
          </div>
        </div>
      </div>
      <div class="home2-page-recommend-line2">
        <div class="item">
          <div class="img"> <a href="#"><img src="https://oby0yx23h.qnssl.com//image/carousel/10190941167400039" /></a> </div>
          <h2><a href="#">物流服务解决方案</a></h2>
        </div>
        
        <!-- 2 -->
        
        <div class="item">
          <div class="img"> <a href="#"><img src="https://oby0yx23h.qnssl.com//image/carousel/10190957146490049" /></a> </div>
          <h2><a href="#">高低温冲击试验</a></h2>
        </div>
        
        <!-- 3 -->
        
        <div class="item">
          <div class="img"> <a href="#"><img src="https://oby0yx23h.qnssl.com//image/carousel/101909461670043" /></a> </div>
          <h2><a href="#">隔热涂料制造及喷涂服务</a></h2>
        </div>
        
        <!-- 4 -->
        
        <div class="item">
          <div class="img"> <a href="#"><img src="https://oby0yx23h.qnssl.com//image/carousel/10190948269900046" /></a> </div>
          <h2><a href="#">数控机器人焊接系统</a></h2>
        </div>
        
        <!-- 5 -->
        
        <div class="item">
          <div class="img"> <a href="#"><img src="https://oby0yx23h.qnssl.com//image/carousel/10190949359480047" /></a> </div>
          <h2><a href="b2b/supply/b2bTenantRelease/capabilityContent4a6a.html?id=10000039631890">生产加工印制板 </a></h2>
        </div>
        
        <!-- 6 -->
        
        <div class="item">
          <div class="img"> <a href="#"><img src="https://oby0yx23h.qnssl.com//image/carousel/1019095054620048" /></a> </div>
          <h2><a href="#">高锁螺母力矩/预紧力测试</a></h2>
        </div>
      </div>
    </div>
  </div>
  <!--协作需求 开始-->
  <div class="home2-page-cooperation">
    <div class="block">
      <div class="home2-page-recommend-tit">
        <h2>协作需求</h2>
        <span><i></i></span> </div>
      <div class="box">
        <div class="left">
          <div class="tabs"> <span class="now first">最新需求</span> <span>临近过期</span> <!--span>大客户认证</span-->
            <a class="more" onclick="toMore()" href="/buy/">more+</a> </div>
          <div class="table">
          <table class="now">
            <tr>
              <td width="180">发布日期</td>
              <td width="220">求购产品名称</td>
              <td width="100">数量</td>
              <td width="110">距报价截止</td>
              <td width="150"></td>
            </tr>
                    {php $tags=tag("table=buy_6&length=44&condition=status>0 &areaid=$cityid&pagesize=7&order=rand()&cols=2&template=null&debug=0");}
                    {loop $tags $kk $tt}
            <tr>
              <td>{timetodate($tt[addtime],'Y年m月d日')}</td>
              <td>{$tt[title]} </td>
              <td>{$tt[amount]} </td>
              <td><span>还剩 <span name="leftDay"><span name="remainingTime" style="color: red;">{php   echo floor(($tt[totime]-time())/86400);}</span>天</span> </td>
              <td style="display: none;"><span name="deadline">2018-04-23</span></td>
              <td><a href="/buy/{$tt[linkurl]}">查看详情 >></a></td>
            </tr>
            {/loop} 
          </table>
          <table>
            <tr>
              <td width="180">发布日期</td>
              <td width="220">求购产品名称</td>
              <td width="100">数量</td>
              <td width="110">距报价截止</td>
              <td width="150"></td>
            </tr>
              {php $tags=tag("table=buy_6&length=44&condition=totime>NOW()-INTERVAL 15 HOUR and status>0 &areaid=$cityid&pagesize=7&order=rand()&cols=2&template=null&debug=0");}
                    {loop $tags $kk $tt}
            <tr>
              <td>{timetodate($tt[addtime],'Y年m月d日')}</td>
              <td>{$tt[title]}</td>
              <td>{$tt[amount]}</td>
              <td><span>还剩 <span name="leftHour"><span name="remaininghour" style="color: red;">{php   echo floor(($tt[totime]-time())/3600);}</span>小时</span></span> </td>
              <td style="display: none;"><span name="deadline">2018-04-17</span></td>
              <td><a href="/buy/{$tt[linkurl]}">查看详情 >></a></td>
            </tr>
            {/loop} 
          </table>
          <table style="display:none">
            <tr>
              <td width="150">发布日期</td>
              <td width="220">求购产品名称</td>
              <td width="130">承接单位</td>
              <td width="110">成交日期</td>
              <td width="150"></td>
            </tr>
            
            <tr>
              <td>2018年04月08日</td>
              <td title="Oracle软件采购">Oracle软件采购 </td>
              <td title="北京华宇时创科技有限公司">北京华宇时创科技.. </td>
              <td>2018-04-17</td>
              <td style="display: none;"><span name="deadline">2018-04-14</span></td>
              <td><a href="javascript:openInquiryDetail(40000010995607)">查看详情 >></a></td>
            </tr>
            
          </table>
        </div>
        </div>
        <div class="right">
          <div class="tabs"> <span class="first">最新达成</span> </div>
          <div class="con">
            <table class="now">
              <tr>
                <td width="170">需求名称</td>
                <td width="195">需求方</td>
                <td width="100">成交日期</td>
              </tr>
                    {php $tags=tag("table=buy_6&length=44&condition=status>0 &areaid=$cityid&pagesize=7&order=rand()&cols=2&template=null&debug=0");}
                    {loop $tags $kk $tt}
              <tr>
                <td title="{$tt[title]}">{$tt[title]}</td>
                <td title="{$tt[company]}">{$tt[company]} </td>
                <td>{timetodate($tt[addtime],'Y-m-d')}</td>
              </tr>
              {/loop}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--协作需求 结束--> 
<div class="home2-page-recommend-">
    <div class="block new">
      <div class="home2-page-recommend-tit">
        <h2>合作流程</h2>
        <span><i></i></span> </div>
    </div>
  </div>
  <!--发布流程 开始-->
  <div class="home2-page-release" style="padding-top: 0px;">
    <div class="block"> <img src="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/image/home2-page-icon4.png" /> <a href="http://www.gyyqcloud.com/member/my.php?mid=6&action=add" class="button"> <img src="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/image/demand-icon1.png" /> </a> </div>
  </div>
</div>
<!--底部 start--> 
<script src="http://img1.gyyqcloud.com/cocenter/js/home2.js"></script> 
<script type="text/javascript" src="http://img1.gyyqcloud.com/cocenter/js/ad.js"></script>
 {template 'cloudproduce/footer'}
</body>
</html>