{template 'header-mall'}
<!--{php $tagsad=tag("table=ad&condition=pid=31&pagesize=1&template=null");}-->
{loop $tagsad $i $t}
<div class="ad_wrap pr" style="margin-top:10px;">
	<a href="{$t[url]}" target="_blank"><img src="{$t[image_src]}" alt="" width="1200"></a>
	<div style="position:absolute; right:0px; bottom:0px;"><img src="http://r.longygo.com/v1/images/pclog.png"></div>
</div>
{/loop}
<link rel="stylesheet" type="text/css" href="http://r.longygo.com/v1/css/search-2015.css" />
<style>
	.filter-category2{ margin-bottom:10px;}
</style>
<!--面包屑开始-->
<div class="crumbs clearfix" style="line-height:30px;">
	当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}
	<div class="fr gray9 f12" style="float:right">共找到 <span class="fb red">{$items}</span> 条 <span class="fb red">{$CAT[catname]}</span> 相关产品信息</div>
</div>
<!--面包屑结束-->
<div class="filter-category2">
	<ul>
		<li class="item noborder">
			<div class="til">类别：</div>
			<div class="con">
				<ul>
					{loop $maincat $k $v}
					<li><a href='{$MOD[linkurl]}{$v[linkurl]}' title="{set_style($v[catname],$v[style])}">{set_style($v[catname],$v[style])}({$v[item]})</a></li>
					{/loop}
				</ul>
			</div>
		</li>
	</ul>
	<!--div class="filter_more_btn">
        <a href="javascript:;">更多筛选条件</a>
    </div-->
</div>

<!--您是不是在找开始-->
<div class="other_categories">
	<span class="gray9">您是不是要找：</span>
	<!--{tag("moduleid=$moduleid&table=keyword&condition=$moduleid=$moduleid&pagesize=10&order=week_search desc&key=week_search&template=list-search_keyword&debug=0")}-->
</div>
<!--您是不是在找结束-->

<!--主要内容开始-->

<div class="s-main clearfix">
	<div class="s-main-l">
		<!--删选栏开始-->
		<div class="filter-bar clearfix">
			<ul class="filter-sorting">
				<li class="cur"><a href="javascript:sortBy('default')">默认排序</a></li>
				<!--li><a href="javascript:sortBy('credit')">信用指数<i class="arrow-b"></i></a></li>
                <li><a href="javascript:sortBy('pubDate')">最新<i class="arrow-b"></i></a></li>
                <li><a href="javascript:sortBy('price')">价格<i class="arrow-t"></i></a></li-->
			</ul>
			<div class="filter-price">
				<span class="gray9">￥</span>
				<input name="" type="text" class="text" id="price1" value="" />
				<span class="gray9">-</span>
				<input name="" type="text" class="text" id="price2" value="" />
				<div class="filter-price-btn">
					<a href="javascript:clearPrice()">清空</a>
					<a href="javascript:filterPrice()">确定</a>
				</div>
			</div>
			<div class="filter-select">
				<div class="filter-select-hd">结果排序方式</div>
				<div class="filter-select-bd filter-select-time">
					<ul>
						<li><a href="search.php?catid={$catid}&order=1">按相似度排序</a></li>
						<li><a href="search.php?catid={$catid}&order=2">价格由高到低</a></li>
						<li><a href="search.php?catid={$catid}&order=3">价格由低到高</a></li>
						<li><a href="search.php?catid={$catid}&order=4">VIP由高到低</a></li>
						<li><a href="search.php?catid={$catid}&order=5">VIP由低到高</a></li>
						<li><a href="search.php?catid={$catid}&order=6">供货由高到低</a></li>
						<li><a href="search.php?catid={$catid}&order=7">供货由低到高</a></li>
						<li><a href="search.php?catid={$catid}&order=8">起订由高到低</a></li>
						<li><a href="search.php?catid={$catid}&order=9">起订由低到高</a></li>
					</ul>
				</div>
			</div>
			<div class="filter-select">
				<div class="filter-select-hd">所有发布时间</div>
				<div class="filter-select-bd filter-select-time">
					<ul>
						<li><a href="search.php?catid={$catid}&day=1">1天内新信息</a></li>
						<li><a href="search.php?catid={$catid}&day=3">3天内新信息</a></li>
						<li><a href="search.php?catid={$catid}&day=7">7天内新信息</a></li>
						<li><a href="search.php?catid={$catid}&day=15">15天内新信息</a></li>
						<li><a href="search.php?catid={$catid}&day=30">30天内新信息</a></li>
						<li><a href="search.php?catid={$catid}&day=">所有发布时间</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--筛选栏结束-->

		<!--产品列表开始-->
		<div class="s-list s-pro-list">
			<ul>
				{loop $tags $k $t}
				<li class="item">
					<div class="pic">
						<div class="small-pic">
							<a href="{$t[linkurl]}" onClick="addHistoryBrowseCookie(141560485)" target="_blank">
								<img src="{$t[thumb]}" id="img141560485" alt="{$t[title]}" title="{$t[title]}" }></a>
						</div>
						<div class="big-pic">
							<div class="arrow"></div>
							<div class="border">
								<img src="{$t[thumb]}">
							</div>
						</div>
					</div>
					<div class="description">
						<div class="til">
							<a href="{$t[linkurl]}" onClick="addHistoryBrowseCookie(141560485)" target="_blank">{$t[title]}</a>
							<em>2017-07-26</em>
						</div>
						<div class="info">{$t[keyword]}</div>
						<div class="company">
							<a href="{userurl($t[username])}" class="related" target="_blank">[该公司相关产品]</a>
							<a href="#" class=""></a>
							{if $t[vip]}<img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级" align="absmiddle"/> {/if}<a href="{userurl($t[username])}" target="_blank">{$t[company]}</a>
						</div>
					</div>
					<div class="price">
						<div class="orange f16 fb">￥{$t[price]}元</div>
						<div class="mt15">{area_pos($t[areaid], ' ')}</div>
						<div class="credit"><em style="width:79%;"></em></div>
					</div>
					<div class="contact">
						<ul>
							<li><a href="{userurl($t[username])}&file=contact"><i class="ly"></i>留言询价</a></li>
							<li><a href="{userurl($t[username])}&file=contact"><i class="lx"></i>联系我们</a></li>
							<li><a href="tencent://message/?uin=2881259450&Site=龙易购&Menu=yes" target="_blank" rel="nofollow"><i class="qq"></i>在线洽谈</a></li>
							<li class="plxj" id="plxjli141560485"><a href="{userurl($t[username])}"><i class="xj"></i>进入商铺</a></li>
						</ul>
					</div>
				</li>
				{/loop}
			</ul>
		</div>

		<!--分页-->
		<div class="paging mb30">{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}</div>
		<!--分页-->
		<!--产品列表结束-->

	</div>
	<div class="s-main-r">
		<div class="s-r-box area-supply">
			<div class="hd">{$CAT[catname]}地区货源</div>
			<div class="bd">
				<ul>
					{php $mainarea = get_mainarea(0)}
					{loop $mainarea $k $v}
					{if $k<=9} <li {if $k==9} class="noborder"{/if}>
					<i class="ico"></i>
					<a href="{$MOD[linkurl]}search.php?areaid={$v[areaid]}&catid={$catid}">{$v[areaname]}{$CAT[catname]}货源</a></li>{/if}
					{/loop}

				</ul>
			</div>
		</div>
		<div class="s-r-box gold-supply mt10">
			<div class="bd">
				<!--{php $tagsad2=tag("table=ad&condition=pid=64&pagesize=3&template=null");}-->
				{loop $tagsad2 $i $t}
				<div class="ad234 pr" style="{if $i>0}margin-top:10px;{/if}width:275px">
					<a href="{$t[url]}" target="_blank"><img src="{$t[image_src]}" width="275" /></a>
					<div style="position:absolute; right:0px; bottom:0px;">
						<img src="http://r.longygo.com/v1/images/pclog.png" style="width:29px; height:16px;" />
					</div>
				</div>
				{/loop}
			</div>
		</div>
		<div id="history" class="s-r-box read-pro mt10" style="display:none"></div>
	</div>
</div>
<!--主要内容结束-->

<!--热门供应开始-->

<div class="hot-supply">
	<div class="hd">
		<!-- 这里要注意，是连接到商城得官方 -->
		<a href="#" class="fr f14 mr15">我也要出现在这里</a>热门推荐</div>
	<div class="bd clearfix">
		<div class="prev">
			<a class="">上一个</a>
		</div>
		<ul class="picList clearfix">



			<li>
				<a href="../product/t1.html" class="pic" target="_blank"><img src="../upload_1/2017/centerImg_319.jpg"></a>
				<p>
					<a href="../product/t1.html" target="_blank">Q641气动球阀 气动法兰球阀</a>
				</p>
				<p class="gray9 f12">江苏法尔机械制造有限公司</p>
			</li>

			<li>
				<a href="../product/t1.html" class="pic" target="_blank"><img src="../upload_1/2017/centerImg_319.jpg"></a>
				<p>
					<a href="../product/t1.html" target="_blank">出口美标德标英标日标橡胶接头管卡法兰管件等</a>
				</p>
				<p class="gray9 f12">芜湖新瑞阀门有限公司</p>
			</li>

		</ul>
		<div class="next">
			<a class="">下一个</a>
		</div>
	</div>
</div>

<!--热门供应结束-->

<!--您可能还感兴趣-->
<div class="interest-container">
	<div class="wrap clearfix">
		<div class="ww33 fl">
			<div class="f16 blue">您可能还感兴趣的产品</div>
			<div class="interest-left-box">
				<ul class="clearfix pr30">
					<li><a href="../products/search_pro.html" target="_blank">不锈钢球阀</a></li>
				</ul>
			</div>
		</div>
		<div class="ww33 fl">
			<div class="f16 blue pl30">您可能还感兴趣的厂家</div>
			<div class="interest-left-box">
				<ul class="clearfix pl30 pr30">
					<li><a href="../products/search_companys.html" target="_blank">不锈钢球阀厂家 </a></li>
				</ul>
			</div>
		</div>
		<div class="ww33 fl">
			<div class="interest-right-box">
				龙易购为您找到<span>23382</span>个最新{$CAT[catname]}产品信息，包括参数、型号、价格、图片和优质供应商/厂家，为您提供全面的{$CAT[catname]}产品信息和在线洽谈的机会， 找{$CAT[catname]}应信息尽在龙易购。
			</div>
		</div>
	</div>
	<div class="letter-tabnav wrap clearfix">
		<dl>
			<dt>按产品字母分类：</dt>
			{php $LETTER = array('A', 'V', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');}
			{loop $LETTER $L}
			<dd> <a  href='{rewrite('search.php?mid='.$M['moduleid'].'&kw='.$L)}' {if $letter==$L}class='cur'{else}L1{/if}>&nbsp;{$L}&nbsp;</a></dd>
			{/loop}

		</dl>
	</div>
</div>
<!--您可能还感兴趣 结束-->

<!--底部开始-->

<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    function selectSearchType(type) {
        if(type == 'prod') {
            $("#product").attr("class", "cur");
            $("#company").removeAttr("class");
            $("#buy").removeAttr("class");
            $("#searchType").val("prod");
        } else if(type == 'comp') {
            $("#product").removeAttr("class");
            $("#company").attr("class", "cur");
            $("#buy").removeAttr("class");
            $("#searchType").val("comp");
        } else {
            $("#product").removeAttr("class");
            $("#company").removeAttr("class");
            $("#buy").attr("class", "cur");
            $("#searchType").val("buy");
        }
    }
    var searchType = "prod";
    if(searchType != "" && searchType != "prod")
        selectSearchType(searchType);

    $(document).ready(function() {
        $(".filter_more_btn").click(function() { //点击til
            $('.filter_more').slideToggle("slow"); //当前的下一个显示或隐藏
            if($(this).hasClass("up")) { //如果有UP的样式
                $(this).removeClass("up"); //就移除
            } else {
                $(this).addClass("up"); //如果没有就加上
            }
        });

        $(".category-more-btn").click(function() { //点击til
            $(this).parents(".item").find('.category-more-con').slideToggle("slow")
        });
    });
</script>
<!--底部结束-->
<script type="text/javascript" src="http://r.longygo.com/v1/js/jquery-ui-autocomplete.js"></script>
<script type="text/javascript" src="http://r.longygo.com/v1/js/common.js"></script>
<script type="text/javascript" src="http://r.longygo.com/v1/js/SuperSlide.js"></script>
<script type="text/javascript" src="http://r.longygo.com/v1/js/search_comm.js"></script>
<script type="text/javascript" src="http://r.longygo.com/v1/js/supply_search.js"></script>

<script type="text/javascript" src="http://r.longygo.com/v1/js/tanchuang.js"></script>

<script type="text/javascript">
    /*面包屑*/
    $('.crumbs .category li').mouseover(function() {
        $(this).children().next().show();
    });
    $('.crumbs .category li').mouseout(function() {
        $(this).children().next().hide();
    });
    //优化留言询价，去掉登录操作  add by lxl begin
    function sendEnquiryContent(receiver, refId) {
        var content = $.trim($("#content").html());
        var encontact = $.trim($("#encontact").val());
        var enmobile = $.trim($("#enmobile").val());
        var enqq = $.trim($("#enqq").val());
        var sender = $("#sender").val();
        var receiver = receiver;
        var refId = refId;
        var reg1 = /^1\d{10}$|^\d{3,4}-\d{7,8}$/;
        var reg2 = /^\d{5,15}$/;
        if("" == enmobile) {
            alert("请填写电话号码");
            return;
        }

        if(!reg1.test(enmobile)) {
            alert("电话号码格式错误!");
            return;
        }

        if("" != enqq) {
            if(!reg2.test(enqq)) {
                alert("QQ号码格式错误!");
                return;
            }
        }

        if(content == '' || encontact == '' || enmobile == '' || content == '输入问题') {
            alert("请仔细填写留言信息再提交!");
            return;
        } else {
            $.ajax({
                async: false,
                type: "post",
                url: "shop/sendEnquiry.do?t=" + new Date().getTime(),
                data: {
                    'sender': sender,
                    'receiver': receiver,
                    'content': encodeURIComponent(content),
                    'contact': encodeURIComponent(encontact),
                    'telephone': enmobile,
                    'qq': enqq,
                    'refId': refId
                },
                success: function(data) {
                    if(data.rs == 'ok') {
                        alert("发送留言询价成功!");
                    } else {
                        alert("发送留言询价失败!");
                    }
                    $(".popup_bg").hide();
                    $("#enquiryDialog").hide();
                }
            });
        }
    }

    function hideEnquiryDialog() {
        $(".popup_bg").hide();
        $("#enquiryDialog").hide();
    }

    function setContentValue() {
        var sel = $("#selContent").val();
        var content = "";
        var itemValue = "";
        var items = document.getElementsByName("item");
        if(items.length > 0) {
            for(var i = 0; i < items.length; i++) {
                if(items[i].checked)
                    itemValue += items[i].value + ",";
            }
            content += "询问内容:" + itemValue + "\r\n";
        }
        if(sel != "")
            content += "询价内容:" + sel + "。";
        $("#content").html(content);
    }

    function setDefaultContent() {
        var cont = $.trim($("#content").html());
        if(cont == '') {
            $("#content").html("输入问题");
        }
    }

    function clearContent() {
        var con = $("#content").html();
        if(con == '输入问题') {
            $("#content").html("");
        }
    }
</script>


<style>
	.interest-container{ margin-bottom:0;}
</style>

{template 'footer-mall'}
