{template 'header-mall'}
<link rel="stylesheet" href="http://img1.gyyqcloud.com/industry/pages/industrialMall/css/productCenter/spxx.css" type="text/css" />
<!-- 弹出框 --> 
<script>
	//减少商品数量，不能少于最小起订量
	function reduceNumber(minNumber){
		var relNumber = $("#relNumber").val();
		if(parseInt(minNumber)>=parseInt(relNumber)){
			layer.alert("不能小于起订量"+minNumber);
			return;
		}
		var newNum= Number(relNumber)-1;
		if(newNum<1){
			newNum=1;
		}
		$("#relNumber").val(newNum);
	}
	//增加商品数量，不能大于库存量
	function addNumber(maxNumber){
		var relNumber = $("#relNumber").val();
		if(parseInt(maxNumber)<=parseInt(relNumber)){
			layer.alert("不能大于库存量"+maxNumber);
			return;
		}
		var newNum= Number(relNumber)+1;
		$("#relNumber").val(newNum);
	}
	//手动输入商品数量
	function modifyNumber(minNumber,maxNumber){
		var r=new RegExp("^[0-9]*[1-9][0-9]*$");
		var relNumber = $("#relNumber").val();
		if(!r.test(relNumber)){
			$("#relNumber").val(minNumber);
			return;
		}
		if(parseInt(relNumber)>parseInt(maxNumber)){
			$("#relNumber").val(maxNumber);	
			return;
		}
		if(parseInt(relNumber)<parseInt(minNumber)){
			$("#relNumber").val(minNumber);	
			return;
		}
	} 
</script>
<div class="body1"> 
  <!--面包屑 start-->
  <div class="crumbs">
    <div class="block"> 当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; </div>
  </div>
  <!--面包屑 end--> 
  <div class="spxx-detailed-part1">
    <div class="block">
      <div class="spxx-foucs">
        <div class="img"> <img src="{$albums[0]}" width="463" height="420" /> </div>
        <div class="nav">
          <div class="scroll1"> {loop $thumbs $k $v}<span><img src="{$v}" /></span>{/loop} </div>
          <a href="javascript:;" class="a prev"></a> <a href="javascript:;" class="a next"></a> </div>
      </div>
      <div class="spxx-detailed-purchase">
        <div class="spxx-desc">
          <h1><span class="title_trade">{$title}</span></h1>
          <p title="3M2091保证防尘防焊烟P100过滤棉防尘棉防毒面具配件" style="min-height: 10px;">3M2091保证防尘防焊烟P100过滤棉防尘棉防毒面具配件 </p>
        </div>
        <div class="spxx-price"> <span class="s1">价格：</span> <span class="s2">数量：</span>
          <div class="clearfix item">
            <div class="fix"> <a href="#">
              <h2><span style="font-size: 16px;">{$DT[money_sign]}</span>{$price}</h2>
              <p>1-{$amount}{$unit}</p>
              </a> </div>
            {if $a2}
            <div class="step_price">
              <table width="100%" cellpadding="6" cellspacing="0">
                <tr>
                  <td>起批</td>
                  <td>{$a1}-{$a2}{$unit}</td>
                  {if $a3}
                  <td>{$a2+1}-{$a3}{$unit}</td>
                  <td>{$a3}{$unit}以上</td>
                  {else}
                  <td>{$a2+1}{$unit}以上</td>
                  {/if} </tr>
                <tr>
                  <td>价格</td>
                  <td class="f_price">{$DT[money_sign]}<span class="px13">{$p1}</span></td>
                  {if $a3}
                  <td class="f_price">{$DT[money_sign]}<span class="px13">{$p2}</span></td>
                  <td class="f_price">{$DT[money_sign]}<span class="px13">{$p3}</span></td>
                  {else}
                  <td class="f_price">{$DT[money_sign]}<span class="px13">{$p2}</span></td>
                  {/if} </tr>
              </table>
            </div>
            {/if} </div>
        </div>
        <div class="freight"> <span class="s1">累计销量：</span> <span class="s2">{$sales} {$unit}</span> </div>
        <div class="freight"> <span class="s1">库存数量：</span> <span class="s2">{$amount}{$unit}</span> </div>
        <div class="number"> <span class="s1">数量：</span>
          <div class="select">
            <input type="text" id="relNumber" value="1" onblur="modifyNumber(1,{$amount})"/>
            <a href="javascript:void(0)" class="a prev"   onclick="reduceNumber(1)"></a> <a href="javascript:void(0)" class="a  next" onclick="addNumber({$amount})"></a> </div>
        </div>
        <div class="detailed-but"> <a href="javascript:BuyNow();">立即购买</a> <a href="javascript:void(0)" onclick="AddCart()">加入购物车</a> </div>
      </div>
      <div class="shopowner">{template 'contact', 'chip'} </div>
    </div>
  </div>
  <!--商品 end--> 
  
  <!--商品介绍 start-->
  <div class="spxx-detailed-part2">
    <div class="block">
      <div class="detailed-tabs"> <span class="now">商品介绍</span></div>
      <div class="detailed-tabs-content">
        <div class="block">
          <div class="tabs-content-box now">
            <div class="detail_pop_tpl" style="padding-bottom: 50px;"> {$content}
              <div class="mall_c" style="display:;" id="c_detail"> {if $CP}{template 'property', 'chip'}{/if}
                <div class="content c_b" id="content">{$content}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script> 
<script type="text/javascript">
var mallurl = '{$MOD[linkurl]}';
var mallid = {$itemid};
var n_c = {$comments};
var n_o = {$orders};
var c_c = "";
var c_o ="";
var s_s = {'1':0,'2':0,'3':0};
var m_l = {
	no_comment:'暂无评论',
	no_order:'暂无交易',
	no_goods:'商品不存在或已下架',
	no_self:'不能添加自己的商品',
	lastone:''
};
function BuyNow() {
	window.location=(mallurl+'buy.php?itemid='+mallid+'&s1='+s_s[1]+'&s2='+s_s[2]+'&s3='+s_s[3]+'&a='+$("#relNumber").val());
}
function AddCart() {
	window.location=(mallurl+'cart.php?itemid='+mallid+'&s1='+s_s[1]+'&s2='+s_s[2]+'&s3='+s_s[3]+'&a='+$("#relNumber").val());
}
</script> 
{template 'footer-index'}