






<div class="detail_scroll">
    <div class="scroll_list">
        <div></div>
        <div class="scroll_share">
            <div class="scroll_share_img"><img src="https://cdn.htres.cn/res/images/news/news_gzh_img.png" alt="关注公众号"></div>
            <div class="scroll_share_text">关注公众号</div>
        </div>
    </div>
    <div class="scroll_list">
        <div id="goBack"></div>
        <span class="go_back">返回顶部</span>
    </div>
</div>
<div class="phone_go_back"><span></span></div>


<div class="footer" spm="index.footer">
    <div class="container" data-animate-options="{'animate':'fadeIn','delay':0}">
        <div class="footer-content row clearfix">
            <div class="col-xs-12 col-sm-3">
                <div class="footer_contact">
                    <div>市场商务</div>
                    <div>023-85238885</div>
                    <i class="market_phone"></i>
                </div>
                <div class="footer_contact">
                    <div>客服热线</div>
                    <div>400-008-2859</div>
                    <i class="service_phone"></i>
                </div>
                <div class="footer_contact">
                    <div class="footer_contact_address">地址：	重庆市大足区昌州街国际会展中心2层</div>
                </div>
                <div class="footer_contact_line"></div>
                <div class="show_footer_iphone">
                    <div class="footer_iphone_title">联系我们</div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>市场商务</span>
                            <span class="iphone5_block"><a href="tel:023-85238885">023-85238885</a></span>
                            <i class="market_phone"></i>
                        </div>
                        <div class="col-xs-6">
                            <span>客服热线</span>
                            <span class="iphone5_block"><a href="tel:400-008-2859">400-008-2859</a></span>
                            <i class="service_phone"></i>
                        </div>
                    </div>
                    <div>地址：	重庆市大足区昌州街国际会展中心2层</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 footer_content_right">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item about-us">
                            <div class="footer-title">
                                <span>全国站点</span>
                            </div>
                            <ul class="footer-link-list">
                                <li><a target="_blank" href="/aboutus.html">重庆工业云平台</a></li>
                                <li><a target="_blank" href="http://www.jxicloud.com/">江西重庆工业云平台</a></li>
                                <li><a target="_blank" href="http://www.gz-icloud.com.cn/">贵州重庆工业云平台</a></li>
                                <li><a target="_blank" href="http://xiaogan.casicloud.com/">孝感重庆工业云平台</a></li>
                                <li><a target="_blank" href="http://ah.casicloud.com">安徽工业云</a></li>
                                <li><a target="_blank" href="http://www.nmggyy.com/">内蒙古工业云</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item quick-link">
                            <div class="footer-title">
                                <span>快速链接</span>
                            </div>
                            <ul class="footer-link-list">
                                <li><a target="_blank" href="/close/train.casicloud.com/mainout">在线培训平台</a></li>
                                <li><a target="_blank" href="http://www.yqscpt.com">央企双创平台</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item service">
                            <div class="footer-title">
                                <span>客户服务中心</span>
                            </div>
                            <ul class="footer-link-list">
                                <li><a target="_blank" href="http://kf.casicloud.com/question.html">常见问题</a></li>
                                <li><a target="_blank" href="http://kf.casicloud.com/userHelp.html">用户手册</a></li>
                                <li><a target="_blank" href="http://kf.casicloud.com/contact.html">在线咨询</a></li>
                                <li><a target="_blank" href="http://core.casicloud.com/cloud/tenant/tenantInfo/certification.ht">企业认证</a></li>
                                <li><a target="_blank" href="http://core.casicloud.com/busiSub/incrementService/cloudBusisubResour/business.ht">商机订阅</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>关于我们</span>
                            </div>
                            <ul class="footer-contact-list">
                                <li class="hidden-xs">
                                    <a target="_blank" href="/joinus.html">加入我们</a>
                                </li>
                                <li class="hidden-xs">
                                    <a target="_blank" href="/map.html">网站导航</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>重庆工业云APP</span>
                            </div>
                            <div class="footer-qrcode">
                                <img src="https://cdn.htres.cn/res/images/htyw_app.png?20170302" alt="重庆工业云APP"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>关注重庆工业云</span>
                            </div>
                            <div class="footer-qrcode">
                                <img src="https://cdn.htres.cn/res/images/htyw_ewm.png?20170213" alt="关注重庆工业云"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-links hidden-xs">
            <div class="az-horizontal-group">
                <div class="mini">
                    <span>友情链接</span>
                </div>
                <div class="plus">
                    <ul class="az-inline-block-list footer-link-list">
                        <li><a href="http://www.casic.com.cn/" target="_blank">中国航天科工集团</a></li>
<li><a href="http://www.mei.net.cn/" target="_blank">机经网</a></li>
<li><a href="http://www.guigu.org/" target="_blank">硅谷网</a></li>
<li><a href="http://www.ca800.com/" target="_blank">中国自动化网</a></li>
<li><a href="http://www.cechina.cn/" target="_blank">控制工程网</a></li>
<li><a href="http://www.81tech.com/" target="_blank">国防科技网</a></li>
<li><a href="http://www.eeworld.com.cn/" target="_blank">电子工程世界</a></li>
<li><a href="http://www.e-works.net.cn/" target="_blank">数字化企业网</a></li>
<li><a href="http://www.cm.hc360.com/" target="_blank">慧聪工程机械网</a></li>
<li><a href="http://www.jxdiguo.com/" target="_blank">机械帝国</a></li>
<li><a href="http://www.ck365.cn/" target="_blank">中国测控网</a></li>
<li><a href="https://www.solarbe.com" target="_blank">索比光伏网</a></li>
<li><a href="http://www.cut35.com/" target="_blank">中国刀具商务网</a></li>
<li><a href="http://www.mechnet.com.cn/" target="_blank">机械专家网</a></li>
<li><a href="http://www.chinajungong.com/" target="_blank">中国军工网</a></li>
<li><a href="http://www.gongkong.com/" target="_blank">中国工控网</a></li>
<li><a href="http://www.cntronics.com/" target="_blank">电子元件技术网</a></li>
<li><a href="http://www.soft6.com/" target="_blank">中国软件网</a></li>
<li><a href="http://www.ciotimes.com/" target="_blank">CIO时代网</a></li>
<li><a href="http://www.jixiezb.com.cn/" target="_blank">高端装备网</a></li>
<li><a href="http://www.cape.com.cn/" target="_blank">GJB军标网</a></li>
<li><a href="http://www.sensorexpert.com.cn" target="_blank">传感器专家网</a></li>
<li><a href="http://www.casicloud.com/close/www.zhizaoye.net/" target="_blank">制造业经理人网</a></li>
<li><a href="http://www.hangkong.com/" target="_blank">航空网</a></li>
<li><a href="http://www.meijiexia.com/" target="_blank">媒介匣</a></li>
<li><a href="http://www.casicloud.com/links.html" target="_blank">更多</a></li>
</ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright col-xs-12">
            <ul class="az-inline-block-list">
                <li>
                    <span>{$DT[copyright]}{if $DT[icpno]} | <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if}</span>
                </li>
                <li>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>