<div class="footer" spm="index.footer" style="height:40px; color:#FFF; text-align:center">
    <div class="container" data-animate-options="{'animate':'fadeIn','delay':0}">
      <div class="footer-copyright col-xs-12">
          <ul class="az-inline-block-list">
                <li style="line-height:40px;">
                    <span>Copyright&copy;2016重庆工业云平台,All Rights Reserved 渝ICP备16012914号-12 渝公网安备11010802022625</span>
                </li>
            </ul>
        </div>
    </div>
</div>