<div class="g-ft">
            <div class="g-ft-us clearfix">
                <ul class="us-list1">
                    <li class="us-tit">常见问题</li>
                    <li>
                        <a href="http://kf.casicloud.com/question/zhgl/20170112-001.html" target="_blank">帐号管理</a>
                    </li>
                    <li>
                        <a href="http://kf.casicloud.com/question/ggfw/20170112-019.html" target="_blank">广告服务</a>
                    </li>
                    <li>
                        <a href="http://kf.casicloud.com/question/zxjy/20170112-025.html" target="_blank">在线交易</a>
                    </li>
                    <li>
                        <a href="http://kf.casicloud.com/question/zqfw/20170112-022.html" target="_blank">专区服务</a>
                    </li>
                </ul>
                <ul class="us-list2">
                    <li class="us-tit">关于我们</li>
                    <li>
                        <a href="http://www.casicloud.com/" target="_blank">重庆工业云平台</a>
                    </li>
                    <li>
                        <a href="http://core.casicloud.com/jiangxiIndex.ht" target="_blank">江西重庆工业云平台</a>
                    </li>
                    <li>
                        <a href="http://www.gz-icloud.com.cn/" target="_blank">贵州重庆工业云平台</a>
                    </li>
                    <li>
                        <a href="http://xiaogan.casicloud.com/" target="_blank">孝感重庆工业云平台</a>
                    </li>
                </ul>
                <ul class="us-list3">
                    <li class="us-tit">便捷入口</li>
                    <li>
                        <a href="http://ydyl.casicloud.com" target="_blank">空间信息走廊云平台</a>
                    </li>
                    <li>
                        <a href="http://intl.indics.com/index.ht" target="_blank">INDICS国际版</a>
                    </li>
                   <!--  <li>
                        <a href="http://train.casicloud.com/Education/main" target="_blank">在线培训平台</a>
                    </li> -->
                    <li>
                        <a href="http://www.yqscpt.com" target="_blank">央企双创平台</a>
                    </li>
                    <li>
                        <a href="http://os.casicloud.com/yun.ht" target="_blank">企业上云</a>
                    </li>
                </ul>
                <ul class="us-list4">
                    <li class="us-tit">客户服务</li>
                    <li>
                        <a target="_blank" href="http://kf.casicloud.com/userHelp.html">用户手册</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://kf.casicloud.com/contact.html">在线咨询</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://core.casicloud.com/cloud/tenant/tenantInfo/certification.ht">企业认证</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://kf.casicloud.com/question/sjdy/20170112-015.html">商机订阅</a>
                    </li>
                </ul>
                <ul class="us-list5">
                    <li class="us-tit">联系我们</li>
                    <li>市场商务：010-88624331</li>
                    <li>客服热线：400-008-2859</li>
                    <li class="us-code">
                        <div class="f_left" style="float:left;">
                            <img src="http://oi2cgvwkk.bkt.clouddn.com//resources/style/soft/images/softPond_footerWeChat.jpg" alt="code">
                            <p>重庆工业云微信</p>
                        </div>
                        <div class="f_right" style="float:right;">
                            <img src="http://oi2cgvwkk.bkt.clouddn.com//resources/style/soft/images/softPond_footerApp.jpg" alt="code">
                            <p>重庆工业云APP</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="g-ft-links">
	            <div class="g-ft-sites">
	            	<span>INDICS site：</span>
	            	<a href="http://intl.indics.com" target="_blank">International</a>
	                <a href="https://www.indics.de" target="_blank">Deutsch</a>
	                <a href="http://www.indics.us" target="_blank">Unite State</a>
	                <a href="http://www.indics.pk" target="_blank">Pakistan</a>
	                <a href="http://os.casicloud.com" target="_blank">中国</a>
	            </div>
                <a href="http://www.ca800.com" target="_blank">中国自动化网</a>
                <a href="http://www.cechina.cn/" target="_blank">控制工程网</a>
                <a href="http://www.eeworld.com.cn/" target="_blank">电子工程世界</a>
                <a href="http://www.mechnet.com.cn/" target="_blank">中国机械专家网</a>
                <a href="http://www.cntronics.com/" target="_blank">电子元件技术网</a>
                <a href="http://www.fyjs.casic.cn" target="_blank">中国航天科工二院</a>
                <a href="http://www.fhjs.casic.cn" target="_blank">中国航天科工三院</a>
                <a href="http://www.aerosun.cn" target="_blank">航天晨光股份公司</a>
                <a href="http://www.aisino.com" target="_blank">航天信息股份有限公司</a>
                <a href="http://www.cnnsr.com.cn/" target="_blank">纳税服务网</a>
                <a href="http://www.casic.com.cn" target="_blank">中国航天科工集团</a>
</div>
            <p class="g-ft-cprt">Copyright@2016重庆工业云&nbsp;All Rights Reserved&nbsp;京ICP备16012914号-12京公网安备11010802022625</p>
        </div>

<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>