<div class="g-ft" style="padding-bottom:0">
            
            <div class="g-ft-us clearfix">
                <ul class="us-list1">
                    <li class="us-tit">常见问题</li>
                    {php $helplist = get_maincat(39159, 27, 1);}
          			{loop $helplist $i $c}
                    {if $i<=3}
                    <li>
                        <a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a>
                    </li>
                    {/if}
                    {/loop}
                </ul>
                <ul class="us-list2">
                    <li class="us-tit">关于我们</li>
                                {php $helplist = get_maincat(39176, 27, 1);}
                                {loop $helplist $i $c}
                                {if $i<=4}
                                <li><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></li>
                                {/if}
                                {/loop}
                </ul>
                <ul class="us-list3">
                    <li class="us-tit">便捷入口</li>
             {php $links=tag("table=link&condition=1=1 and typeid=23&areaid=$cityid&order=rand()&pagesize=4&template=null&debug=0");}
             {loop $links $i $t}<li> <a href="{$t[linkurl]}">{$t[title]}</a> </li>{/loop}
                </ul>
                <ul class="us-list4">
                    <li class="us-tit">客户服务</li>
                                {php $helplist = get_maincat(39159, 27, 1);}
                                {loop $helplist $i $c}
                                {if $i<=4}
                                <li><a href="/help/{$c[linkurl]}">{$c[catname]}</a></li>
                                {/if}
                                {/loop}
                </ul>
                <ul class="us-list5">
                    <li class="us-tit">联系我们</li>
                    <li>市场商务：023-85238885</li>
                    <li>客服热线：400-008-2859</li>
                    <li class="us-code">
                        <div class="f_left" style="float:left;">
                            <img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170302" alt="code">
                            <p>龙智造工业云平台微信</p>
                        </div>
                        <div class="f_right" style="float:right;">
                            <img src="http://img1.gyyqcloud.com/res/images/htyw_ewmbd21.png?20170213" alt="code">
                            <p>企业微信</p>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="g-ft-cprt" style="text-align:center">Copyright@2018 龙智造工业云平台&nbsp;All Rights Reserved&nbsp;渝ICP备18001657号 渝公网安备11010802022625</p>
        </div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9f06159b24ce69b0821563b109488f2a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>