<!--友情链接开始-->
<div class="footer">
    <div class="wrap border_b clearfix pb20">
        <div class="footer_l tc lh24">
            <img src="{if $MODULE[$moduleid][logo]}{DT_SKIN}image/logo_{$moduleid}.gif{elseif $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.gif{/if}">
            <p class="f24 gray9 arial bold mt10">{$DT[telephone]}</p>
            <p class="f18 gray9"><a href="mailto:longygo@longygo.com" target="_blank">longygo@longygo.com</a></p>
        </div>
        <div class="footer_c">
            <dl>
                <dt>关于我们</dt>
                                {php $helplist = get_maincat(39176, 27, 1);}
                                {loop $helplist $i $c}
                                {if $i<=4}
                                <dd><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></dd>
                                {/if}
                                {/loop}
            </dl>
                            <dl><dt>全国站点</dt>
                                <dd><a target="_blank" href="http://www.cqdzgx.gov.cn/">万古工业云</a></dd>
                                <dd><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></dd>
                                <dd><a target="_blank" href="http://dzsq.gyyqcloud.com/">双桥工业云</a></dd>
                                <dd><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></dd>
                            </dl>
            <dl>
                <dt>客户服务</dt>
                    {php $helplist = get_maincat(39159, 27, 1);}
          			{loop $helplist $i $c}
                    {if $i<=4}
                    <dd><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></dd>
                    {/if}
                    {/loop}
            </dl>
            <dl>
                <dt>快速链接</dt>
             {php $links=tag("table=link&condition=1=1&areaid=$cityid&order=rand()&pagesize=4&template=null&debug=0");}
             {loop $links $i $t}<dd> <a href="{$t[linkurl]}">{$t[title]}</a> </dd>{/loop}
            </dl>
        </div>
        <!--div class="footer_r fl">
            <div class="fl tc"><img src="http://img1.taojindi.com/app/images/weixin.jpg?t=201604256" width="120" height="120"><br>龙易购微信</div>
            <div class="fl tc ml20"><img src="http://img1.taojindi.com/app/images/weibo.jpg?t=201604256" width="120" height="120"><br>龙易购微博</div>
        </div-->
    </div>
    <div class="footer_nav tc mt15 mb5">{if $DT[icpno]} | <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if} {$DT[copyright]}</div>
</div>
<script type="text/javascript">
    $(function(){
        $("img.lazy").lazyload({threshold : 100});
    });
</script>
<!--底部-->
<script type="text/javascript">
    {if $destoon_task}
    show_task('{$destoon_task}');
    {else}
    {php include DT_ROOT.'/api/task.inc.php';}
    {/if}
        {if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>

