<div class="footer" spm="index.footer">
    <div class="container" data-animate-options="{'animate':'fadeIn','delay':0}">
        <div class="footer-content row clearfix">
            <div class="col-xs-12 col-sm-3">
                <div class="footer_contact">
                    <div>市场商务</div>
                    <div>023-85238885</div>
                    <i class="market_phone"></i>
                </div>
                <div class="footer_contact">
                    <div>客服热线</div>
                    <div>400-008-2859</div>
                    <i class="service_phone"></i>
                </div>
                <div class="footer_contact">
                    <div class="footer_contact_address">地址：重庆市大足区昌州街国际会展中心2层</div>
                </div>
                <div class="footer_contact_line"></div>
                <div class="show_footer_iphone">
                    <div class="footer_iphone_title">联系我们</div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>市场商务</span>
                            <span class="iphone5_block"><a href="tel:023-85238885">023-85238885</a></span>
                            <i class="market_phone"></i>
                        </div>
                        <div class="col-xs-6">
                            <span>客服热线</span>
                            <span class="iphone5_block"><a href="tel:400-008-2859">400-008-2859</a></span>
                            <i class="service_phone"></i>
                        </div>
                    </div>
                    <div>地址：	重庆市大足区昌州街国际会展中心2层</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 footer_content_right">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item about-us">
                            <div class="footer-title">
                                <span>全国站点</span>
                            </div>
                            <ul class="footer-link-list">
                                <li><a target="_blank" href="http://www.cqdzgx.gov.cn/">万古工业云</a></li>
                                <li><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></li>
                                <li><a target="_blank" href="http://dzsq.gyyqcloud.com/">双桥工业云</a></li>
                                <li><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item quick-link">
                            <div class="footer-title">
                                <span>快速链接</span>
                            </div>
                            <ul class="footer-link-list">
                             {php $links=tag("table=link&condition=1=1&areaid=$cityid&order=rand()&pagesize=4&template=null&debug=0");}
                             {loop $links $i $t}<li> <a href="{$t[linkurl]}">{$t[title]}</a> </li>{/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item service">
                            <div class="footer-title">
                                <span>客户服务中心</span>
                            </div>
                            <ul class="footer-link-list">
                            {php $helplist = get_maincat(39159, 27, 1);}
                            {loop $helplist $i $c}
                            {if $i<=4}
                            <li>
                                <a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a>
                            </li>
                            {/if}
                            {/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>关于我们</span>
                            </div>
                            <ul class="footer-contact-list">
                                {php $helplist = get_maincat(39176, 27, 1);}
                                {loop $helplist $i $c}
                                {if $i<=4}
                                <li class="hidden-xs"><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></li>
                                {/if}
                                {/loop}
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>云平台微信</span>
                            </div>
                            <div class="footer-qrcode">
                                <img src="http://img1.gyyqcloud.com/res/images/htyw_ewmbd21.png?20170213" alt="企业微信"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-links hidden-xs">
            <div class="az-horizontal-group">
                <div class="mini">
                    <span>友情链接</span>
                </div>
                <div class="plus">
                    <ul class="az-inline-block-list footer-link-list">
                                    {php $links=tag("table=link&condition=1=1 &areaid=$cityid&order=rand()&pagesize=16&template=null&debug=0");}
             {loop $links $i $t}<li> <a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> </li>{/loop}
					</ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright col-xs-12">
            <ul class="az-inline-block-list">
                <li>
                    <span>Copyright&copy;2018&nbsp;&nbsp;重庆龙易购电子商务有限公司&nbsp;&nbsp;All Rights Reserved</span>
                </li>
                <li>
                    <span>渝ICP备18001657号</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(window).resize(function(){
            if($(window).width() < 780){
                $('.footer').width('100%')
            }
        });
    });
</script><script type="text/javascript">
    HT.user.addListener(function (userInfo, loginUrl, logoutUrl) {
        var indexUrl = window.location.href;
        var nowUrl = loginUrl.replace(/%s/, indexUrl);
        var outUrl = logoutUrl.replace(/%s/, encodeURIComponent(window.location.href));
        if (userInfo) {
            $('#banner_logout_panel').show();
            $('#banner_login_panel').hide();

            $('#header_logout').show();
            $('#header_login').hide();

            $('#cancellation').attr('href', outUrl);
        }
        else {
            $('#loginBtn').attr('href', nowUrl);
            $('#header_loginBtn').attr('href', nowUrl);
        }
    });

    $(function() {
 
        new Swiper('#banner_swiper', {
            pagination : '.swiper-pagination',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 0,
            loop: true,
            autoplay: 3000,
            speed: 1000,
            autoplayDisableOnInteraction : false,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next'
        });

        $('.app-list img').attr('onerror',"javascript:this.src=''");

        $('#news-tab').on('click', 'li', function() {
            if ($(this).hasClass('active')) {
                return;
            }
            $(this).siblings('li.active').removeClass('active');
            $(this).addClass('active');
            var target = $($(this).find('a').data('target'));
            target.siblings('.news-panel.active').removeClass('active');
            target.addClass('active');
        });

        $('.header-menu').on('click', function() {
            $(this).toggleClass('active');
        });

        $('.make-product').on('mouseenter', function() {
            var liLengths = $(this).children('.product-list').children('li').length;
            var nowIndex = $(this).find('li.active').index();
            var prev = $(this).find('.prev');
            var next = $(this).find('.next');
            if(nowIndex == liLengths - 1){
                next.hide();
                prev.show();
            }else if(nowIndex == 0){
                next.show();
                prev.hide();
            }else{
                prev.show();
                next.show();
            }
        }).on('mouseleave', function() {
            var liLengths = $(this).find('li').length;
            var nowIndex = $(this).find('li.active').index();
            var prev = $(this).find('.prev');
            var next = $(this).find('.next');
            next.hide();
            prev.hide();
        });

        $('.make-product').on('click', '.product-picture-btn.prev', function() {
            var ul = $(this).parent('.make-product').find('.product-list');
            var current = ul.find('li.active');
            $(this).siblings('.next').show();
            if (current.index() == 1) {
                // 第一个
                $(this).hide();
            }
            var target = current.prev('li');
            current.removeClass('active');
            target.addClass('active');
        });

        $('.make-product').on('click', '.product-picture-btn.next', function() {
            var flag = false;
            var ul = $(this).parent('.make-product').find('.product-list');
            var current = ul.find('li.active');
            $(this).siblings('.prev').show();
            if (current.index() == ul.children('li').length - 2) {
                // 最后一个
                $(this).hide();
            }
            var target = current.next('li');
            current.removeClass('active');
            target.addClass('active');
        });

        $('.column-area-box').on('mouseover', '.column-menu', function() {
            var _thisbox = $(this).parent('li');
            if (_thisbox.hasClass('active')) {
                return
            }
            var current = _thisbox.siblings('li.active');
            current.removeClass('active');
            _thisbox.addClass('active');
        });

        $('#news-tab').on('mouseover', 'li', function() {
            var index = $(this).index() + 1;
            $(this).addClass('active').siblings("li").removeClass('active');
            $('#news_' + index).addClass('active').siblings('.news-panel').removeClass('active');
        });
        $('#app-tab').on('mouseover', 'li', function() {
            var index = $(this).index() + 1;
            $(this).addClass('active').siblings("li").removeClass('active');
            $('#app_' + index).addClass('active').siblings('.news-panel').removeClass('active');
        });

        //平台实况数据
        var flagNumCompany = 0;
        var flagNumBuy = 0;
 
 

        //ie10 9 尾数有默认两位小数的兼容处理
        function changeDatas(num) {
            var numLength = num.toString().length;
            if(numLength > 0 && numLength < 4){
                return num.toString();
            }else if(numLength >= 4 && numLength <= 6){
                return num.toString().substring(0, numLength - 3) + "," + num.toString().substring(numLength - 3);
            }else if(numLength >= 7 && numLength <= 9){
                return num.toString().substring(0, numLength - 6) + "," + num.toString().substring(numLength - 6, numLength - 3) + "," + num.toString().substring(numLength - 3);
            }
        }

        var dev_flag = true, dev_online_flag = true, bigdata_flag = true, bigdata_col_flag = true;
 
        $('a').on('mouseover',function(event){
            if($(this).attr('href') === 'javascript:;'&& $(this).text() === '' ){
                $(this).css({'cursor': 'default'});
            }else if($(this).attr('href') === 'javascript:;'&& $(this).text() != '' ){
                $(this).css({'cursor': 'text'});
            }
        });
        $('a').on('click',function(event){
            if($(this).attr('href') === 'javascript:;'|| $(this).attr('href') === 'javascript:' ){
                stopPropagation(event);
                preventDefault(event);
                return false;//兼容所有浏览器
            }
        });
        //停止事件冒泡
        function stopPropagation(event) {
            var e = event || window.event;
            if (e.stopPropagation)
                e.stopPropagation();
            e.cancelBubble = true;
        }
        //停止默认事件
        function preventDefault(event) {
            var e = event || window.event;
            if (e.preventDefault)
                e.preventDefault();
            e.returnValue = false;
        }

//        var time1 = '2017/12/27';
//        var time2 = '2017/12/31';
//        var time3 = '2017/12/27';
        var time1 = $('#time1').text();
        var time2 = $('#time2').text();
        var time3 = $('#time3').text();

        function getTime(newTime){
            var date1=new Date();
            var date2=new Date(newTime);
            var date3=date2.getTime()-date1.getTime();
            var days=Math.ceil(date3/(24*3600*1000));
            if(days == 0){
                return "最后一天";
            }
            if(days < 0){
                return "已过期";
            }

            return days + "天";
            setInterval(getTime, 1000);
        }
        var text1 = getTime(time1);
        var text2 = getTime(time2);
        var text3 = getTime(time3);
        $('#time1').text(text1);
        $('#time2').text(text2);
        $('#time3').text(text3);
 


        function numshow(e) {
            var stv1;
            var x = parseInt($(e).attr("alt"));
            var y = 0;
            x = "" + x;
            var arr = [];

            for (var i = 0; i < x.length; i++) {
                var elem = $("<i></i>");
                arr[i] = elem.text(x.charAt(i));
            }

            if (x >= 100) {
                var z = parseInt(x / 100);
                var t = 10;
            } else {
                var z = 1;
                t = 150;
            }
            var stv1 = setInterval(function () {
                y = y + z;
                $(e).text(y);
                if (y + z >= x) {
                    /*$(e).text(x);*/
                    $(e).html("");
                    for (var i = 0; i < arr.length; i++) {
                        arr[i].appendTo(e);
                    }
                    clearInterval(stv1);
                }
            }, t);
        }
        var _isMobile = false;
        var timerNav1 = null;
        var timerNav2 = null;
        var currentLi1 = 0;
        var currentLi2 = 0;
        function showInt1() {
            timerNav1 = setInterval(function () {
                showActiveLi1();
            }, 6000);
        }
        function showInt2() {
            timerNav2 = setInterval(function () {
                showActiveLi2();
            }, 6000);
        }
        showInt1();
        showInt2();
        function showActiveLi1() {
            var $navUl = $('#scrollNav1').children('ul');
            var $navLi = $navUl.children('li');
            var len = $navLi.length;
            if(currentLi1 >= len){
                currentLi1 = 0;
            }
            $navLi.removeClass('active');
            $navLi.eq(currentLi1).addClass('active');
            $('#index_demand .portlet-body:eq(0) .sharing-list table:eq(' + currentLi1 + ')').show().siblings().hide();
            currentLi1++;
        }
        function showActiveLi2() {
            var $navUl = $('#scrollNav2').children('ul');
            var $navLi = $navUl.children('li');
            var len = $navLi.length;
            if(currentLi2 >= len){
                currentLi2 = 0;
            }
            $navLi.removeClass('active');
            $navLi.eq(currentLi2).addClass('active');
            $('#index_demand .portlet-body:eq(1) .sharing-list table:eq(' + currentLi2 + ')').show().siblings().hide();
            currentLi2++;
        }
        if(!_isMobile){
            //求购和需求
            $('#index_demand div.portlet-nav.nav-top').on('mouseenter','li',function() {
                $(this).addClass('active').siblings().removeClass('active');
                currentLi1 = $(this).index();
                $('#index_demand .portlet-body:eq(0) .sharing-list table:eq(' + currentLi1 + ')').show().siblings().hide();
                clearInterval(timerNav1);
            }).on('mouseleave','li', function () {
                currentLi1++;
                showInt1();
            });
            //配套和服务
            $('#index_demand div.portlet-nav.nav-bottom').on('mouseenter','li',function() {
                $(this).addClass('active').siblings().removeClass('active');
                currentLi2 = $(this).index();
                clearInterval(timerNav2);
                $('#index_demand .portlet-body:eq(1) .sharing-list table:eq(' + currentLi2 + ')').show().siblings().hide();
            }).on('mouseleave','li', function () {
                currentLi2++;
                showInt2();
            });
        }
        // 新闻模块移动端适配
        if(_isMobile){
            $('#news-tab').on('click', 'li',function(e){
                var index = $(this).index() + 1;
                $(this).addClass('active').siblings("li").removeClass('active');
                $('#news_' + index).addClass('active').siblings('.news-panel').removeClass('active');
                preventDefault(e);
                return false;
            });
            $('#app-tab').off().on('click', 'li',function(e){
                var index = $(this).index() + 1;
                $(this).addClass('active').siblings("li").removeClass('active');
                $('#app_' + index).addClass('active').siblings('.news-panel').removeClass('active');
                preventDefault(e);
                return false;
            });
            $('.column-area-box').off().on('click', '.column-menu', function(e) {
                var _thisbox = $(this).parent('li');
                if (_thisbox.hasClass('active')) {
                    return
                }
                var current = _thisbox.siblings('li.active');
                current.removeClass('active');
                _thisbox.addClass('active');
                preventDefault(e);
                return false;
            });
            //求购和需求
            $('#index_demand div.portlet-nav.nav-top').on('click','li',function(e){
                if(!$(this).hasClass('active')){
                    preventDefault(e);
                }
                $(this).addClass('active').siblings().removeClass('active');
                currentLi1 = $(this).index();
                $('#index_demand .portlet-body:eq(0) .sharing-list table:eq('+currentLi1 + ')').show().siblings().hide();
                if($(this).hasClass('active')){
                    return true;
                }

            });
            //配套和服务
            $('#index_demand div.portlet-nav.nav-bottom').on('click','li',function(e){
                if(!$(this).hasClass('active')){
                    preventDefault(e);
                }
                $(this).addClass('active').siblings().removeClass('active');
                currentLi2 = $(this).index();
                $('#index_demand .portlet-body:eq(1) .sharing-list table:eq('+currentLi2 + ')').show().siblings().hide();
                if($(this).hasClass('active')){
                    return true;
                }
            });
        }

        /*新添企业应用门户header*/
        $('#workBenchHover li').on('mouseenter', 'a', function () {
            $(this).children('.workbench_header_img').hide();
            $(this).children('.workbench_header_hover_img').show();
        });
        $('#workBenchHover li').on('mouseleave', 'a', function () {
            $(this).children('.workbench_header_img').show();
            $(this).children('.workbench_header_hover_img').hide();
        });


    });
</script>

<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9f06159b24ce69b0821563b109488f2a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>