
<div class="footer" spm="index.footer">
    <div class="container" data-animate-options="{'animate':'fadeIn','delay':0}">
        <div class="footer-content row clearfix">
            <div class="col-xs-12 col-sm-3">
                <div class="footer_contact">
                    <div>市场商务</div>
                    <div>023-85238885</div>
                    <i class="market_phone"></i>
                </div>
                <div class="footer_contact">
                    <div>客服热线</div>
                    <div>400-008-2859</div>
                    <i class="service_phone"></i>
                </div>
                <div class="footer_contact">
                    <div class="footer_contact_address">地址：	重庆市大足区昌州街国际会展中心2层</div>
                </div>
                <div class="footer_contact_line"></div>
                <div class="show_footer_iphone">
                    <div class="footer_iphone_title">联系我们</div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>市场商务</span>
                            <span class="iphone5_block"><a href="tel:023-85238885">023-85238885</a></span>
                            <i class="market_phone"></i>
                        </div>
                        <div class="col-xs-6">
                            <span>客服热线</span>
                            <span class="iphone5_block"><a href="tel:400-008-2859">400-008-2859</a></span>
                            <i class="service_phone"></i>
                        </div>
                    </div>
                    <div>地址：	重庆市大足区昌州街国际会展中心2层</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 footer_content_right">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item about-us">
                            <div class="footer-title">
                                <span>全国站点</span>
                            </div>
                            <ul class="footer-link-list">
                                <li><a target="_blank" href="http://www.cqdzgx.gov.cn/">万古工业云</a></li>
                                <li><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></li>
                                <li><a target="_blank" href="http://dzsq.gyyqcloud.com/">双桥工业云</a></li>
                                <li><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item quick-link">
                            <div class="footer-title">
                                <span>快速链接</span>
                            </div>
                            <ul class="footer-link-list">
                             {php $links=tag("table=link&condition=1=1&areaid=$cityid&order=rand()&pagesize=4&template=null&debug=0");}
                             {loop $links $i $t}<li> <a href="{$t[linkurl]}">{$t[title]}</a> </li>{/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item service">
                            <div class="footer-title">
                                <span>客户服务中心</span>
                            </div>
                            <ul class="footer-link-list">
                            {php $helplist = get_maincat(39159, 27, 1);}
                            {loop $helplist $i $c}
                            {if $i<=4}
                            <li>
                                <a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a>
                            </li>
                            {/if}
                            {/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>关于我们</span>
                            </div>
                            <ul class="footer-contact-list">
                                {php $helplist = get_maincat(39176, 27, 1);}
                                {loop $helplist $i $c}
                                {if $i<=4}
                                <li class="hidden-xs"><a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a></li>
                                {/if}
                                {/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>云平台微信</span>
                            </div>
                            <div class="footer-qrcode">
                                <img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170302" alt="云平台微信"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-title">
                                <span>企业微信</span>
                            </div>
                            <div class="footer-qrcode">
                                <img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170302" alt="云平台微信"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-links hidden-xs">
            <div class="az-horizontal-group">
                <div class="mini">
                    <span>友情链接</span>
                </div>
                <div class="plus">
                    <ul class="az-inline-block-list footer-link-list">
                        <li><a>首页</a></li>
                                    {php $links=tag("table=link&condition=1=1 &areaid=$cityid&order=rand()&pagesize=16&template=null&debug=0");}
             {loop $links $i $t}<li> <a href="{$t[linkurl]}">{$t[title]}</a> </li>{/loop}
</ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright col-xs-12">
            <ul class="az-inline-block-list">
                <li>
                    <span>{$DT[copyright]}{if $DT[icpno]} | <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if}</span>
                </li>
                <li>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>