<div class="footer" spm="index.footer" style="height:40px; color:#FFF; text-align:center">
    <div class="container" data-animate-options="{'animate':'fadeIn','delay':0}">
      <div class="footer-copyright col-xs-12">
          <ul class="az-inline-block-list">
                <li style="line-height:40px;">
                    <span>Copyright&copy;2016重庆工业互联网云平台&nbsp;&nbsp;All Rights Reserved 渝ICP备18001657号</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9f06159b24ce69b0821563b109488f2a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>