 
	
	<!--基础脚本加载 -->
<div class="footer">
            <div class="cWidth">
                <div class="link-box">
                    <ul class="list1">
                        <li class="title">全国站点</li>
                                <li><a target="_blank" href="http://www.cqdzgx.gov.cn/">万古工业云</a></li>
                                <li><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></li>
                                <li><a target="_blank" href="http://dzsq.gyyqcloud.com/">双桥工业云</a></li>
                                <li><a target="_blank" href="http://dzls.gyyqcloud.com/">龙水工业云</a></li>
                    </ul>
                    <ul class="list2">
                        <li class="title">快速链接</li>
                             {php $links=tag("table=link&condition=1=1&areaid=$cityid&order=rand()&pagesize=4&template=null&debug=0");}
                             {loop $links $i $t}<li> <a href="{$t[linkurl]}">{$t[title]}</a> </li>{/loop}
                    </ul>
                    <ul class="list3">
                        <li class="title">服务支持</li>
                            {php $helplist = get_maincat(39159, 27, 1);}
                            {loop $helplist $i $c}
                            {if $i<=4}
                            <li>
                                <a href="/help/{$c[linkurl]}" class="eif-header-nav-one">{$c[catname]}</a>
                            </li>
                            {/if}
                            {/loop}
                    </ul>
                    <ul class="list4">
                        <li class="title">联系我们</li>
                        <li class="title">
                            <a href="#">加入我们</a>
                        </li>
                        <li>
                            <p>电话：400-008-2859 </p>
                            <p>地址：重庆市大足区</p>
                            <p>昌州街国际会展中心2层</p>
                        </li>
                    </ul>
                    <ul class="list5">
                        <li class="title">
                            <a class="s1" href="#">云平台微信</a>
                            <span class="s2">关注云网</span>
                        </li>
                    </ul>
                </div>
                <div class="link-mod">
                    <p class="link-mod-l">友情链接：</p>
                    <div class="link-mod-r">
                                    {php $links=tag("table=link&condition=1=1 &areaid=$cityid&order=rand()&pagesize=16&template=null&debug=0");}
             {loop $links $i $t}<a href="{$t[linkurl]}">{$t[title]}</a><span>|</span> {/loop}
					</div>
                </div>
            </div>
 
            <div class="site">
                <p>Copyright@2018&nbsp;&nbsp;重庆龙易购电子商务有限公司&nbsp;&nbsp;All Rights Reserved&emsp;|&emsp;渝ICP备18001657号    渝公网安备1101082014254</p>
            </div>
        </div>