<div class="search_header">
    <div class="container">
        <div class="header_news clearfix">
            <div class="logo_news fl">
                <a href="/"><img src="http://img1.gyyqcloud.com/res/images/930/logo.png" alt="Logo"></a>
            </div>
            <div class="logo_key fl">
                <div class="phone_line"><i></i>{php if ($moduleid==6){ echo "求购信息"; }else if ($moduleid==5){ echo "能力信息";}else{echo "新闻中心";} }</div>
            </div>
            <!--div class="post_demand fr">
                <div class="click_demand">发布需求<i></i></div>
                <div class="check_demand">
                    <div><a href="/member/my.php?mid=6&action=add" target="_self">求购需求发布</a></div>
                    <div><a href="/member/my.php?mid=5&action=add" target="_self">能力需求发布</a></div>
                </div>
            </div-->
            <div class="logo_search fr">
                <div class="header_right_box">
                    <div class="search_tab">
                        <a href="#" data-url="/industry/search.php?kw=" class="focus" hidefocus="true">产品<span></span></a>
                        <a href="#" data-url="/services/search.php?kw=" hidefocus="true">服务<span></span></a>
                        <a href="#" data-url="/sell/search.php?kw=" hidefocus="true">协作<span></span></a>
                        <a href="#" data-url="/buy/search.php?kw=" hidefocus="true">求购<span></span></a>
                        <a href="#" data-url="/expertpool/search.php?kw=" hidefocus="true">专家</a>
                    </div>
                    <div class="logo_search_input">
                        <input autocomplete="off" id="keyword" name="kw" maxlength="50" type="text" placeholder="输入搜索关键字" value="" /><a href="#" onClick="searchKeyword(); return false;" class="search_btn">搜索</a>
                    </div>
                </div>
            </div>
            <script>
                var placeholder = '请输入' + $('.search_tab a[data-url="' + search + '"]').text() + '名称';
                $('#keyword').attr('placeholder', placeholder);

                function searchKeyword(){
                    var keyword = $('#keyword').val().trim();
                    var isBuy = $('.search_tab a.focus').is($('.search_tab a').eq(3));
                    var url = isBuy ? ('http://www.gyyqcloud.com' + $('.search_tab a.focus').attr('data-url')) : $('.search_tab a.focus').attr('data-url');
                    if(placeholder == keyword){
                        keyword = "";
                    }
                  window.location=url+encodeURI(keyword);
                }
            </script>
        </div>
    </div>
    <div class="phone_back"><a href="javascript:history.go(-1)"></a></div>
</div>