<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
{if $head_mobile}
<meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
{/if}
<link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>


		<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/pages/index/css/style_930dc78.css?v20171225" />
		<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/bootstrap.min.css" />
		<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/swiper.min.css" />
		<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/base_930.css" />
		<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/custom_930.css" />	
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/common.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/htyw_ul.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/search.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/jquery-util.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/assets.common.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/swiper.jquery.min.js"></script>
</head>
<body>

<div class="header">
			<!-- 头部开始 -->
    		<div class="header" spm="index.topbar">
    			<div class="navbar" data-animate-options="{'animate':'fadeIn','delay':0}">
        			<div class="topbar_container">
			            <div class="pull-left">
			                <ul class="az-horizontal-nav az-horizontal-nav-left">
                                {if $_userid}
                                <li id="business"><span>{$_username},欢迎来到龙智造工业云平台!</span></li>
                                <li><a href="{$MODULE[2][linkurl]}">个人中心</a></li>
                                <li><a href="{$MODULE[2][linkurl]}logout.php">退出</a></li>
                                {else}
                                <li id="business"><span>欢迎来到重庆工业互联网云平台!</span></li>
                                <li><a href="javascript:" target="_blank" id="new_username" class="right_line" style="display: none"></a></li>
                                <li><a href="/member/login.php" id="login">登录</a></li>
                                <li id="register"><a href="/member/register.php" target="_blank">免费注册</a></li>
                                {/if}
			                </ul>
			            </div>
			            <div class="pull-right">
			                <ul class="az-horizontal-nav">
			                    <li class="dropdown my_yunwang">
			                        <span>我的云网</span>
			                        <div class="az-dropdown-content shopping" id="shopping">
			                            <table>
			                                <tbody>
			                                <tr><th>我是买家</th><th>我是卖家</th></tr>
			                                <tr>
			                                    <td><a href="/member/trade.php?action=order" target="_blank">已买到的产品</a></td>
			                                    <td><a href="/member/trade.php" target="_blank">已卖出的产品</a></td>
			                                </tr>
			                                <tr>
			                                    <td><a href="/member/my.php?mid=6&action=add" target="_blank">发布询价单</a></td>
			                                    <td><a href="/member/my.php?mid=16&amp;action=add" target="_blank">发布产品</a></td>
			                                </tr>
			                                <tr>
			                                    <td><a href="/member/trade_softpool.php" target="_blank">我的软件池</a></td>
			                                    <td><a href="/member/trade_services.php" target="_blank">我的服务</a></td>
			                                </tr>
			                                </tbody>
			                            </table>
			                        </div>
			                    </li>
                                
                                
			                    <!--<li class="dropdown hidden-sm wechart">
			                        <span>微信公众号</span>
			                        <div class="az-dropdown-content qrcode-wechat">
			                            <a href="javascript:void(0);" style="cursor: default;">
			                                <img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170213" alt="公众号">
			                            </a>
			                        </div>
			                    </li>-->
			                    <li class="dropdown hidden-sm">
			                        <span>云平台微信</span>
			                        <div class="az-dropdown-content qrcode-app">
			                            <a href="javascript:void(0);" style="cursor: default;">
			                                <img src="http://img1.gyyqcloud.com/res/images/htyw_appcba9.png?20170302" alt="APP">
			                            </a>
			                        </div>
			                    </li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</div>
			<!-- 头部结束 -->
			
			
			<div class="new-header hidden-xs" spm="index.nav">
	            <div class="container">
	                <div class="logo">
	                    <a href="/"><img src="{if $MODULE[$moduleid][logo]}{DT_SKIN}image/logo_{$moduleid}.gif{elseif $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.gif{/if}" alt="Logo"  style="margin-top:20px;"></a>
	                </div>
	                <div class="new-menu">
	                    <ul class="new-nav" id="new_nav">
	                        <li>
	                            <a href="javascript:void(0);" onclick="return false;" target="_blank">资讯</a>
	                            <ul class="header-dropdown-content">
                                    {php $maincat = get_maincat(39039, 21, 1);}
                					{loop $maincat $i $t}
	                                <li><a href="/news/{$t[linkurl]}" target="_blank">{$t[catname]}</a></li>
	                                {/loop}
	                            </ul>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="/cloudproduce/" target="_blank">云制造</a>
	                            <ul class="header-dropdown-content">
	                                <li><a href="/buy/" target="_blank" class="prominent">云协作<img src="http://img1.gyyqcloud.com/res/images/930/nav_hot_img.png" alt="nav_hot_img" class="nav_hot_img"></a></li>
	                                <li><a href="/cloudproduce/cloudDesign.php" target="_blank">云设计</a></li>
	                                <li><a href="/cloudproduce/cloudProduction.php" target="_blank" class="prominent">云生产<img src="http://img1.gyyqcloud.com/res/images/930/nav_hot_img.png" alt="nav_hot_img" class="nav_hot_img" /></a></li>
	                            </ul>
	                        </li>
	                        <li>
	                            <a href="/industry/" target="_blank">找工业品</a>
	                            <ul class="header-dropdown-content">
	                                <li><a href="/industry/" target="_blank">产品大厅</a></li>
	                                <li><a href="/buy/" target="_blank">求购大厅</a></li>
	                                <li><a href="/sell/" target="_blank">能力大厅</a></li>
	                            </ul>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="/services/index.php" target="_blank">找服务</a>
	                            <ul class="header-dropdown-content">
                                    {php $tags=tag("table=category&condition=moduleid=24 and parentid=0&areaid=$cityid&pagesize=10&template=null&debug=0");}
                					{loop $tags $i $t}
	                                <li><a href="/services/{$t[linkurl]}" target="_blank">{$t[catname]}</a></li>
	                                {/loop}
	                            </ul>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="/sucai/" target="_blank">模型库</a>
	                            <ul class="header-dropdown-content">
	                                <li><a href="/parts/" target="_blank" class="prominent">配件库<img src="http://img1.gyyqcloud.com/res/images/930/nav_hot_img.png" alt="nav_hot_img" class="nav_hot_img"></a></li>
	                                <li><a href="/parts/supplyerdb.php" target="_blank">供应商库</a></li>
	                                <li><a href="/sucai/list.php?catid=39230#content" target="_blank" class="prominent">专利库<img src="http://img1.gyyqcloud.com/res/images/930/nav_hot_img.png" alt="nav_hot_img" class="nav_hot_img" /></a></li>
	                                <li><a href="/sucai/list.php?catid=39231#content" target="_blank">文献库</a></li>
	                            </ul>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="/softpool/" target="_blank">软件库</a>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="/expert/list.php" target="_blank">专家库</a>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="http://www.shabro.cn/" target="_blank">找物流</a>
	                        </li>
	                      <li class="hidden-xs">
	                            <a href="javascript:;" target="_blank">解决方案</a>
	                            <ul class="header-dropdown-content">
	                                <li><a href="/news/show.php?itemid=168" target="_blank">ARM MCU开发方案</a></li>
	                                <li><a href="/news/show.php?itemid=169" target="_blank">便携锂电池充电方案</a></li>
	                                <li><a href="/news/show.php?itemid=170" target="_blank">生物电势解决方案</a></li>
	                                <li><a href="/news/show.php?itemid=171" target="_blank">家电1kW开关方案</a></li>
	                                <li><a href="/news/show.php?itemid=172" target="_blank">锂电池隔膜解决方案</a></li>
	                                <li><a href="/news/show.php?itemid=173" target="_blank">光发射量子研制方案</a></li>
	                                <li><a href="/news/show.php?itemid=174" target="_blank">四路DC监视器解决方案</a></li>
	                            </ul>
	                        </li>
	                        <li class="hidden-xs">
	                            <a href="javascript:;" target="_blank">增值服务</a>
	                            <ul class="header-dropdown-content">
	                                <!--li><a href="close/train.casicloud.com/College/index.html" target="_blank">工业互联网学院</a></li-->
	                                <li><a href="/scene/yxzs.php" target="_blank">工业企业运行指数</a></li>
	                                <li><a href="/scene/media.php" target="_blank">媒体中心服务</a></li>
	                                <li><a href="/scene/market.php" target="_blank">营销中心服务</a></li>
	                            </ul>
	                        </li>
	                    </ul>
	                </div>
	                
	                <!--搜索-->
                	<div class="header-search-btn fr" id="search_icon"></div>
	                <div class="header-login-area clearfix">
	                    <div class="header-login clearfix" id="header_login">
	                        <a href="/member/login.php" class="login" id="header_loginBtn">登录</a>
	                        <a href="/member/register.php" class="logout" target="_blank">免费注册</a>
	                    </div>
	                    <!-- 登录成功 -->
	                    <div class="header-logout" id="header_logout" style="display: none;">
	                        <div class="logout-icon" id="logout_icon"></div>
	                        <div class="header-logout-content" id="logout_content">
	                            <div class="content-top">
	                                <div class="content-welcome">欢迎回来</div>
	                                <div class="content-name">
	                                    <a href="javascript:" target="_blank" id="new_username1"></a>
	                                </div>
	                            </div>
	                            <div class="content-bottom">
	                                <a href="coin/mycoin/index.html"  target="_blank">我的云币</a>
	                                <a href="#"  target="_blank">云端业务工作室</a>
	                                <a href="workbench/index.html"  target="_blank">企业应用门户</a>
	                                <a href="#" class="" target="_blank">我的云网</a>
	                                <a href="javascript:;" class="" id="cancellation">退出</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- 搜索录入框 -->
	                <div class="header-search-content header-content" id="search_content" visual = '0'>
	                    <div class="search-box " data-animate-options="{'animate':'fadeIn','delay':0}">
	                        <div class="az-input-group az-search-input-group">
	                            <div class="az-input-group-label">
	                                <ul class="search-options" id="search_list">
	                                    <li class="active"><span data-url="/news/search.php">新闻</span></li>
	                                    <li><span data-url="/industry/search.php">产品</span></li>
	                                    <li><span data-url="/services/search.php">服务</span></li>
	                                    <li><span data-url="/sell/search.php">能力</span></li>
	                                    <li><span data-url="/buy/search.php">求购</span></li>
                                        <li><span data-url="/softpool/search.php">软件</span></li>
                                        <li><span data-url="/expertpool/search.php">专家</span></li>
                                        <li><span data-url="/sucai/list.php">素材</span></li>
	                                </ul>
	                            </div>
	                            <input type="text" class="form-control az-form-control" maxlength="50" placeholder="请输入关键字" id="keyword_new">
	                            <div class="az-input-group-label">
	                                <a href="javascript:;" class="search-btn" id="search_btn">搜&nbsp;&nbsp;索</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
            	</div>
        	</div>
        </div>

        <script>
            var $nav = $('#new_nav');
            var $logoutContent = $('#logout_content');
            $('#new_nav>li').on('mouseover',function() {
                $(this).addClass('active').siblings().removeClass('active');
                var navWidth = $(this).outerWidth();
                var contentWidth = $(this).find('ul.header-dropdown-content').outerWidth();
                var offsetWidth = (navWidth - contentWidth) / 2;
                $(this).find('ul.header-dropdown-content').stop().slideDown('fast').css('left', offsetWidth);
            }).on('mouseout',function() {
                $(this).find('ul.header-dropdown-content').stop().slideUp('fast');
                $(this).removeClass('active').siblings().removeClass('active');
            });

            $nav.find('ul.header-dropdown-content li').on('mouseover',function(){
                $(this).addClass('active').siblings().removeClass('active');
            }).on('mouseout',function () {
                $(this).removeClass('active');
            });
            $('#search_icon').on('click',function () {
                var flag = $('#search_content').attr('visual');
                if(flag == '1'){
                    $('#search_content').stop().css('display','none').animate({'top':'80px','opacity':'0'},'fast').attr('visual','0');
                }else {
                    $('#search_content').stop().css('display','block').animate({'top':'100px','opacity':'1'},'fast').attr('visual','1');
                }
                $('#keyword_new').focus();
            });
            $('#logout_icon').on('mouseover',function(){
                $logoutContent.stop().slideDown(100);
            }).on('mouseout',function(){
                $logoutContent.stop().slideUp(100);
            });
            $logoutContent.on('mouseover',function(){
                $(this).stop().slideDown(100);
            }).on('mouseout',function () {
                $(this).stop().slideUp(100);
            });

	        $(function () {
	            function addTar(id){
	                $(id).find('a').attr('target','_blank');
	                $(id).find('a').attr('href','');
	            }
	            addTar('.bb')
	        });
    	</script>