<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页-找服务</title>
<meta http-equiv="x-ua-compatible" content="ie=8" />
    {if $head_keywords}
    <meta name="keywords" content="{$head_keywords}"/>
    {/if}
    {if $head_description}
    <meta name="description" content="{$head_description}"/>
    {/if}
<link href="http://img1.gyyqcloud.com/rjc/resources/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
<script src="http://img1.gyyqcloud.com/industry/js/jquery/jquery-1.8.3.min.js"></script>
<script src="http://img1.gyyqcloud.com/rjc/resources/js/DataLazyLoad.min.js"></script>
<link href="http://img1.gyyqcloud.com/rjc/resources/style/soft/css/softPondReset.css" rel="stylesheet" type="text/css" />
<link href="http://img1.gyyqcloud.com/rjc/resources/style/soft/css/softPondCommon.css" rel="stylesheet" type="text/css" />
<link href="http://img1.gyyqcloud.com/rjc/resources/style/soft/css/softPond.css" rel="stylesheet" type="text/css" />
<link href="http://img1.gyyqcloud.com/rjc/resources/style/soft/css/common.17.9.5.css" rel="stylesheet" type="text/css" />
<link href="http://img1.gyyqcloud.com/rjc/resources/style/soft/css/matter_top-18.01.18.css" rel="stylesheet" type="text/css" />
<link href="http://img1.gyyqcloud.com/rjc/resources/style/soft/css/reset2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="http://img1.gyyqcloud.com/rjc/resources/style/soft/js/jquery.flexslider-min.js"></script>
<div class="g-matter-header"> <a href="/" class="m-header-home" target="_blank">云首页</a>
  <ul class="m-header-r">
               {if $_userid}
                    <li>
                        <a href="{$MODULE[2][linkurl]}">个人中心</a>
                    </li>
                    <li>
                       <a href="{$MODULE[2][linkurl]}logout.php">退出</a>
                    </li>
                    {else}
                    <li><a href="javascript:" target="_blank" id="new_username" class="right_line" style="display: none"></a></li>
                    <li>
                        <a href="/member/login.php" id="login">登录</a>
                    </li>
                    <li id="register">
                        <a href="/member/register.php" target="_blank" class="u-to-reg">免费注册</a>
                    </li>
                    {/if}
  </ul>
</div>
<div class="softPond_search">
  <div class="m-sch-ct">
    <div class="u-logo-wrap"> <a href="/" class="u-logo-index"></a> <a href="/services/" class="u-logo-area">云端服务商</a> </div>
  </div>
  <div class="search">
    <form action="/services/search.php" method="get"  id="searchForm">
      <div class="submit">
        <div class="searchCon"> <span class="searchTip">服务</span>
          <input type="text" id="kw" name="kw" placeholder="搜索其实真的很简单！" x-webkit-speech lang="zh-CN" class="searchTxt">
        </div>
        <a href="javascript:searchForm.submit();" class="searchBtn" style="text-align:center; color:#FFF;">搜索</a> </div>
    </form>
  </div>
</div>
<div class="softPond_nav">
  <div class="navItem"> <a href="javaScript:void(0)" class="allCate" >全部分类</a>
    <div class="navList"> <a href="/services/">首页</a> <a href="/services/search.php?kw=">服务</a> <!--a href="/services/list-shop.php">服务商</a--> </div>
  </div>
</div>
