<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title id="tname">龙智造工业云平台登录</title>
<meta name="keywords" content="龙智造工业云平台">
<meta name="description" content="龙智造工业云平台">
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/res/css/loginRegister.css"/>
		<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/res/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/res/css/global07c1.css"/>
		<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/res/css/login07c1.css"/>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/jquery-1.8.3.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/jquery.placeholder.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/layer.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/jquery.cookie.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/global.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/login.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://img1.gyyqcloud.com/res/js/des.js"></script>
		
		<style>
		.login-box .login-from { padding-top: 0px; }
		.login-footer { padding-bottom: 50px; }
		.feedbackMsg{ display: none; }
		.form-list{ padding-bottom: 20px; padding-left: 0px; }
		.form-list-mobile { padding-bottom: 25px; color:#999; }
		.displayCode{ display:none; }
		.errorM{ color:red; }
		.login_topright { float: right; width: 360px; }
		.login_topright ul li { float: left; width: 65px; font-family: "simsun"; font-size: 12px; color: #676767; padding-top: 5px; }
		
		</style>




<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/admin.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/member.js"></script>

<script type="text/javascript">
$(function(){
 
		$("#logo").addClass("kj-logo");
		$("#logo").addClass("htyw-logo");
		$("#header").addClass("login-head");
		$(".gyyName").html("龙智造工业云平台");
		$("#logo").attr('href', 'http://www.gyyqcloud.com');
		$("#bg").addClass("htyw-bg");
})

</script>
</head>

<body style="background:#fff;">
<div class="login-pc"> 
  <!--头部 start-->
  <div id="header" style="margin-bottom: 0px;">
    <div class="block"> <a href="#"  id="logo"> <span class="decorate"></span> </a>
      <div class="login-tit"> 欢迎登录 </div>
    </div>
  </div>
  <!--头部 end--> 
  <!--login logo end-->
  <div class="body login-body">
    <div  id="bg">
      <div class="block">
        <div class="login-box">
          <ul class="login-tabs">
            <li class="now" id="li0">手机/邮箱/用户名登录</li>
            <i></i>
          </ul>
          <div class="login-tip">公共场合不建议自动登录，以防账号丢失</div>
          <div class="login-from now" id="form_new">
            <form method="post" action="{$DT[file_login]}" onsubmit="return Dcheck();" id="loginForm" name="loginForm">
              <input name="forward" type="hidden" value="{$forward}"/>
              <input name="auth" type="hidden" value="{$auth}"/>
              <div class="errormessage"></div>
              <div class="item"> <s class="sjh_icon"></s>
                <input type="text" name="username" id="username" placeholder="手机/邮箱/用户名" class="form-list-input" size="35" value="{$username}" />
                <i class="delete_icon"></i> </div>
              <div class="item"> <s class="mm_icon"></s>
                <input type="password" name="password" id="password" placeholder="密码" class="form-list-input" size="35"/>
                <i class="delete_icon delete_yzm"></i> {if $MOD[captcha_login]}<img title="点击更换" spm="login.form_new" onclick="refreshImageCode();" id="imgcode" class="border"> <i class="delete_icon"></i>{/if}
                 </div>
              {if $MOD[captcha_login]}
              <div class="item last_item">
               <s class="yzm_icon"></s>
                {template 'captcha', 'chip'}
                <i class="delete_icon"></i> 
              </div>
              {/if}
              <select name="option" style="display:none">
                <option value="username" selected="selected">用户名</option>
                <option value="passport">昵称</option>
                <option value="email">Email</option>
                <option value="mobile">手机号</option>
                <option value="company">公司名</option>
                <option value="userid">会员ID</option>
              </select>
              
              <div class="form-list">
                <input type="checkbox" name="cookietime" value="1" id="cookietime"{if $MOD[login_remember]} checked{/if}/>
                <label for="cookietime"> 记住我</label>
                <input type="checkbox" name="goto" value="1" id="goto"{if $MOD[login_goto]} checked{/if}/>
                <label for="goto">进入商务室</label>
                <label class="r clearfix"><a href="send.php?forward={urlencode($forward)}" spm="login.form_new">忘记密码</a></label>
              </div>
              <div class="button">
                <input type="submit" name="submit" value=" 登 录 "/>
              </div>
              <div class="register"> 
                <!-- 没有<span class="gyyName"></span>账号？ --> 
                <a href="{$DT[file_register]}?forward={urlencode($forward)}" spm="login.form_new">立即注册</a> </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login_line"></div>
  <div class="login-footer">
    <div class="block">
      <div class="coypright"> <span id="yw" > Copyright©2018 龙智造工业云平台&nbsp;&nbsp;All Rights Reserved 渝ICP备18001657号</span> </div>
    </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript">
if(Dd('username').value == '') {
	Dd('username').focus();
} else {
	Dd('password').focus();
}
function Dcheck() {
	//layer.msg('正在提交请稍候。。。', {icon: 16,time: 100000,shade : [0.5 , '#000' , true]});
	if(Dd('username').value == '') {
		confirm('请输入登录名称');
		Dd('username').focus();
		return false;
	}
	if(Dd('password').value == '') {
		confirm('请输入密码');
		Dd('password').focus();
		return false;
	}
{if $MOD[captcha_login]}
	if(!is_captcha(Dd('captcha').value)) {
		confirm('请填写验证码');
		Dd('captcha').focus();
		return false;
	}
{/if}
	return true;
}
</script>