<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
      content="工业互联网,智能制造,先进制造业,工业4.0,工业大数据,智能工厂,智能生产,数字化工厂,中国制造2025,双创,工业服务,制造业服化,物联网,产业互联网,三哑改造,资源共享,能力协同,云制造,协同制造,MES,工业软件,智能化改造,云制造认证,云制造金融,CRP,CPDM"/>
<meta name="description"
      content="“中国制造2025”、“互联网+”、“大众创业、万众创新”等战略部署，创建了世界首批、中国首个工业互联网平台——重庆工业互联网云平台，致力于打造“创新与创业相结合、线上与线下相结合、制造与服务相结合”新业态，为企业提供全网营销、供应链管理、智能制造解决方案、工业大数据和双创等全要素服务。"/>
<title>重庆工业互联网云平台-工业企业运行指数</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no"/>
<link href="/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/swiper.min.css" />
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/base.css" />
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/custom.css?20170811" />
<script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/jquery-3.1.1.min.js"></script>
<script src="http://img1.gyyqcloud.com/res/js/common.js"></script>
<script src="http://img1.gyyqcloud.com/res/js/htyw_ul.js"></script>
<script src="http://img1.gyyqcloud.com/res/js/search.js"></script>
<script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/jquery-util.js"></script>
<script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/common.js"></script>
<script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/swiper.jquery.min.js"></script>
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/css/style.css" />
</head>
<body>
<div class="header">
     {template 'scene/header'}
     <div class="header-content">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="az-horizontal-group logo-box">
                    <div class="mini" data-animate-options="{'animate':'fadeInLeft','delay':0}">
                        <h1>
                            <a href="/"><img src="http://img1.gyyqcloud.com/res/scenes/assets/images/logo.png" alt="Logo"></a>
                        </h1>
                    </div>
                    <div class="plus" data-animate-options="{'animate':'fadeInRight','delay':0}">
                        <h2>全网营销中心</h2>
                        <p>营销服务一体化平台</p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6">
                <div class="search-box" data-animate-options="{'animate':'fadeIn','delay':0}">
                    <div class="az-input-group az-search-input-group">
                        <div class="az-input-group-label">
                                <ul class="search-options" id="search_list">
                                <li class="active">
                                    <span data-url="/news/search.php">新闻</span>
                                </li>
                                <li>
                                    <span data-url="/industry/search.php">产品</span>
                                </li>
                                <li>
                                    <span data-url="/services/search.php">服务</span>
                                </li>
                                <li>
                                    <span data-url="/searchc">公司</span>
                                </li>
                                <li>
                                    <span data-url="/buy/search.php">求购</span>
                                </li>
                            </ul>
                        </div>
                        <input id="keyword_new" type="text" name="kw" class="form-control az-form-control" placeholder="请输入关键字">
                        <div class="az-input-group-label">
                            <a href="javascript:void(0);" class="btn btn-primary" id="search_btn">搜索</a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-wrapper">
    <div class="banner" data-animate-options="{'animate':'fadeIn','delay':0}">
        <div class="container">
            <div class="banner-content">
                <h2 class="" data-animate-options="{'animate':'fadeInDownLittle','delay':0}">
                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/banner_text_1.png" alt="">
                </h2>
                <h3 class="" data-animate-options="{'animate':'fadeIn','delay':0}">
                    <div class="sub-title-wrapper" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/banner_text_2.png" alt="">
                    </div>
                </h3>
            </div>
        </div>
        <div class="banner-arrow top" data-animate-options="{'animate':'fadeInDown','delay':0}"></div>
        <div class="banner-arrow right"  data-animate-options="{'animate':'fadeInRight','delay':0}"></div>
        <div class="banner-arrow bottom" data-animate-options="{'animate':'fadeInUp','delay':0}"></div>
        <div class="banner-arrow left"  data-animate-options="{'animate':'fadeInLeft','delay':0}"></div>
    </div>
</div>
<div class="business" data-animate-options="{'animate':'fadeIn','delay':0}">
    <div class="az-divide-space"></div>
    <div class="container">
        <div class="section-header">
            <h3 class="title" data-animate-options="{'animate':'fadeInDown','delay':0}">业务介绍</h3>
            <h4 class="sub-title">BUSINESS PRESENTATION</h4>
            <div class="section-line dark-green"></div>
        </div>
        <div class="section-content">
            <p class="" data-animate-options="{'animate':'fadeInUp','delay':0}">
                重庆工业互联网云平台致力于日常公关与媒介管理、事件&活动传播、新媒体以及网红营销等一站式传播服务。奉行“快速响应、满意度优先”的原则，遵循“持续创新创造价值、协同提供更多附加值”的核心价值，致力于从细节将“公关服务”做到极致，努力让每一位合作伙伴真正感受到“前瞻、创新、灵活、规范”的专业传播服务。
            </p>
        </div>
    </div>
</div>
<div class="solution">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">主营产品</h3>
            <h4 class="sub-title">MAIN PRODUCTS</h4>
            <div class="section-line dark-green" data-animate-options="{'animate':'fadeInDown','delay':0}"></div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/product_img_1.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>品牌形象&媒介管理</h5>
                                    <p>服务内容包括行业&专家顾问支持、策略&策划方案 、稿件撰写 、媒介管理 、高管包装 、企业CSR、企业视频 、日常监测与危机公关等，强势品牌形象，提升影响力。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/product_img_4.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>长效活动管理</h5>
                                    <p>通过行业展会&行业会议、特装展、会议合作、领导人传播、新闻发布会&上市会 、媒体沙龙&高峰论坛 、企业年会&定制活动等服务内容，帮助企业长效拉新，客情维护。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/product_img_3.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>社交媒体管理</h5>
                                    <p>通过双V+自媒体客户端传播矩阵、原创内容、H5制作、KOL传播、专业直播 、今日头条等新闻客户端精准传播，达到人际圈层渗透。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/product_img_2.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>SEO搜索引擎优化</h5>
                                    <p>对品牌及网站进行内部及外部的调整优化，改进网站在搜索引擎中关键词的自然排名，获得更多的展现量，增加销售机会；改善品牌搜索结果，提升品牌知名度、减少负面影响。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="value">
    <div class="container">
        <div class="section-header">
            <h3 class="title" data-animate-options="{'animate':'fadeInDown','delay':0}">用户价值</h3>
            <h4 class="sub-title">USER VALUE</h4>
            <div class="section-line dark-green" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
        </div>
        <div class="section-content">
            <div class="az-horizontal-group">
                <div class="aver-3">
                    <div class="value-item">
                        <div class="value-img" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                            <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/value_img_1.png" alt="">
                        </div>
                        <div class="value-desc" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <h5>精通资源整合</h5>
                            <span>审时借势，由内而外整合资源，为客户提供全方位的公关咨询、传播支持及活动管理。</span>
                        </div>
                    </div>
                </div>
                <div class="aver-3">
                    <div class="divide-line" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
                    <div class="value-item">
                        <div class="value-img" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                            <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/value_img_2.png" alt="">
                        </div>
                        <div class="value-desc" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <h5>深谙媒体之道</h5>
                            <span>前瞻性的媒体策略、多渠道的媒体资源，线上线下同步推进，使传播效果最大化。</span>
                        </div>
                    </div>
                </div>
                <div class="aver-3">
                    <div class="divide-line" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
                    <div class="value-item">
                        <div class="value-img" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                            <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/value_img_3.png" alt="">
                        </div>
                        <div class="value-desc" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <h5>追求完美执行</h5>
                            <span>丰富的执行经验、强烈的责任心、灵活的应变能力，我们用专业态度确保每个项目完美实施。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="follow">
    <div class="container">
        <div class="az-horizontal-group text-center" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="aver-2">
                <div class="follow-item">
                    <div class="follow-img">
                        <img src="http://img1.gyyqcloud.com/res/scenes/assets/images/follow_img_1.png" alt="">
                    </div>
                    <div class="fllow-desc">
                        <span>关注我们了解更多</span>
                    </div>
                </div>
            </div>
            <div class="aver-2">
                <div class="follow-item">
                    <div class="follow-img">
                        <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/marketing/images/follow_img_2.png" alt="">
                    </div>
                    <div class="fllow-desc">
                        <a href="javascript:void(0);">咨询我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relevant">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">相关内容</h3>
            <h4 class="sub-title">RELEVANT CONTENT</h4>
            <div class="section-line dark-green" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
        </div>
        <div class="section-content" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="row">
{php $tags1=tag("table=article_21&condition=1=1&areaid=$cityid&pagesize=10&order=rand()&template=null&debug=0");}
                    {loop $tags1 $i $t}
                <div class="col-xs-12 col-md-5 {if (($i+1)%2==0)}col-md-offset-2{/if}">
                    <div class="relevant-item clearfix">
                        <a href="/news/{$t[linkurl]}" class="pull-left" target="_blank">{$t[title]}</a>
                      </div>
                </div>
 {/loop}
            </div>
        </div>
    </div>
</div>
{template 'footer-index'}
</body>
</html>
