<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
      content="工业互联网,智能制造,先进制造业,工业4.0,工业大数据,智能工厂,智能生产,数字化工厂,中国制造2025,双创,工业服务,制造业服化,物联网,产业互联网,三哑改造,资源共享,能力协同,云制造,协同制造,MES,工业软件,智能化改造,云制造认证,云制造金融,CRP,CPDM"/>
<meta name="description"
      content="“中国制造2025”、“互联网+”、“大众创业、万众创新”等战略部署，创建了世界首批、中国首个工业互联网平台——重庆工业互联网云平台，致力于打造“创新与创业相结合、线上与线下相结合、制造与服务相结合”新业态，为企业提供全网营销、供应链管理、智能制造解决方案、工业大数据和双创等全要素服务。"/>
<title>重庆工业互联网云平台-工业企业运行指数</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no"/>
    <link href="/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/swiper.min.css" />
    <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/base.css" />
    <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/css/custom.css?20170811" />
    <script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/jquery-3.1.1.min.js"></script>
    <script src="http://img1.gyyqcloud.com/res/js/common.js"></script>
    <script src="http://img1.gyyqcloud.com/res/js/htyw_ul.js"></script>
    <script src="http://img1.gyyqcloud.com/res/js/search.js"></script>
    <script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/jquery-util.js"></script>
    <script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/common.js"></script>
    <script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://img1.gyyqcloud.com/res/scenes/assets/js/swiper.jquery.min.js"></script>
    <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/css/style.css" />
</head>
<body>
<div class="header">

 {template 'scene/header'}
<div class="header-content">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="az-horizontal-group logo-box">
                    <div class="mini" data-animate-options="{'animate':'fadeInLeft','delay':0}">
                        <h1>
                            <a href="/"><img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/images/logo.png" alt="Logo"></a>
                        </h1>
                    </div>
                    <div class="plus" data-animate-options="{'animate':'fadeInRight','delay':0}">
                        <h2>全媒体中心</h2>
                        <p>工业互联网全媒体客制化服务</p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6">
                <div class="search-box" data-animate-options="{'animate':'fadeIn','delay':0}">
                    <div class="az-input-group az-search-input-group">
                        <div class="az-input-group-label">
                            <ul class="search-options" id="search_list">
                                <li class="active">
                                    <span data-url="/news/search.php">新闻</span>
                                </li>
                                <li>
                                    <span data-url="/industry/search.php">产品</span>
                                </li>
                                <li>
                                    <span data-url="/services/search.php">服务</span>
                                </li>
                                <li>
                                    <span data-url="/searchc">公司</span>
                                </li>
                                <li>
                                    <span data-url="/buy/search.php">求购</span>
                                </li>
                            </ul>
                        </div>
                        <input id="keyword_new" type="text" name="kw" class="form-control az-form-control" placeholder="请输入关键字">
                        <div class="az-input-group-label">
                            <a href="javascript:void(0);" class="btn btn-primary" id="search_btn">搜索</a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-wrapper">
    <div class="banner" data-animate-options="{'animate':'fadeIn','delay':0}">
        <div class="container">
            <div class="banner-content">
                <h2 class="" data-animate-options="{'animate':'fadeInDown','delay':0}">
                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/banner_text_1.png" alt="">
                </h2>
                <h3 class="" data-animate-options="{'animate':'fadeIn','delay':0}">
                    <div class="sub-title-wrapper" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/banner_text_2.png" alt="">
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="business" data-animate-options="{'animate':'fadeIn','delay':0}">
    <div class="az-divide-space"></div>
    <div class="container">
        <div class="section-header">
            <h3 class="title" data-animate-options="{'animate':'fadeInDown','delay':0}">业务介绍</h3>
            <h4 class="sub-title">BUSINESS PRESENTATION</h4>
            <div class="section-line dark-purple"></div>
        </div>
        <div class="section-content">
            <p class="" data-animate-options="{'animate':'fadeInUp','delay':0}">
                重庆工业互联网云平台将为企业提供基于工业互联网领域的全媒体客制化服务，包括，品牌传播、公关宣传、人物专访、故事营销、线上论坛等内容，依托权威高端的管理者经验分享、前沿行业热点的话题研讨，实现多平台、多领域、多轮次交互传播，塑造企业成功发展模式，引领工业互联网行业内容传播发展，做工业互联网领域的核心价值传播者。
            </p>
        </div>
    </div>
</div>
<div class="solution">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">主营产品</h3>
            <h4 class="sub-title">MAIN PRODUCTS</h4>
            <div class="section-line dark-purple" data-animate-options="{'animate':'fadeInDown','delay':0}"></div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/product_img_1.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>全维度品牌传播</h5>
                                    <p>重庆工业互联网云平台将为企业提供基于人物、技术、案例等全维度的品牌传播，打造工业互联网领域的成功发展模式。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/product_img_2.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>工业互联网封面人物</h5>
                                    <p>工业互联网领军人物透析行业发展路径，畅谈企业管理命脉，交流技术研发经验，为两化融合贡献力量。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/product_img_3.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>工业互联网热点论坛</h5>
                                    <p>探讨行业热点难点话题，共同挖掘行业发展中的突破口，从实质上为企业发展提供帮助，为行业可持续发展提供基石。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="solution-item" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <div class="az-horizontal-group" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <div class="mini">
                                <div class="solution-img">
                                    <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/product_img_4.png" alt="">
                                </div>
                            </div>
                            <div class="plus">
                                <div class="solution-desc">
                                    <h5>工业互联网案例专题</h5>
                                    <p>把脉行业热点技术，深度透析行业技术创新的可能性，为企业的生产加工提供实际的建议。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="value">
    <div class="container">
        <div class="section-header">
            <h3 class="title" data-animate-options="{'animate':'fadeInDown','delay':0}">用户价值</h3>
            <h4 class="sub-title">USER VALUE</h4>
            <div class="section-line dark-purple" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
        </div>
        <div class="section-content">
            <div class="az-horizontal-group">
                <div class="aver-3">
                    <div class="value-item">
                        <div class="value-img" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                            <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/value_img_1.png" alt="">
                        </div>
                        <div class="value-desc" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <h5>全媒体矩阵通路</h5>
                            <span>以重庆工业互联网云平台官网为根基、辐射至微信、微博、今日头条、百度百科、知乎、QQ等矩阵化社群传播。</span>
                        </div>
                    </div>
                </div>
                <div class="aver-3">
                    <div class="divide-line" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
                    <div class="value-item">
                        <div class="value-img" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                            <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/value_img_2.png" alt="">
                        </div>
                        <div class="value-desc" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <h5>大数据资源共享</h5>
                            <span>依托近百万注册用户信息收集，每天百条采购需求，细分各类数据，调研工业互联网领域读者阅读习惯，实现精准传播。</span>
                        </div>
                    </div>
                </div>
                <div class="aver-3">
                    <div class="divide-line" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
                    <div class="value-item">
                        <div class="value-img" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                            <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/value_img_3.png" alt="">
                        </div>
                        <div class="value-desc" data-animate-options="{'animate':'fadeIn','delay':0}">
                            <h5>客制化协同传播</h5>
                            <span>通过封面故事、热点论坛、案例专题，多角度、多维度进行故事传播，实现360 度前中后期品牌传播定制服务。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="follow">
    <div class="container">
        <div class="az-horizontal-group text-center" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="aver-2">
                <div class="follow-item">
                    <div class="follow-img">
                        <img src="http://img1.gyyqcloud.com/res/scenes/assets/images/follow_img_1.png" alt="">
                    </div>
                    <div class="fllow-desc">
                        <span>关注我们了解更多</span>
                    </div>
                </div>
            </div>
            <div class="aver-2">
                <div class="follow-item">
                    <div class="follow-img">
                        <img src="http://img1.gyyqcloud.com/res/scenes/assets/pages/media/images/follow_img_2.png" alt="">
                    </div>
                    <div class="fllow-desc">
                        <a href="javascript:void(0);">咨询我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">咨询我们</h3>
            <h4 class="sub-title">CONSULT OUR</h4>
            <div class="section-line dark-purple" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
        </div>
        <div class="section-content" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="contact_phone">
                <span></span>
                023-85238885
            </div>
        </div>
    </div>
</div>
<div class="relevant">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">相关内容</h3>
            <h4 class="sub-title">RELEVANT CONTENT</h4>
            <div class="section-line dark-purple" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
        </div>
        <div class="section-content" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="row">
{php $tags1=tag("table=article_21&condition=1=1&areaid=$cityid&pagesize=10&order=rand()&template=null&debug=0");}
                    {loop $tags1 $i $t}
                <div class="col-xs-12 col-md-5 {if (($i+1)%2==0)}col-md-offset-2{/if}">
                    <div class="relevant-item clearfix">
                        <a href="/news/{$t[linkurl]}" class="pull-left" target="_blank">{$t[title]}</a>
                      </div>
                </div>
 {/loop}
            </div>
        </div>
    </div>
</div>
 
 {template 'footer-index'}
 </body>
</html>
