<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
      content="工业互联网,智能制造,先进制造业,工业4.0,工业大数据,智能工厂,智能生产,数字化工厂,中国制造2025,双创,工业服务,制造业服化,物联网,产业互联网,三哑改造,资源共享,能力协同,云制造,协同制造,MES,工业软件,智能化改造,云制造认证,云制造金融,CRP,CPDM"/>
<meta name="description"
      content="“中国制造2025”、“互联网+”、“大众创业、万众创新”等战略部署，创建了世界首批、中国首个工业互联网平台——龙智造工业云平台，致力于打造“创新与创业相结合、线上与线下相结合、制造与服务相结合”新业态，为企业提供全网营销、供应链管理、智能制造解决方案、工业大数据和双创等全要素服务。"/>
<title>龙智造工业云平台-工业企业运行指数</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no"/>
<link href="/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/css/swiper.min.css" />
<link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/css/base.css" />
<link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/css/custom9cf3.css?20170811" />
<script type="text/javascript" src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/js/jquery-3.1.1.min.js"></script>
<script src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/js/common.js"></script>
<script src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/js/htyw_ul.js"></script>
<script src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/js/search.js"></script>
<script type="text/javascript" src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/js/jquery-util.js"></script>
<script type="text/javascript" src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/js/common.js"></script>
<script type="text/javascript" src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/js/swiper.jquery.min.js"></script>
<link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/css/style.css" />
</head>
<body>
  {template 'scene/header'}
<div class="header-content">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="az-horizontal-group logo-box">
                    <div class="mini" data-animate-options="{'animate':'fadeInLeftTiny','delay':0}">
                        <h1>
                            <a href="/"><img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/images/logo.png" alt="Logo"></a>
                        </h1>
                    </div>
                    <div class="plus" data-animate-options="{'animate':'fadeInRightTiny','delay':0}">
                        <h2>工业企业运行指数</h2>
                        <p>企业运行与工业运行指数研究、生产与发布</p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6">
                <div class="search-box" data-animate-options="{'animate':'fadeIn','delay':0}">
                    <div class="az-input-group az-search-input-group">
                        <div class="az-input-group-label">
                            <ul class="search-options" id="search_list">
                                <li class="active">
                                    <span data-url="/news/search.php">新闻</span>
                                </li>
                                <li>
                                    <span data-url="/industry/search.php">产品</span>
                                </li>
                                <li>
                                    <span data-url="/services/search.php">服务</span>
                                </li>
                                <li>
                                    <span data-url="/searchc">公司</span>
                                </li>
                                <li>
                                    <span data-url="/buy/search.php">求购</span>
                                </li>
                            </ul>
                        </div>
                        <input id="keyword_new" type="text" name="kw" class="form-control az-form-control" placeholder="请输入关键字">
                        <div class="az-input-group-label">
                            <a href="javascript:void(0);" class="btn btn-primary" id="search_btn">搜索</a>
                        </div>
                    </div>
                   </div>
            </div>
        </div>
    </div>
<div class="banner" data-animate-options="{'animate':'fadeIn','delay':0}">
    <div class="container">
        <ul class="banner-content clearfix">
            <li>
                <div class="banner-item">
                    <div class="desc-cn" data-animate-options="{'animate':'fadeInDown','delay':0}">
                        <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/banner_text_1.png" alt="">
                    </div>
                    <div class="desc-en" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/banner_text_2.png" alt="">
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-item">
                    <div class="desc-cn" data-animate-options="{'animate':'fadeInDown','delay':0}">
                        <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/banner_text_3.png" alt="">
                    </div>
                    <div class="desc-en" data-animate-options="{'animate':'fadeIn','delay':0}">
                        <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/banner_text_2.png" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="banner-layer" data-animate-options="{'animate':'fadeInLeftTiny','delay':0}"></div>
</div>
<div class="business" data-animate-options="{'animate':'fadeIn','delay':0}">
    <div class="az-divide-space"></div>
    <div class="container">
        <div class="section-header">
            <h3 class="title" data-animate-options="{'animate':'fadeInDown','delay':0}">业务介绍</h3>
            <h4 class="sub-title">BUSINESS PRESENTATION</h4>
            <div class="section-line dark-purple"></div>
        </div>
        <div class="section-content">
            <p class="az-animated" data-animate-options="{'animate':'fadeInUp','delay':0}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工业互联网是全球工业系统与高级计算、分析、感应技术及互联网连接融合的成果。工业互联网平台侧重于供给侧改革创新，主要服务于传统制造业的转型升级与新兴领域的创新创业。
                龙智造工业云平台工业互联网平台已积累了大量企业用户的基础信息与交易数据，为深入发掘与论证平台支撑国家制造强国战略的实施效果，本报告基于工业互联网平台的发展阶段，提出工业经济运行指数的概念，并跟随平台的发展建设，不断完善该指数体系。
            </p>
        </div>
    </div>
</div>
<div class="solution">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">企业税务征信平台指数</h3>
            <h4 class="sub-title">ENTERPRISE TAX CREDIT PLATFORM INDEX</h4>
            <div class="section-line dark-purple" data-animate-options="{'animate':'fadeInDown','delay':0}"></div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="solution-item" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                        <div class="solution-img">
                            <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/enterprise_img_1.png" alt="">
                        </div>
                        <div class="solution-desc">
                            <h5>中国企业成长指数</h5>
                            <p>由总指数和细分指数组成。细分指数按照不同的行业分类和地域分类标准编制而成，用以反映对应行业或区域的企业成长情况。</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="solution-item" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                        <div class="solution-img">
                            <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/enterprise_img_2.png" alt="">
                        </div>
                        <div class="solution-desc">
                            <h5>企业前景指数</h5>
                            <p>利用局部调整模型通过对六个变量，建立回归方程估计上述各自变量与因变量企业销售收入之间的量化关系。</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="solution-item" data-animate-options="{'animate':'fadeInDownTiny','delay':0}">
                        <div class="solution-img">
                            <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/pages/enterprise/images/enterprise_img_3.png" alt="">
                        </div>
                        <div class="solution-desc">
                            <h5>企业活力指数</h5>
                            <p>利用企业工商注册、增值税一般纳税人、金税盘/税控盘等增值税专用设备发放的月度数据通过加权编制，用以从数量角度反映月度企业新生情况。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index">
    <div class="container">
        <div class="section-header">
            <h3 class="title" data-animate-options="{'animate':'fadeInDown','delay':0}">工业互联网平台指数</h3>
            <h4 class="sub-title">INDUSTRIAL INTERNET PLATFORM INDEX</h4>
            <div class="section-line dark-purple" data-animate-options="{'animate':'fadeInDown','delay':0}"></div>
        </div>
        <div class="section-content">
            <div class="index-list">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="index-item" data-animate-options="{'animate':'fadeInUpTiny','delay':0}">
                            <div class="az-horizontal-group">
                                <div class="mini">
                                    <div class="index-img">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="plus">
                                    <div class="index-desc">
                                        <h5>工业互联网覆盖指数</h5>
                                        <div class="section-line white"></div>
                                        <p>基于平台需求发布数据进行分析，衡量了工业互联网应用意愿与渗透情况。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="index-item" data-animate-options="{'animate':'fadeInUpTiny','delay':0}">
                            <div class="az-horizontal-group">
                                <div class="mini">
                                    <div class="index-img">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="plus">
                                    <div class="index-desc">
                                        <h5>工业互联网创值指数</h5>
                                        <div class="section-line white"></div>
                                        <p>基于平台成交数据进行分析，体现了平台的实际应用价值和大中小企业融合度。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="index-item" data-animate-options="{'animate':'fadeInUpTiny','delay':0}">
                            <div class="az-horizontal-group">
                                <div class="mini">
                                    <div class="index-img">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="plus">
                                    <div class="index-desc">
                                        <h5>工业互联网协作配套指数</h5>
                                        <div class="section-line white"></div>
                                        <p>从地区与行业阐述协作配套关系，反映资源共享与能力协同在各个地区及行业之间的活跃情况。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="follow">
    <div class="container">
        <div class="az-horizontal-group text-center" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="aver-2">
                <div class="follow-item">
                    <div class="follow-img">
                        <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/images/follow_img_1.png" alt="">
                    </div>
                    <div class="fllow-desc">
                        <span>关注我们了解更多</span>
                    </div>
                </div>
            </div>
            <div class="aver-2">
                <div class="follow-item">
                    <div class="follow-img">
                        <img src="http://ui.client.zomzone.com/gyyqcloud/cdn.htres.cn/res/scenes/assets/images/follow_img_2.png" alt="">
                    </div>
                    <div class="fllow-desc">
                        <a href="javascript:void(0);">咨询我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relevant">
    <div class="container">
        <div class="section-header">
            <h3 class="title dark-title" data-animate-options="{'animate':'fadeInDown','delay':0}">相关内容</h3>
            <h4 class="sub-title">RELEVANT CONTENT</h4>
            <div class="section-line blue" data-animate-options="{'animate':'fadeIn','delay':0}"></div>
        </div>
        <div class="section-content" data-animate-options="{'animate':'fadeIn','delay':0}">
            <div class="row">
{php $tags1=tag("table=article_21&condition=1=1&areaid=$cityid&pagesize=10&order=rand()&template=null&debug=0");}
                    {loop $tags1 $i $t}
                <div class="col-xs-12 col-md-4 {if (($i+1)%2==0)}col-md-offset-4{/if}">
                    <div class="relevant-item clearfix">
                        <a href="/news/{$t[linkurl]}" class="pull-left" target="_blank">{$t[title]}</a>
                      </div>
                </div>
 {/loop}
            </div>
        </div>
    </div>
</div>
 {template 'footer-index'}
 <script type="text/javascript">
    $(function() {
        new Swiper('#expert_swiper', {
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            loop: true,
            effect : 'fade',
            fade: {
                crossFade: true
            }
        });
    });
</script>
</body>
</html>
