{php $CSS = array('catalog');}
{template 'header-mall'}
<link href="http://img4.taojindi.com/front/css/gather.css" type="text/css" rel="stylesheet" />
<!--主导航栏结束-->
<!--求购首屏开始-->
<div class="gather_top_mod wrap clearfix">
	<div class="cp_top_mod_l">
		<!--焦点图开始-->
		<div class="gather_banner">
			<ul class="rslides">
				<!--{php $tags=tag("table=ad&condition=pid=83&pagesize=10&template=null");}-->
				{loop $tags $i $t}
				<li> <a href="{$t[url]}"  target="_blank" title=""><img src="{$t[image_src]}" alt=""></a>
					<div style="position:absolute; right:0px; bottom:0px;"> <img src="http://r.longygo.com/v1/images/pclog.png" style="width:29px; height:16px;"> </div>
				</li>
				{/loop}
			</ul>
		</div>
		<!--焦点图结束-->
		<!--促销图开始-->
		<div class="qy_data">
			<ul class="clearfix">
				<li>
					<div class="box"> <span class="gray3 f18">新增企业</span><br>
						<span class="orange"><em class="f28">2,116</em>家</span> </div>
				</li>
				<li class="qy">
					<div class="box"> <span class="gray3 f18">合作园区</span><br>
						<span class="orange"><em class="f28">4</em>个</span> </div>
				</li>
				<li class="zs noborder">
					<div class="box"> <span class="gray3 f18">企业总数</span><br>
						<span class="orange"><em class="f22">278,216</em>家</span> </div>
				</li>
			</ul>
		</div>
		<!--促销图结束-->
	</div>
	<!--右侧开始-->
	<div class="gather_top_mod_r gather_mod">
		<div class="cp_top_mod_r">
			<div class="hd">
				<h2> <i class="icon sj_icon"></i>公告 </h2>
			</div>
			<div class="text_list p10">
				<ul>
					<!--{php $tags=tag("table=article_21&condition=level=1 and catid=23515&areaid=$cityid&pagesize=4&order=itemid desc&template=null&debug=0");}-->
					{loop $tags $i $t}
					<li><a href="/news/{$t[linkurl]}" target="_blank">{dsubstr($t[title],32,"...")}</a></li>
					{/loop}
				</ul>
			</div>
			<div class="hd border_t mt5">
				<h2> <i class="icon jr_icon"></i>最新加入企业 </h2>
			</div>
			<div class="text_list p10" style="overflow:hidden;height:180px;">
				<ul id="scrollBuy">
					<!--{php $tags=tag("table=company&condition=thumb<>''&pagesize=20&order=RAND()&template=null");}-->
					{loop $tags $i $t}
					<li><a href="{$t[linkurl]}" target="_blank">{$t[company]}</a></li>
					{/loop}
				</ul>
			</div>
		</div>
	</div>
	<!--右侧结束-->
</div>
<!--求购首屏结束-->
<!--热门商品开始-->
<div class="qy_recommend wrap">
	<div class="gather_mod_hd clearfix">
		<h2> <i class="icon tj_icon"></i>推荐企业 </h2>
		<!--a href="javascript:change()" class="fr">换一批</a--> </div>
	<div class="qy_list">
		<ul class="clearfix">
			<input type="hidden" id="comCount" value="10" />
			<input type="hidden" id="comVar" value="1" />
			<!--{php $tags=tag("table=company&condition=thumb<>'' and username in('rddj','cqyanlian','leerjia','guoen','leerjia','dalong','smite','ckzn','bste','jsys','fndmc','szks','lgkj','yuhuglass') and thumb!='/shop/images/company_default.jpg' &pagesize=10&order=RAND()&template=null");}-->
			{loop $tags $i $t}
			<li id="remCompany{$i}" style="display:block" {if ($i==4||$i==9)}class="last"{/if}>
				<div class="pic"> <a href="{$t[linkurl]}" target="_blank"><img src="{$t[thumb]}"></a> </div>
				<div class="text">主营业务：{dsubstr($t[business],52,"...")}</div>
				<div class="company"> <a href="{$t[linkurl]}" target="_blank">{$t[company]}</a> </div>
			</li>
			{/loop}
		</ul>
	</div>
</div>
<!--热门商品结束-->

{php $mid = 4;}
{php $child = get_maincat(0, $mid, 1); $floor=0;}
{loop $child $ikey $c}

<!--{php $if=$ikey+1;$adfloor=tag("table=ad&condition=pid=(select pid from lsg_ad_place where name='黄页楼层".$if."F')&pagesize=10&template=null&debug=0");}-->
{loop $adfloor $i $t}
<div class="ad_wrap pr">
	<a href="{$t[url]}" target="_blank">
		<img class="lazy" src="{$t[image_src]}" alt="" style="display: inline;" width="1200">
	</a>
	<div style="position:absolute; right:0px; bottom:0px;"><img src="http://r.longygo.com/v1/images/pclog.png"></div>
</div>
{/loop}


<div class="qy_main_mod wrap">
	<div class="qy_main_mod_hd clearfix">
		<h2> <span class="orange">{$if}F</span>{$c[catname]}</h2>
	</div>
	<div class="qy_main_mod_bd clearfix">
		<div class="qy_main_mod_l">

			{php $sub = get_maincat($c[catid], $mid, 1);}
			{loop $sub $j $s}
			{if ($j<=5)}
			<dl {if ($j==5)}class="noborder"{/if}>
				<dt><a href='/company/list-{$s[catid]}.html' title='{$s[catname]}' target='_blank' class='blue'>{$s[catname]}</a></dt>
				<dd>
					{php $sub_end = get_maincat($s[catid], $mid, 1);}
					{loop $sub_end $t $se}
					<a href="{$se[linkurl]}" target="_blank">{$se[catname]}</a>
					{/loop}
				</dd>
			</dl>
			{/if}
			{/loop}

		</div>
		<div class="qy_main_mod_r qy_list">
			<ul class="clearfix">
				<!--{php $tags=tag("table=company&condition=thumb<>'' and thumb!='/shop/images/company_default.jpg' and (catid like '%,".$c[catid].",%' or catids like '%,".$c[catid].",%') &pagesize=8&order=userid desc&template=null&debug=0");}-->
				{loop $tags $i $t}
				<li {if ($i==7)}class="last"{/if}>
					<div class="pic"> <a href="{$t[linkurl]}" target="_blank"> <img class="lazy" src="{$t[thumb]}" data-original="{$t[thumb]}"/> </a> </div>
					<div class="text">主营业务：{dsubstr($t[business],52,"...")}</div>
					<div class="company"> <a href="{$t[linkurl]}" target="_blank">{$t[company]}</a> </div>
				</li>
				{/loop}
			</ul>
		</div>
	</div>
</div>






{/loop}
<script src="http://img4.taojindi.com/front/js/jquery-1.8.3.min.js"></script>
<script src="http://img4.taojindi.com/front/js/common.js?20160714"></script>
<script src="http://img4.taojindi.com/front/js/banner.js"></script>
<script src="http://img4.taojindi.com/front/js/SuperSlide.js?s=2014"></script>
<script src="http://img4.taojindi.com/front/js/jquery.lazyload.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("img.lazy").lazyload({threshold : 100});
        var count = $("#comCount").val();
        for (var i = 0; i < count; i++) {
            $("#remCompany" + i).css('display', 'none');
        }
        if (count > 5) {
            for (var i = 0; i < 5; i++) {
                $("#remCompany" + i).css('display', 'block');
            }
        } else {
            for (var i = 0; i < count; i++) {
                $("#remCompany" + i).css('display', 'block');
            }
        }
    });
    function change() {
        var count = $("#comCount").val() * 1;
        var hotVar = $("#comVar").val() * 1;
        for (var i = 0; i < count; i++) {
            $("#remCompany" + i).css('display', 'none');
        }
        if (count > 5 * hotVar) {
            var limit = hotVar + 1;
            for (var i = 5 * hotVar; i < 5 * limit; i++) {
                $("#remCompany" + i).css('display', 'block');
            }
            $("#comVar").val(hotVar + 1);
            if (count <= 5 * (hotVar + 1)) {
                $("#comVar").val(0);
            }
        } else {
            for (var i = 0; i < count; i++) {
                $("#remCompany" + i).css('display', 'block');
            }
        }
    }
    /*最新公司滚动*/
    $(function(){
        var $this = $("#scrollBuy");
        var scrollTimer;
        $this.hover(function(){
            clearInterval(scrollTimer);
        },function(){
            scrollTimer = setInterval(function(){
                scrollBuys( $this );
            }, 1500 );
        }).trigger("mouseleave");
    });
    function scrollBuys(obj){
        var lineHeight = obj.find("li:first").height(); //获取行高
        obj.animate({ "marginTop" : -lineHeight +"px" }, 600 , function(){
            obj.css({marginTop:0}).find("li:first").appendTo(obj); //appendTo能直接移动元素
        })
    }
</script>
{template 'footer-mall'}