<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="通用机械-供应商库，本频道提供荏原泵业、广东凌霄泵业、响水县贝斯特传动件、斯凯孚SKF轴承、日本精工NSK轴承等众多CAD模型库。3DSource零件库是每个工程技术人员必备的标准手册，也是帮助工程师快速进行产品开发，减少重复劳动的有效工具。" name="Description" />
    <meta content="3DSource,模型库,通用机械模型库,供应商库" name="Keywords" />
    <title>通用机械-供应商库|3DSource零件库|海量CAD模型，助力产品设计</title>
    <link href="http://binhaisearch.zhizaoyun.com:89/html/libList/css/list.css" type="text/css" rel="stylesheet" />
    <link href="http://binhaisearch.zhizaoyun.com:89/html/libList/css/soft-header.css" rel="stylesheet" type="text/css">
    <script src="http://binhaisearch.zhizaoyun.com:89/html/libList/w-js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://binhaisearch.zhizaoyun.com:89/html/libList/w-js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://binhaisearch.zhizaoyun.com:89/html/libList/w-js/index-appCenter.js"></script>
    <script type="text/javascript" src="http://binhaisearch.zhizaoyun.com:89/html/libList/w-js/index/Homehover.js"></script>
    <script type="text/javascript" src="http://binhaisearch.zhizaoyun.com:89/html/libList/commonHelper.js"></script>
    <script type="text/javascript">
        $(function () {
            replaceAtoUrl();
        });

        function replaceAtoUrl() {
            $("a").each(function () {
                var href = $(this).attr("href");
                if (href && href.lastIndexOf("javascript") == -1) {
                    $(this).attr("href", urlAddAtoParam(href));
                }
            });
        }

        function urlAddAtoParam(url) {
            if (url != undefined && url != null && url != "") {
                if (url.lastIndexOf("ato") == -1) {
                    if (url.lastIndexOf("?") > -1) {
                        url += getAtoParam();
                    } else {
                        url += getAtoParam(1);
                    }
                }
            }
            return url;
        }

        function getAtoParam(type) {
            var ato = GetQueryString("ato");
            var atoParamStr = "";
            if (ato != undefined && ato != null && ato != "") {
                ato = ato.replaceAll("#", "");
                if (type == "1") {
                    atoParamStr = "?ato=" + ato;
                } else {
                    atoParamStr = "&ato=" + ato;
                }
            }
            return atoParamStr;
        }
    </script>
</head><base target="_self"/>
<body>
    <div id="app_Content">
        <div class="main_list">
            <!--左侧分类列表 start-->
            <div class="felleft" style="height: 700px;">
                <h3><i>&nbsp;</i>行业分类</h3>
                <ul>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=01">通用机械</a></li>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=02">模具</a></li>
                    <li class="current"><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=03">电机/减速机</a></li>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=04">工厂自动化</a></li>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=05">液压气动</a></li>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=06">管路</a></li>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=07">工业电气</a></li>
                    <li><a rel="nofollow" target="_self"   href="/parts/supplyerdb.php?type=08">汽车</a></li>
                </ul>
            </div>
            <!--左侧分类列 end-->
            <!--厂商件库列表 start-->
            <div class="pro-mx-list">
                <!-- 切换标签 -->
                <div class="tab-box">
                    <ul>
                        <li><a href="/parts/?type=01">标准件库</a></li>
                        <li class="active"><a href="/parts/supplyerdb.php?type=01">供应商库</a></li>
                    </ul>
                </div>
                <!-- 切换标签 end-->
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110845/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/xmzdj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">西门子电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">1LE1系列铝壳电机&nbsp;&nbsp;效率增强型低压电动机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110844/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/anch.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">安川电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">伺服电机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a href="http://binhai.zhizaoyun.com/2012110846/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/sxdj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">松下电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">MINAS&nbsp;&nbsp;A5系列&nbsp;&nbsp;MINAS A4系列...</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110847/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/dlcd.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">宁波东力电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">液压阀&nbsp;&nbsp;液压泵...</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110843/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/xatfxm.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">西安泰富西玛电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">专用直流电动机&nbsp;&nbsp;直流电动机&nbsp;&nbsp;同步电动机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110870/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/xdtdj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">宁波新大通电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">YZP、YZPEJ系列 YZE、YZDE系列</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110842/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/nyfb.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">南阳防爆电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">高压绕线转子三相异步电动机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110848/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/whtfxm.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">威海泰富西玛电机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">YC系列&nbsp;&nbsp;YU系列</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/201212041/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/shccjsj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">上海长城减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">摆线针轮减速机&nbsp;&nbsp;蜗轮蜗杆减速机&nbsp;&nbsp;斜齿轮减速机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/201212042/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/nsdjsj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">纽氏达特减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="width: 160px; color: #32589e; line-height: 20px;">WP系列精密行星减速机&nbsp;&nbsp;&nbsp;IB-IBR系列精密行星减速机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/201212043/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/sewjsj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">SEW减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="width: 160px; color: #32589e; line-height: 20px;">K系列螺旋伞齿轮减速机&nbsp;&nbsp;F系列斜齿圆柱齿轮减速机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110824/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/qhjsj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">台州清华减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">RC 硬齿面减速机&nbsp;&nbsp;FC 平行轴斜齿轮减速机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/201303152/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/zhujiangwolun.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">珠江蜗轮蜗杆减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">RV、 VF、WP系列蜗轮蜗杆减速机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/2012110864/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/zjjsj.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">珠江减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">S系列斜齿轮-蜗轮减速机&nbsp;&nbsp;K系列斜齿-伞齿减速机</div>
                            </div>

                        </div>
                  </a>
              </div>
                <div class="divbox" style="padding-top: 10px; padding-bottom: 10px; float: left; display: inline;">
                    <a rel="nofollow" target="_self"   href="http://binhai.zhizaoyun.com/201304271/list_online.html?ato=" target="_blank">
                        <div id="divbox_left" style="float: left; display: inline; margin-left: 20px; margin-top: 10px; width: 80px; height: 80px; background: url(http://binhaisearch.zhizaoyun.com:89/html/libList/part_img/hengxing.gif) no-repeat center center;"></div>
                        <div id="divbox_right" style="float: left; display: inline; width: 205px; margin-top: 7px; margin-left: 10px;">
                            <div id="divbox_title" style="line-height: 20px; padding-left: 10px; height: 20px;">
                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2c2c2c; font-weight: bold;">恒星减速机CAD模型库</p>
                            </div>
                            <div style="padding-left: 10px;">
                                <div id="fenlei_a" style="color: #32589e; line-height: 20px;">蜗轮蜗杆减速机、摆线针轮减速机、无级变速机</div>
                            </div>

                        </div>
                  </a>
              </div>
            </div>
            <!--厂商件库列表 end-->
        </div>
    </div>

    <!--百度统计代码-->
    <script>
        /*制造云全站*/
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?a0b5587b370aadd883c568f7877873cd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        /*资源专区*/
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e0bbd42e22c9ae4e3b33d96a3f7c60d4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        /*3DSource零件库软件*/
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?bb978f933b47ac6bcfd81c074de8c284";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        /*判断入口*/
        function checkIsIEView() {
            try {
                var status = window.external.isIEViewer();
                if (status == 1) {
                    return true;
                } else {
                    return false;
                }
            } catch (e) {
                return false;
            }
        }
        /*PC客户端/PC网页端*/
        var isOn = checkIsIEView();
        if (isOn) {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7c210001a5fc735b53f02d57c60bc415";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
        else {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2e3c2c1b0cf1bf0bf809f6be265df4d2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    </script>
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script>
        (function () {
            var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?c2ec2e08a4d9eccc135e138f40e45131" : "https://jspassport.ssl.qhimg.com/11.0.1.js?c2ec2e08a4d9eccc135e138f40e45131";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>
</body>
</html>
