{template 'header-softpool'}

  <!-- 合作伙伴页 Begin -->
    <div class="softPond_partnerItem">
        <div class="recommend">
            <div class="head">
                <h4 class="cn">为您推荐的品牌</h4>
                <h4 class="en"><span class="lineLeft"></span>BRAND FOR YOU<span class="lineRight"></span></h4>
            </div>
            <div class="list clearfix">
            			 {php if(!$catid) $catid=39156;}
                         {php $tags=tag("moduleid=$moduleid&condition=catid=$catid and status=3 &areaid=$cityid&&catid=".$c[catid]."&pagesize=".$MOD[page_icat]."&order=".$MOD[order]."&width=120&height=40&cols=2&target=_blank&lazy=$lazy&template=null&debug=0");}
         		  {loop $tags $i $t}
                                             <a href="#{$t[linkurl]}">
                                                <img src="{$t[thumb]}" alt="list" />
                                                <span>{$t[title]}</span>
                                            </a>
                                            {/loop}
         		            </div>
        </div>
        <div class="allBrand">
            <div class="head">
                <h4 class="cn">品牌总汇</h4>
                <h4 class="en"><span class="lineLeft"></span>BRAND COMPANY<span class="lineRight"></span></h4>
            </div>
            <div class="tab">
                <h5>BRANDS  A-Z：</h5>
                                	<a href="#brand_A">A</a>
		      	                	<a href="#brand_B">B</a>
		      	                	<a href="#brand_C">C</a>
		      	                	<a href="#brand_D">D</a>
		      	                	<a href="#brand_E">E</a>
		      	                	<a href="#brand_F">F</a>
		      	                	<a href="#brand_G">G</a>
		      	                	<a href="#brand_H">H</a>
		      	                	<a href="#brand_I">I</a>
		      	                	<a href="#brand_J">J</a>
		      	                	<a href="#brand_L">L</a>
		      	                	<a href="#brand_M">M</a>
		      	                	<a href="#brand_N">N</a>
		      	                	<a href="#brand_P">P</a>
		      	                	<a href="#brand_R">R</a>
		      	                	<a href="#brand_S">S</a>
		      	                	<a href="#brand_T">T</a>
		      	                	<a href="#brand_W">W</a>
		      	                	<a href="#brand_X">X</a>
		      	                	<a href="#brand_Y">Y</a>
		      	                	<a href="#brand_Z">Z</a>
		      	            </div>
                            
                            <div class="itemBox">
                           {php                  $spell=array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');}
                          
                           				{loop $spell $h $k} 
                                        {php $tags=tag("moduleid=$moduleid&condition=catid=$catid and status=3 and spell like '%$k%'&areaid=$cityid&&catid=".$c[catid]."&pagesize=".$MOD[page_icat]."&order=".$MOD[order]."&width=120&height=40&cols=2&target=_blank&lazy=$lazy&template=null&debug=0");}
                                        <div class="list clearfix now">
                                            <h6 id="brand_{$k}" name="brand_{$k}">{$k}</h6>
                                             {loop $tags $i $t}
                                             <a href="#{$t[linkurl]}">
                                                <img src="{$t[thumb]}" alt="list" />
                                                <span>{$t[title]}</span>
                                            </a>
                                            {/loop}
                                         </div>
                                    {/loop}
                             
                            </div>
            
        </div>
    </div>
    <!-- 合作伙伴页 End --> 
  ﻿<!-- softPond_footer Begin -->
{template 'footer-mall'}

        </div> 
</body>
</html>
