{template 'header-softpool'}

  <!-- 合作伙伴页 Begin -->
    <div class="softPond_partnerItem">
        <div class="recommend">
            <div class="head">
                <h4 class="cn">为您推荐的品牌</h4>
                <h4 class="en"><span class="lineLeft"></span>BRAND FOR YOU<span class="lineRight"></span></h4>
            </div>
            <div class="list clearfix">
            	         			<a href="brand_goods_11.html">
                    <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/81f09f38-75d7-497c-8017-6dc95e57d5210435.png_%3b%20filename_%3dutf-8%27%20%2781f09f38-75d7-497c-8017-6dc95e57d5210435.png" alt="list" />
                    <span>西门子工业软件（上海）有限公司</span>
                </a> 
         		         			<a href="brand_goods_6.html">
                    <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/ca6c232e-809f-4023-b847-d87420147bb40521.png_%3b%20filename_%3dutf-8%27%20%27ca6c232e-809f-4023-b847-d87420147bb40521.png" alt="list" />
                    <span>MSC Software</span>
                </a> 
         		         			<a href="brand_goods_5.html">
                    <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/fa70c83c-3e1c-4b19-b6a4-c9df4b0a07d10537.png_%3b%20filename_%3dutf-8%27%20%27fa70c83c-3e1c-4b19-b6a4-c9df4b0a07d10537.png" alt="list" />
                    <span>AUTODESK</span>
                </a> 
         		         			<a href="brand_goods_12.html">
                    <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/03d4443f-1d09-4813-bb0e-11c8f8ab4f9e0620.png_%3b%20filename_%3dutf-8%27%20%2703d4443f-1d09-4813-bb0e-11c8f8ab4f9e0620.png" alt="list" />
                    <span>DASSAULT SYSTEMES</span>
                </a> 
         		         			<a href="brand_goods_7.html">
                    <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/383430f8-8a7d-42c5-80fb-5e697cb5ef1f0636.png_%3b%20filename_%3dutf-8%27%20%27383430f8-8a7d-42c5-80fb-5e697cb5ef1f0636.png" alt="list" />
                    <span>武汉开目信息技术有限责任公司</span>
                </a> 
         		            </div>
        </div>
        <div class="allBrand">
            <div class="head">
                <h4 class="cn">品牌总汇</h4>
                <h4 class="en"><span class="lineLeft"></span>BRAND COMPANY<span class="lineRight"></span></h4>
            </div>
            <div class="tab">
                <h5>BRANDS  A-Z：</h5>
                                	<a href="#brand_A">A</a>
		      	                	<a href="#brand_B">B</a>
		      	                	<a href="#brand_C">C</a>
		      	                	<a href="#brand_D">D</a>
		      	                	<a href="#brand_E">E</a>
		      	                	<a href="#brand_F">F</a>
		      	                	<a href="#brand_G">G</a>
		      	                	<a href="#brand_H">H</a>
		      	                	<a href="#brand_I">I</a>
		      	                	<a href="#brand_J">J</a>
		      	                	<a href="#brand_L">L</a>
		      	                	<a href="#brand_M">M</a>
		      	                	<a href="#brand_N">N</a>
		      	                	<a href="#brand_P">P</a>
		      	                	<a href="#brand_R">R</a>
		      	                	<a href="#brand_S">S</a>
		      	                	<a href="#brand_T">T</a>
		      	                	<a href="#brand_W">W</a>
		      	                	<a href="#brand_X">X</a>
		      	                	<a href="#brand_Y">Y</a>
		      	                	<a href="#brand_Z">Z</a>
		      	            </div>
            <div class="itemBox">
                			        			        	<div class="list clearfix now">
				        	<h6 id="brand_A" name="brand_A">A</h6>
				        					        	<a href="brand_goods_5.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/fa70c83c-3e1c-4b19-b6a4-c9df4b0a07d10537.png_%3b%20filename_%3dutf-8%27%20%27fa70c83c-3e1c-4b19-b6a4-c9df4b0a07d10537.png" alt="list" />
		                        <span>AUTODESK</span>
		                    </a>
		                    				        	<a href="brand_goods_19.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/4e905d67-cccf-44c2-8e28-43da1b7789ae0935.jpg_%3b%20filename_%3dutf-8%27%20%274e905d67-cccf-44c2-8e28-43da1b7789ae0935.jpg" alt="list" />
		                        <span> Altair Engineering Inc.</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_B" name="brand_B">B</h6>
				        					        	<a href="brand_goods_72.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/71aa343f-4c53-4730-9821-8cc078a207dd4653.png_%3b%20filename_%3dutf-8%27%20%2771aa343f-4c53-4730-9821-8cc078a207dd4653.png" alt="list" />
		                        <span>北京指掌科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_15.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/25cfdeb5-b34f-4abe-b9a6-5303150636094010.png_%3b%20filename_%3dutf-8%27%20%2725cfdeb5-b34f-4abe-b9a6-5303150636094010.png" alt="list" />
		                        <span>BETA CAE Systems </span>
		                    </a>
		                    				        	<a href="brand_goods_10.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/c960221e-9128-4333-9c34-8b4d7201b6ed5807.png_%3b%20filename_%3dutf-8%27%20%27c960221e-9128-4333-9c34-8b4d7201b6ed5807.png" alt="list" />
		                        <span>北京数码大方科技股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_25.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/6fef298f-aa1a-40b7-beb7-6b3ce7184e131334.jpg_%3b%20filename_%3dutf-8%27%20%276fef298f-aa1a-40b7-beb7-6b3ce7184e131334.jpg" alt="list" />
		                        <span>北京经纬恒润科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_9.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/cec62743-fe81-4dcc-9c0a-a7f87b025eed0155.png_%3b%20filename_%3dutf-8%27%20%27cec62743-fe81-4dcc-9c0a-a7f87b025eed0155.png" alt="list" />
		                        <span>北京三维天地科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_26.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/c6534361-bc5b-4074-8163-b92a2c45906c1350.png_%3b%20filename_%3dutf-8%27%20%27c6534361-bc5b-4074-8163-b92a2c45906c1350.png" alt="list" />
		                        <span>北京创仕科锐信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_27.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/7b012546-9b60-419e-98ab-84f40705024a1240.jpg_%3b%20filename_%3dutf-8%27%20%277b012546-9b60-419e-98ab-84f40705024a1240.jpg" alt="list" />
		                        <span>北京海泰方圆科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_29.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e5168592-ee46-47a5-a984-fedbc64f33601407.png_%3b%20filename_%3dutf-8%27%20%27e5168592-ee46-47a5-a984-fedbc64f33601407.png" alt="list" />
		                        <span>北京易点易动科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_30.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/314ba9af-d974-4f49-8c00-3ccde379b68b1419.jpg_%3b%20filename_%3dutf-8%27%20%27314ba9af-d974-4f49-8c00-3ccde379b68b1419.jpg" alt="list" />
		                        <span>北京百会纵横科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_35.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/6107c22c-e0a7-46a9-9fde-a8203b930f191750.png_%3b%20filename_%3dutf-8%27%20%276107c22c-e0a7-46a9-9fde-a8203b930f191750.png" alt="list" />
		                        <span>北京数通国软信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_41.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/4b7ad169-470a-4897-9f4e-e2184d165f9c2637.jpg_%3b%20filename_%3dutf-8%27%20%274b7ad169-470a-4897-9f4e-e2184d165f9c2637.jpg" alt="list" />
		                        <span>北京云起融通科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_42.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/698fbfc9-d7cd-47bf-917e-518f8a7ad3272239.gif_%3b%20filename_%3dutf-8%27%20%27698fbfc9-d7cd-47bf-917e-518f8a7ad3272239.gif" alt="list" />
		                        <span>北京紫锐世博科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_44.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/c685aa21-5e53-4d60-ae0b-cd36273839184807.png_%3b%20filename_%3dutf-8%27%20%27c685aa21-5e53-4d60-ae0b-cd36273839184807.png" alt="list" />
		                        <span>北京海鹰科技情报研究所</span>
		                    </a>
		                    				        	<a href="brand_goods_52.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/50f864fd-35da-4646-98e1-7a6e639d428c1549.jpg_%3b%20filename_%3dutf-8%27%20%2750f864fd-35da-4646-98e1-7a6e639d428c1549.jpg" alt="list" />
		                        <span>北京青铜鼎软件科技开发有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_55.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/fc606df5-4520-414c-a59c-6c1be22219aa5453.png_%3b%20filename_%3dutf-8%27%20%27fc606df5-4520-414c-a59c-6c1be22219aa5453.png" alt="list" />
		                        <span>北京威努特技术有限公司 </span>
		                    </a>
		                    				        	<a href="brand_goods_56.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/1723042b-5466-48fd-8bb9-ab6ae7d8bcaf2350.jpg_%3b%20filename_%3dutf-8%27%20%271723042b-5466-48fd-8bb9-ab6ae7d8bcaf2350.jpg" alt="list" />
		                        <span>北京洛中佳为科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_51.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/aca5dbff-573c-4626-ae32-e51d61dde12c3740.jpg_%3b%20filename_%3dutf-8%27%20%27aca5dbff-573c-4626-ae32-e51d61dde12c3740.jpg" alt="list" />
		                        <span>北京工道科技有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_C" name="brand_C">C</h6>
				        					        	<a href="brand_goods_14.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/9c8f80d3-f151-4959-89da-0f4a0f149b825803.png_%3b%20filename_%3dutf-8%27%20%279c8f80d3-f151-4959-89da-0f4a0f149b825803.png" alt="list" />
		                        <span> CNC Software Inc.</span>
		                    </a>
		                    				        	<a href="brand_goods_17.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/36476154-cc30-4b1c-9e40-1d3b5b5265dd2636.jpg_%3b%20filename_%3dutf-8%27%20%2736476154-cc30-4b1c-9e40-1d3b5b5265dd2636.jpg" alt="list" />
		                        <span>CD-adapco</span>
		                    </a>
		                    				        	<a href="brand_goods_32.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/c638037f-9b46-4d97-81de-1bdc7f99ef503948.png_%3b%20filename_%3dutf-8%27%20%27c638037f-9b46-4d97-81de-1bdc7f99ef503948.png" alt="list" />
		                        <span>成都逸创信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_36.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/0c956efb-6d94-4791-8f2c-38f53c55688c4259.jpg_%3b%20filename_%3dutf-8%27%20%270c956efb-6d94-4791-8f2c-38f53c55688c4259.jpg" alt="list" />
		                        <span> 重庆诚智鹏科技有限责任公司 </span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_D" name="brand_D">D</h6>
				        					        	<a href="brand_goods_79.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/daf82c5e-5561-4694-ad85-bc7a74272dba5313.png_%3b%20filename_%3dutf-8%27%20%27daf82c5e-5561-4694-ad85-bc7a74272dba5313.png" alt="list" />
		                        <span>北京德奕歆科技有限公司 </span>
		                    </a>
		                    				        	<a href="brand_goods_12.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/03d4443f-1d09-4813-bb0e-11c8f8ab4f9e0620.png_%3b%20filename_%3dutf-8%27%20%2703d4443f-1d09-4813-bb0e-11c8f8ab4f9e0620.png" alt="list" />
		                        <span>DASSAULT SYSTEMES</span>
		                    </a>
		                    				        	<a href="brand_goods_23.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/955f4e93-b1aa-4ba5-b483-daebb8d958384423.png_%3b%20filename_%3dutf-8%27%20%27955f4e93-b1aa-4ba5-b483-daebb8d958384423.png" alt="list" />
		                        <span>大连集创信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_34.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/6b2a3950-5a79-47ba-a958-3f4f3f6767831732.jpg_%3b%20filename_%3dutf-8%27%20%276b2a3950-5a79-47ba-a958-3f4f3f6767831732.jpg" alt="list" />
		                        <span>稻鱼（上海）智能科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_61.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/eb89b81a-999f-40e5-b130-e031976380bb3816.jpg_%3b%20filename_%3dutf-8%27%20%27eb89b81a-999f-40e5-b130-e031976380bb3816.jpg" alt="list" />
		                        <span>东鹏程</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_E" name="brand_E">E</h6>
				        					        	<a href="brand_goods_18.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/19e5f550-0f8a-431e-abc8-3b01fef4590f4659.jpg_%3b%20filename_%3dutf-8%27%20%2719e5f550-0f8a-431e-abc8-3b01fef4590f4659.jpg" alt="list" />
		                        <span> Esteco </span>
		                    </a>
		                    				        	<a href="brand_goods_38.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/99346ea4-e72a-4435-961d-ace655eeefb31546.jpg_%3b%20filename_%3dutf-8%27%20%2799346ea4-e72a-4435-961d-ace655eeefb31546.jpg" alt="list" />
		                        <span>EPLAN</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_F" name="brand_F">F</h6>
				        					        	<a href="brand_goods_82.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e376c9f3-d7e8-4348-b7d7-169117e155871314.jpg_%3b%20filename_%3dutf-8%27%20%27e376c9f3-d7e8-4348-b7d7-169117e155871314.jpg" alt="list" />
		                        <span>福建福昕软件开发股份有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_G" name="brand_G">G</h6>
				        					        	<a href="brand_goods_22.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/801ce789-4eab-4883-be5c-2fdb654c968e0344.jpg_%3b%20filename_%3dutf-8%27%20%27801ce789-4eab-4883-be5c-2fdb654c968e0344.jpg" alt="list" />
		                        <span>广州中望龙腾软件股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_46.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/936e0f5b-e108-4ae9-b7a0-0327440af7c63856.png_%3b%20filename_%3dutf-8%27%20%27936e0f5b-e108-4ae9-b7a0-0327440af7c63856.png" alt="list" />
		                        <span>贵州江南航天信息网络通信有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_53.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/5952cf14-c683-4fe0-a3d4-a55b3546771e2158.png_%3b%20filename_%3dutf-8%27%20%275952cf14-c683-4fe0-a3d4-a55b3546771e2158.png" alt="list" />
		                        <span> Gamma Technologies </span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_H" name="brand_H">H</h6>
				        					        	<a href="brand_goods_28.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/1cf09d94-d985-4571-8a9e-db167d89c9c71141.jpg_%3b%20filename_%3dutf-8%27%20%271cf09d94-d985-4571-8a9e-db167d89c9c71141.jpg" alt="list" />
		                        <span>黑龙江海康软件工程有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_43.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e22e6a85-789f-41f4-9285-f3d83508f7432352.jpg_%3b%20filename_%3dutf-8%27%20%27e22e6a85-789f-41f4-9285-f3d83508f7432352.jpg" alt="list" />
		                        <span>航天云宏技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_48.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/4145138d-4ff6-4f6d-9ced-b1a6c07893e45020.jpg_%3b%20filename_%3dutf-8%27%20%274145138d-4ff6-4f6d-9ced-b1a6c07893e45020.jpg" alt="list" />
		                        <span>航天信息股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_49.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/0e352225-e43c-401f-8a6e-a590016dee3e0205.png_%3b%20filename_%3dutf-8%27%20%270e352225-e43c-401f-8a6e-a590016dee3e0205.png" alt="list" />
		                        <span>重庆工业云科技发展有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_I" name="brand_I">I</h6>
				        					        	<a href="brand_goods_78.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/02bab1a6-ce3b-45eb-b4c1-80f649c8de180408.png_%3b%20filename_%3dutf-8%27%20%2702bab1a6-ce3b-45eb-b4c1-80f649c8de180408.png" alt="list" />
		                        <span>深圳工作家网络科技有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_J" name="brand_J">J</h6>
				        					        	<a href="brand_goods_64.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e4af0455-0558-4423-9c49-573cccf6ecc91039.jpg_%3b%20filename_%3dutf-8%27%20%27e4af0455-0558-4423-9c49-573cccf6ecc91039.jpg" alt="list" />
		                        <span>金山软件股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_8.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/fa34a4ba-a71d-45d2-8377-818687b6df725317.png_%3b%20filename_%3dutf-8%27%20%27fa34a4ba-a71d-45d2-8377-818687b6df725317.png" alt="list" />
		                        <span>金蝶软件（中国）有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_47.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/c943608a-42cf-4283-996c-4a07d6dee76b1953.jpg_%3b%20filename_%3dutf-8%27%20%27c943608a-42cf-4283-996c-4a07d6dee76b1953.jpg" alt="list" />
		                        <span>江西重庆工业云科技有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_L" name="brand_L">L</h6>
				        					        	<a href="brand_goods_65.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/4491eb19-4e6a-40dc-b4d9-44b0b15ed8705638.png_%3b%20filename_%3dutf-8%27%20%274491eb19-4e6a-40dc-b4d9-44b0b15ed8705638.png" alt="list" />
		                        <span>联想新视界（北京）科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_74.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/063d59f2-2933-423b-aa5c-48f26914d3b10922.png_%3b%20filename_%3dutf-8%27%20%27063d59f2-2933-423b-aa5c-48f26914d3b10922.png" alt="list" />
		                        <span>连恩智能科技(上海)有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_54.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/b640c684-ea8e-4802-9f22-5fab3baa589a2254.png_%3b%20filename_%3dutf-8%27%20%27b640c684-ea8e-4802-9f22-5fab3baa589a2254.png" alt="list" />
		                        <span>北京蓝威技术有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_M" name="brand_M">M</h6>
				        					        	<a href="brand_goods_13.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/5979458f-eba9-4a89-a9ab-94fe1951f5804407.png_%3b%20filename_%3dutf-8%27%20%275979458f-eba9-4a89-a9ab-94fe1951f5804407.png" alt="list" />
		                        <span>美国DP Technology公司</span>
		                    </a>
		                    				        	<a href="brand_goods_6.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/ca6c232e-809f-4023-b847-d87420147bb40521.png_%3b%20filename_%3dutf-8%27%20%27ca6c232e-809f-4023-b847-d87420147bb40521.png" alt="list" />
		                        <span>MSC Software</span>
		                    </a>
		                    				        	<a href="brand_goods_16.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/6feaf921-96d0-4eda-a3b4-d44a34edd5da2859.png_%3b%20filename_%3dutf-8%27%20%276feaf921-96d0-4eda-a3b4-d44a34edd5da2859.png" alt="list" />
		                        <span>Magneforce software systems, Inc.</span>
		                    </a>
		                    				        	<a href="brand_goods_60.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/96633fa3-bc73-46f4-9085-8442f6bfeb873634.jpg_%3b%20filename_%3dutf-8%27%20%2796633fa3-bc73-46f4-9085-8442f6bfeb873634.jpg" alt="list" />
		                        <span>美通云动（北京）科技有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_N" name="brand_N">N</h6>
				        					        	<a href="brand_goods_76.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e5286639-2234-4c77-9729-ffc8cdc5199c3854.png_%3b%20filename_%3dutf-8%27%20%27e5286639-2234-4c77-9729-ffc8cdc5199c3854.png" alt="list" />
		                        <span>南京壹千零壹号自动化科技有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_P" name="brand_P">P</h6>
				        					        	<a href="brand_goods_77.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e300d582-425d-4b33-ab65-44b4f7a5fd0f0353.png_%3b%20filename_%3dutf-8%27%20%27e300d582-425d-4b33-ab65-44b4f7a5fd0f0353.png" alt="list" />
		                        <span>平安科技（深圳）有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_R" name="brand_R">R</h6>
				        					        	<a href="brand_goods_66.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/9efc1bfb-914f-4aff-9bb9-85ae21d60b5a1453.jpg_%3b%20filename_%3dutf-8%27%20%279efc1bfb-914f-4aff-9bb9-85ae21d60b5a1453.jpg" alt="list" />
		                        <span>瑞风协同</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_S" name="brand_S">S</h6>
				        					        	<a href="brand_goods_69.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/7f2fa30b-3180-4dcf-bac5-a2c822e28c085149.png_%3b%20filename_%3dutf-8%27%20%277f2fa30b-3180-4dcf-bac5-a2c822e28c085149.png" alt="list" />
		                        <span>上海数巧信息科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_73.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/49a7df00-70fa-4588-986c-260b1e24b4024116.jpg_%3b%20filename_%3dutf-8%27%20%2749a7df00-70fa-4588-986c-260b1e24b4024116.jpg" alt="list" />
		                        <span>上海慧埠网络科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_75.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/b5987eb0-6fda-4f5a-b0b4-bbc37bd81d572226.jpg_%3b%20filename_%3dutf-8%27%20%27b5987eb0-6fda-4f5a-b0b4-bbc37bd81d572226.jpg" alt="list" />
		                        <span>深圳和谐万维信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_80.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/1df0d0d2-0e0e-449b-af1c-07285de3751a3712.png_%3b%20filename_%3dutf-8%27%20%271df0d0d2-0e0e-449b-af1c-07285de3751a3712.png" alt="list" />
		                        <span>上海赛印信息技术股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_81.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/17aac0be-ca8c-4952-99eb-875e70b134450356.jpg_%3b%20filename_%3dutf-8%27%20%2717aac0be-ca8c-4952-99eb-875e70b134450356.jpg" alt="list" />
		                        <span>SAP</span>
		                    </a>
		                    				        	<a href="brand_goods_3.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/b311bdc2-ffb1-4926-addd-b65060bf794f5714.png_%3b%20filename_%3dutf-8%27%20%27b311bdc2-ffb1-4926-addd-b65060bf794f5714.png" alt="list" />
		                        <span>山东山大华天软件有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_21.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/cff3667f-916d-4c80-98a9-1508d655991c1031.jpg_%3b%20filename_%3dutf-8%27%20%27cff3667f-916d-4c80-98a9-1508d655991c1031.jpg" alt="list" />
		                        <span>苏州浩辰软件股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_24.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/b5d20e72-e04f-4de6-8532-e32afc2bbd900821.png_%3b%20filename_%3dutf-8%27%20%27b5d20e72-e04f-4de6-8532-e32afc2bbd900821.png" alt="list" />
		                        <span>上海思普信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_33.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/781cbf39-08dc-4c36-97c3-4afa666780715042.png_%3b%20filename_%3dutf-8%27%20%27781cbf39-08dc-4c36-97c3-4afa666780715042.png" alt="list" />
		                        <span>深圳青虹数据技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_37.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/d9fbdc6e-a3c9-48f4-9809-d7a377fe4bdd1614.png_%3b%20filename_%3dutf-8%27%20%27d9fbdc6e-a3c9-48f4-9809-d7a377fe4bdd1614.png" alt="list" />
		                        <span>深圳易财信息技术有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_39.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/88d37875-60a1-4d32-88e0-e624211300e60423.png_%3b%20filename_%3dutf-8%27%20%2788d37875-60a1-4d32-88e0-e624211300e60423.png" alt="list" />
		                        <span>上海星汉信息技术公司</span>
		                    </a>
		                    				        	<a href="brand_goods_40.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/d21e3461-030e-400f-b2d5-1b7bc99fbe422040.png_%3b%20filename_%3dutf-8%27%20%27d21e3461-030e-400f-b2d5-1b7bc99fbe422040.png" alt="list" />
		                        <span>上海云诣网络科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_59.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/9c54c7ea-80c9-431f-87f1-3f179bac43402311.png_%3b%20filename_%3dutf-8%27%20%279c54c7ea-80c9-431f-87f1-3f179bac43402311.png" alt="list" />
		                        <span>上海鸿翼软件技术股份有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_T" name="brand_T">T</h6>
				        					        	<a href="brand_goods_71.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/fbab98f9-7e6d-4850-91bc-94ca7c3af1344347.png_%3b%20filename_%3dutf-8%27%20%27fbab98f9-7e6d-4850-91bc-94ca7c3af1344347.png" alt="list" />
		                        <span>天阳宏业科技股份有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_20.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/097e8489-6d59-49d4-8023-cf37b8ffbedd1006.jpg_%3b%20filename_%3dutf-8%27%20%27097e8489-6d59-49d4-8023-cf37b8ffbedd1006.jpg" alt="list" />
		                        <span>天河智造（北京）科技股份有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_W" name="brand_W">W</h6>
				        					        	<a href="brand_goods_7.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/383430f8-8a7d-42c5-80fb-5e697cb5ef1f0636.png_%3b%20filename_%3dutf-8%27%20%27383430f8-8a7d-42c5-80fb-5e697cb5ef1f0636.png" alt="list" />
		                        <span>武汉开目信息技术有限责任公司</span>
		                    </a>
		                    				        	<a href="brand_goods_45.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/dd38e5f5-3bc3-4201-b562-2dcd0f7b32842305.jpg_%3b%20filename_%3dutf-8%27%20%27dd38e5f5-3bc3-4201-b562-2dcd0f7b32842305.jpg" alt="list" />
		                        <span>武汉三江航天网络通信有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_58.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/e31d8dd7-148e-406c-844d-933bccd72ba11449.png_%3b%20filename_%3dutf-8%27%20%27e31d8dd7-148e-406c-844d-933bccd72ba11449.png" alt="list" />
		                        <span>微软</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_X" name="brand_X">X</h6>
				        					        	<a href="brand_goods_11.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/81f09f38-75d7-497c-8017-6dc95e57d5210435.png_%3b%20filename_%3dutf-8%27%20%2781f09f38-75d7-497c-8017-6dc95e57d5210435.png" alt="list" />
		                        <span>西门子工业软件（上海）有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_Y" name="brand_Y">Y</h6>
				        					        	<a href="brand_goods_62.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/aeac8253-911c-4c9b-af3a-b7894c06d7ce1255.png_%3b%20filename_%3dutf-8%27%20%27aeac8253-911c-4c9b-af3a-b7894c06d7ce1255.png" alt="list" />
		                        <span>用友</span>
		                    </a>
		                    				        	<a href="brand_goods_67.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/0c710d57-a128-4c55-b587-ceb9dc062fe51215.png_%3b%20filename_%3dutf-8%27%20%270c710d57-a128-4c55-b587-ceb9dc062fe51215.png" alt="list" />
		                        <span>云车间</span>
		                    </a>
		                    				        	<a href="brand_goods_68.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/434fbe24-4e88-4f31-9f32-296f086a03511349.png_%3b%20filename_%3dutf-8%27%20%27434fbe24-4e88-4f31-9f32-296f086a03511349.png" alt="list" />
		                        <span>云海桥</span>
		                    </a>
		                    				        	<a href="brand_goods_84.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/63149b74-6fb9-45b8-9c62-eb495900e0ea2532.png_%3b%20filename_%3dutf-8%27%20%2763149b74-6fb9-45b8-9c62-eb495900e0ea2532.png" alt="list" />
		                        <span>远算科技</span>
		                    </a>
		                    				        	<a href="brand_goods_31.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/3007842a-28fb-4795-a6d5-6c2fe94b9aa01453.png_%3b%20filename_%3dutf-8%27%20%273007842a-28fb-4795-a6d5-6c2fe94b9aa01453.png" alt="list" />
		                        <span>云麦科技(北京)有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_50.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/42925c35-e66d-46a9-be07-147ad9282ed40440.gif_%3b%20filename_%3dutf-8%27%20%2742925c35-e66d-46a9-be07-147ad9282ed40440.gif" alt="list" />
		                        <span>有限元在线</span>
		                    </a>
		                    				        	<a href="brand_goods_57.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/02482c6e-a624-4e87-a0ae-8a494e5ac67e4805.png_%3b%20filename_%3dutf-8%27%20%2702482c6e-a624-4e87-a0ae-8a494e5ac67e4805.png" alt="list" />
		                        <span>易讯科技股份有限公司</span>
		                    </a>
		                    	                    </div>
			        		        			        			        	<div class="list clearfix now">
				        	<h6 id="brand_Z" name="brand_Z">Z</h6>
				        					        	<a href="brand_goods_63.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/2e9f2e4f-a7d2-4076-8a38-0c42fa0337773206.png_%3b%20filename_%3dutf-8%27%20%272e9f2e4f-a7d2-4076-8a38-0c42fa0337773206.png" alt="list" />
		                        <span>中服云</span>
		                    </a>
		                    				        	<a href="brand_goods_70.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/a5672cf3-c7ae-43fb-ab48-321b7936d2220628.png_%3b%20filename_%3dutf-8%27%20%27a5672cf3-c7ae-43fb-ab48-321b7936d2220628.png" alt="list" />
		                        <span>长沙啄鸟网络科技有限公司</span>
		                    </a>
		                    				        	<a href="brand_goods_4.html">
		                        <img src="http://oi2cgvwkk.bkt.clouddn.com/upload/brand/b0f8e1fe-b26f-455d-94d3-a02f4b1ccf564317.jpg_%3b%20filename_%3dutf-8%27%20%27b0f8e1fe-b26f-455d-94d3-a02f4b1ccf564317.jpg" alt="list" />
		                        <span>赞云（中国）软件有限公司</span>
		                    </a>
		                    	                    </div>
			        		                    </div>
        </div>
    </div>
    <!-- 合作伙伴页 End --> 
  ﻿<!-- softPond_footer Begin -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

 <script>
 jQuery(function(){
     //返回顶部
     jQuery('#goTop').click(function () {
     	jQuery('body,html').stop().animate({scrollTop:0},300);
         return false;
     });
 });
 
 function xiaonGroup(obj){
 	var loginUserName = '';
 	if(loginUserName!= null && loginUserName!= undefined && loginUserName!=''){
 		nTalk.im_openInPageChat("yw_1000_" + obj);
 	}else{
 		var currentPath = window.location.href;
 		doLogin(currentPath,false);
 		}
 	}
 
	function xiaon(){
		var loginUserName = '';
		if(loginUserName!= null && loginUserName!= undefined && loginUserName!=''){
			nTalk.im_openInPageChat();
		}else{
			var currentPath = window.location.href;
			doLogin(currentPath,false);
		}
	}
</script>

	<!--集成脚本加载-- 小能  start-->
	<script language="javascript" type="text/javascript">
	var imName = '';
	var currentPath = window.location.href;
				  NTKF_PARAM = {
						siteid:"yw_1000",		                		//企业ID，为固定值，必传
						settingid:"yw_1000_9999",		        		//客服接待组配置ID，必传
						uname:imName,									//用户ID，未登录可以为空，但是不能给null，uid赋予的值在显示到小能客户端		<用户登录ID  不固定>
						uid:imName,										//用户名，未登录可以为空，但是不能给null，uname赋予的值显示到小能客户端
						isvip:"0",                              		//是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端
						userlevel:"1",		                    		//网站自定义会员级别，1-N，可根据选择判断，取值显示到小能客户端
						erpparam:"abc"                         			//erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
		}
	</script>
	
	<!--基础脚本加载 -->
	<script type="text/javascript" src="../dl.ntalker.com/js/b2b/ntkfstat412d.js?siteid=yw_1000" charset="utf-8"></script>
	
	<div class="softPond_rightPos">
      <div class="icon1">
        <a href="javascript:void(0)" onclick="xiaon()">平台客服</a>
     <ul class="hoverShow">
     			<li><a href="javascript:void(0);" onclick="xiaonGroup('1469505201705')">云制造</a></li>
				<li><a href="javascript:void(0);" onclick="xiaonGroup('1469505334889')">工业品共享中心</a></li>
				<li><a href="javascript:void(0);" onclick="xiaonGroup('1469505491721')">其他版块</a></li>
			 </ul>
      </div>
      <div class="icon2">
        <a href="javascript:void(0);" onclick="nTalk.im_openInPageChat('yw_1000_1469505619221')" >客户留言</a>
      </div>
      <div class="icon3">
        <a href="http://www.casicloud.com/aboutus_htcloud.jsp" target="_blank">关于我们</a>
      </div>
      <div class="icon4" id="goTop">
        <a href="javascript:void(0);">返回顶部</a>
      </div>
    </div>
	
	
	
<!-- ----end ------------------------- -->

<!-- <div class="softPond_footer"> -->
<script>
window.HT_UID='';// 用户ID
window.HT_OID=''; // 企业ID
</script>
<div style="display:none">
<script type="text/javascript" src="../stat.htres.cn/log193a.js?sid=rjc"></script>
</div>
   <!--  <div class="block">
        <div class="box">
            <ul class="ul1">
                <li class="num">01</li>
                <li class="t">关于我们</li>
                <li><a href="http://core.casicloud.com/aboutus_htcloud.jsp">重庆工业云平台</a></li>
                <li><a href="http://core.casicloud.com/jiangxiIndex.ht">江西重庆工业云平台</a></li>
                <li><a href="http://www.gz-icloud.com.cn/">贵州重庆工业云平台</a></li>
                <li><a href="http://xiaogan.casicloud.com/">孝感重庆工业云平台</a></li>
            </ul>
            <ul class="ul2">
                <li class="num">02</li>
                <li class="t">快速链接</li>
                <li><a href="http://cacp.casicloud.com/">航天云平台</a></li>
                <li><a href="http://gjc.casicloud.com:8080/area/supplyside/areaSupplySideProject/index.ht">供给侧改革</a></li>
                <li><a href="http://train.casicloud.com/Education/main">在线培训平台</a></li>
                <li><a href="http://www.yqscpt.com/">央企双创平台</a></li>
                
                
            </ul>
            <ul class="ul3">
                <li class="num">03</li>
                <li class="t">服务支持</li>
                <li><a href="http://core.casicloud.com/pages/cloud6.0/yzz/info/jsp/operateManual.jsp">用户手册</a></li>
                <li><a href="http://core.casicloud.com/pages/cloud6.0/yzz/info/jsp/yunList.jsp">培训视频</a></li>
                <li><a href="http://core.casicloud.com/cloud/pub/yunFeedback/htcloud/create.ht">客服中心</a></li>
                <li><a href="http://core.casicloud.com/pages/cloud6.0/yzz/info/jsp/operate/shbz.jsp">售后保障</a></li>
            </ul>
            <ul class="ul4">
                <li class="num">04</li>
                <li class="t">联系我们</li>
                <li>电话：400-008-2859</li>
                <li>地址：重庆市大足区昌州街国际会展中心2层</li>
            </ul>
            <ul class="ul5">
                <li class="num">05</li>
                <li class="t">
                    <span class="s1">
                        <img src="http://oi2cgvwkk.bkt.clouddn.com//resources/style/soft/images/softPond_footerApp.jpg" style="width:95px; height=95px" />
                        <h2>重庆工业云APP</h2>
                    </span>
                    <span class="s2">
                        <img src="http://oi2cgvwkk.bkt.clouddn.com//resources/style/soft/images/softPond_footerWeChat.jpg" style="width:95px; height=95px" />
                        <h2>关注云网</h2>
                    </span>
                </li>
                <li><div style="display:none;"><script src="https://s11.cnzz.com/z_stat.php?id=1260852102&web_id=1260852102" language="JavaScript"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?265c1301b34983c2f611d7846994bfe6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="https://s11.cnzz.com/z_stat.php?id=1261154456&web_id=1261154456" language="JavaScript"></script>

</div></li>
            </ul>
        </div>
    </div>
    <div class="site">
        <div class="block">
            <div>Copyright@2016重庆工业云,All Rights Reserved | 京ICP备16012914号-12    京公网安备1101082014254</div>
        </div>
    </div>
</div> -->
<!-- softPond_footer End -->
<div class="g-ft">
            <div class="g-ft-us clearfix">
                <ul class="us-list1">
                    <li class="us-tit">常见问题</li>
                    <li>
                        <a href="http://kf.casicloud.com/question/zhgl/20170112-001.html" target="_blank">帐号管理</a>
                    </li>
                    <li>
                        <a href="http://kf.casicloud.com/question/ggfw/20170112-019.html" target="_blank">广告服务</a>
                    </li>
                    <li>
                        <a href="http://kf.casicloud.com/question/zxjy/20170112-025.html" target="_blank">在线交易</a>
                    </li>
                    <li>
                        <a href="http://kf.casicloud.com/question/zqfw/20170112-022.html" target="_blank">专区服务</a>
                    </li>
                </ul>
                <ul class="us-list2">
                    <li class="us-tit">关于我们</li>
                    <li>
                        <a href="http://www.casicloud.com/" target="_blank">重庆工业云平台</a>
                    </li>
                    <li>
                        <a href="http://core.casicloud.com/jiangxiIndex.ht" target="_blank">江西重庆工业云平台</a>
                    </li>
                    <li>
                        <a href="http://www.gz-icloud.com.cn/" target="_blank">贵州重庆工业云平台</a>
                    </li>
                    <li>
                        <a href="http://xiaogan.casicloud.com/" target="_blank">孝感重庆工业云平台</a>
                    </li>
                </ul>
                <ul class="us-list3">
                    <li class="us-tit">便捷入口</li>
                    <li>
                        <a href="http://ydyl.casicloud.com/" target="_blank">空间信息走廊云平台</a>
                    </li>
                    <li>
                        <a href="http://intl.indics.com/index.ht" target="_blank">INDICS国际版</a>
                    </li>
                   <!--  <li>
                        <a href="http://train.casicloud.com/Education/main" target="_blank">在线培训平台</a>
                    </li> -->
                    <li>
                        <a href="http://www.yqscpt.com/" target="_blank">央企双创平台</a>
                    </li>
                    <li>
                        <a href="http://os.casicloud.com/yun.ht" target="_blank">企业上云</a>
                    </li>
                </ul>
                <ul class="us-list4">
                    <li class="us-tit">客户服务</li>
                    <li>
                        <a target="_blank" href="http://kf.casicloud.com/userHelp.html">用户手册</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://kf.casicloud.com/contact.html">在线咨询</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://core.casicloud.com/cloud/tenant/tenantInfo/certification.ht">企业认证</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://kf.casicloud.com/question/sjdy/20170112-015.html">商机订阅</a>
                    </li>
                </ul>
                <ul class="us-list5">
                    <li class="us-tit">联系我们</li>
                    <li>市场商务：010-88624331</li>
                    <li>客服热线：400-008-2859</li>
                    <li class="us-code">
                        <div class="f_left" style="float:left;">
                            <img src="http://oi2cgvwkk.bkt.clouddn.com/resources/style/soft/images/softPond_footerWeChat.jpg_%3b%20filename_%3dutf-8%27%20%27softPond_footerWeChat.jpg" alt="code">
                            <p>重庆工业云微信</p>
                        </div>
                        <div class="f_right" style="float:right;">
                            <img src="http://oi2cgvwkk.bkt.clouddn.com/resources/style/soft/images/softPond_footerApp.jpg_%3b%20filename_%3dutf-8%27%20%27softPond_footerApp.jpg" alt="code">
                            <p>重庆工业云APP</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="g-ft-links">
	            <div class="g-ft-sites">
	            	<span>INDICS site：</span>
	            	<a href="http://intl.indics.com/" target="_blank">International</a>
	                <a href="https://www.indics.de/" target="_blank">Deutsch</a>
	                <a href="http://www.indics.us/" target="_blank">Unite State</a>
	                <a href="http://www.indics.pk/" target="_blank">Pakistan</a>
	                <a href="http://os.casicloud.com/" target="_blank">中国</a>
	            </div>
                <a href="http://www.ca800.com/" target="_blank">中国自动化网</a>
                <a href="http://www.cechina.cn/" target="_blank">控制工程网</a>
                <a href="http://www.eeworld.com.cn/" target="_blank">电子工程世界</a>
                <a href="http://www.mechnet.com.cn/" target="_blank">中国机械专家网</a>
                <a href="http://www.cntronics.com/" target="_blank">电子元件技术网</a>
                <a href="http://www.fyjs.casic.cn/" target="_blank">中国航天科工二院</a>
                <a href="http://www.fhjs.casic.cn/" target="_blank">中国航天科工三院</a>
                <a href="http://www.aerosun.cn/" target="_blank">航天晨光股份公司</a>
                <a href="http://www.aisino.com/" target="_blank">航天信息股份有限公司</a>
                <a href="http://www.cnnsr.com.cn/" target="_blank">纳税服务网</a>
                <a href="http://www.casic.com.cn/" target="_blank">中国航天科工集团</a>
</div>
            <p class="g-ft-cprt">Copyright@2016重庆工业云&nbsp;All Rights Reserved&nbsp;京ICP备16012914号-12京公网安备11010802022625</p>
        </div>
        </div> 
</body>
</html>
