	{template 'header-top'}
        <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/page.css" />
	    <link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/new_search2810.css"  id="search_css"/>
		<script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/search.js"></script>
	    <script type="text/javascript" src="http://img1.gyyqcloud.com/res/js/jquery.qrcode.min.js"></script>
    <link href="{DT_STATIC}file/layer/theme/default/layer.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{DT_STATIC}file/layer/layer.js"></script>
    <style>
        .zoneFilter p {
            height: 40px;
            border-bottom: 1px solid #ddd;
            line-height: 40px;
            padding-left: 15px;
            position: sticky;
            z-index: 2;
            background-color: #fff;
        }
        .zoneFilter {
            position: absolute;
            width: 350px;
            height: 265px;
            background: #fff;
            top: 42px;
            left: 0px;
        }
        .zoneFilter li{
            float:left;
            margin: 0px 8px;
        }
        .zoneFilter ul{
            position: absolute;
            z-index: 2;
            background-color: #fff;
        }
        .empfilterList,.comTypefilterList{
            position: absolute;
            z-index: 2;
            background-color: #fff;
            width: 150px;
        }
        .rank1{
            background: url("/file/image/rank_top_img_1.png") no-repeat center !important;
        }
        .rank2{
            background: url("/file/image/rank_bottom_img_1.png") no-repeat center !important;
        }
        .flag{
            color: #ff711b;
        }


    </style>
{template 'header-search-inc'}

<div class="news_menu">
        <div class="container">
            <div class="new_cates" id="cates">
                <i></i><a href="/">主页</a>
                <span><i></i><span>求购信息</span></span>
            </div>
        </div>
    </div>
    <div class="search_nav">
        <div class="container">
            <div class="search_nav_box">
                <div class="nav_box">
                    <ul class="nav_box_ul clearfix" id="tab_list">
                  {loop $TYPE $k $v}
                        <li {if (intval($typeid)==$k)}class="active"{/if}><a href="{$MOD[linkurl]}{rewrite('index.php?typeid='.$k.'&catid='.$catid)}">{$v}</a></li>
{/loop}
                    </ul>
                </div>
                <!--div class="nav_share clearfix">
                    <div class="nav_share_sub"><a href="javascript:void(0);" id="subscription"><i></i>订阅商机</a></div>
                    <div class="nav_share_btn"><a href="javascript:;" class="share_btn hidden-xs"></a></div>
                    <input type="hidden" id="hidden_domain_buy" value="index.html"/>
                </div-->
            </div>
        </div>
    </div>
    <div class="search_category">
        <div class="container">
            <div class="search_category_box clearfix">
                <div class="fl">
                    <div class="category_box">
                        <div><a href="searchr.html?q=all">所有分类：</a></div>
                        <div id="categoryMenu"></div>
                    </div>
                </div>
                <div class="fr category_time">
                    共找到&nbsp;<span class="highlight">{$items}</span>&nbsp;件<span class="double_mark">“</span><span class="double_mark">”</span>相关求购信息
                        （用时{$usetime}秒）
                    </div>
            </div>
        </div>
    </div>
    <div class="search_type">
        <div class="container">
            <div class="search_type_box">
                <div class="buySearch_type_content clearfix">
                    <div class="left">
                        <span><a id='0' onclick="searchByCatFilter(this);" {if $catid == 0} style="color: #3077b9;" {/if} >全部：</a></span>
                    </div>
                    <div class="right" id="subscriptionCategory">
                        {loop $category $v}
                        <span data-id='{$v[catid]}' data-value='{$v[catname]}' >
                        	<a onclick="searchByCatFilter(this);" id='{$v[catid]}' {if $catid == $v[catid]} style="color: #3077b9;" {/if} title='{$v[catname]}' >{$v[catname]}</a>
                        </span>
                        {/loop}
                    </div>
                    <div class="filter_more filter_more_move fr" id="sort_more"><i class="active"></i>更多</div>
                </div>
                <div class="buySearch_type_content clearfix"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="search_sort">
        <div class="container">
            <div class="search_sort_box">
                <div class="search_func">
                    <div class="active"><span href="javascript:;" onClick="ranking(this);" class="{if $addtime == 'desc'}flag{/if}" >综合排序</span></div>
                    <div class="flag">
                        <div class="course_rank" id="start">
                            <span class="ordertxt">发布时间</span>
                                <i class="rank_top{if $addtime == 'asc'} rank1{/if}"></i>
                                <i class="rank_bottom{if $addtime == 'descs'} rank2{/if}"></i>
                        </div>
                    </div>
                   <!-- <div class="flag">
                        <div class="course_rank" id="end">
                            <span class="ordertxt">截止时间</span>
                                <i class="rank_top"></i><i class="rank_bottom rank"></i>
                        </div>
                    </div>-->
                    <div id="areas_filter" class="popup_button"><img src="http://img1.gyyqcloud.com/res/images/popdown_arrow.png"
                                                                     alt="" class="popup_arrow"><a
                            href="javascript:;">所在地区</a>
                        <div class="zoneFilter" style="display: none;position:absolute;text-align: left;">
                            <p onclick="searchByZoneFilter(this)" value="0" >所有地区</p>
                            <ul class="zonefilterList">

                                {loop $area $v}
                                <li class="area {$v[areaid]}"   onclick="searchByZoneFilter(this)" value="{$v[areaid]}">{$v[areaname]}</li>
                                {if $areaid == $v[areaid]}
                                <script>
                                    $("#areas_filter a").text($(".{$v[areaid]}").html());
                                </script>
                                {/if}
                                {if $areaid == 0}
                                <script>
                                    $("#areas_filter a").text('所有地区');
                                </script>
                                {/if}
                                {/loop}
                            </ul>
                        </div>

                    </div>

                    <div id="emp_filter" class="popup_button">
                        <img src="http://img1.gyyqcloud.com/res/images/popdown_arrow.png" alt="" class="popup_arrow">
                        <a id="empfilter" href="javascript:;">企业规模</a>
                         <ul class="empfilterList" style="display: none">
                             <li onclick="searchByEmpfilter(this)">所有</li>
                            {loop $com_size $v}
                            <li onclick="searchByEmpfilter(this)">{$v}</li>
                             {if $empfilter == $v}
                                <script>$("#empfilter").html('{$v}')</script>
                             {/if}
                            {/loop}
                         </ul>
                    </div>
                    <div id="comtype_filter" class="popup_button">
                        <img src="http://img1.gyyqcloud.com/res/images/popdown_arrow.png" alt="" class="popup_arrow">
                        <a id="comTypefilter" href="javascript:;">企业类型</a>
                        <ul class="comTypefilterList" style="display: none">
                            <li onclick="searchByComTypefilter(this)">所有</li>
                            {loop $com_type $v}
                            <li onclick="searchByComTypefilter(this)">{$v}</li>
                            {if $comTypefilter == $v}
                            <script>$("#comTypefilter").html('{$v}')</script>
                            {/if}
                            {/loop}
                        </ul>
                    </div>
                   <!-- <div id="busitype_filter" class="popup_button">
                        <img src="http://img1.gyyqcloud.com/res/images/popdown_arrow.png" alt="" class="popup_arrow">
                        <a href="javascript:;">经营类型</a>
                    </div>
                    <div id="level_filter" class="popup_button">
                        <img src="http://img1.gyyqcloud.com/res/images/popdown_arrow.png" alt="" class="popup_arrow">
                        <a href="javascript:;">质量认证</a>
                    </div>
                    <div class="check_box">
                    	<input type="checkbox" id="past_demand_search" onClick="pastDemandSearch()"><label for="past_demand_search">过期需求</label>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="search_data">
        <div class="container">
            <div class="search_data_box clearfix">
                <div class="search_mod fl">
                    <div class="clearfix">
                       {loop $tags $k $t}
                        <div class="mod_unit">
                                    <div class="mod_unit_box">
                                        <div class="unit_top">
                                           <div class="unit_top_title"><a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">{$t[title]}</a></div>
                                           <div class="unit_top_num"><a href="{$t[linkurl]}" target="_blank">采购量：<span class="num_label">{$t[amount]}套</span></a></div>
                                      </div>
                                        <div class="unit_middle">
                                            <div class="unit_middle_box">
                                                <a href="{$t[linkurl]}" target="_blank">
                                                    <div class="unit_content">
                                                        <span>发布时间：</span>
                                                        <span class="unit_label"> {$t[editdate]}</span>
                                                    </div>
                                                    <div class="unit_content">
                                                        <span>剩余时间：</span>
                                                        <span class="days">{if $todate}{$todate}{else}长期有效{/if}{if $expired} <span class="f_red">[已过期]</span>{/if}</span>&nbsp;</span>
                                                    </div>
                                                    <div class="unit_content">
                                                        <span>分类：</span>
                                                        <span title="{$t[catname][catname]}">{$t[catname][catname]}</span>
                                                    </div>
                                                    <div class="unit_content">
                                                        <span>地区：</span>
                                                        <span> {area_pos($t[areaid], '')}</span>
                                                    </div>
                                                  <!--  <div class="unit_content">
                                                        <span>报价企业：</span>
                                                        <span class="unit_label">0个</span>
                                                    </div>-->
                                                </a>
                                            </div>
                                            <div class="unit_conname">
                                            {if !$t[username]}
                                            <a href="#" target="_blank" title="[未注册]">[未注册]</a>
                                            {else}
                                            <a href="/index.php?homepage={$t[username]}" target="_blank" title="{$t[company]}">{$t[company]}</a>{/if}
                                            </div>
                                            <div class="unit_approve clearfix">
                                                <div><span class="company_level" data-level="2" title="质量认证"></span></div>
                                                <div><span class="company_famous" title="名企认证"></span></div><div><span class="company_cert" title="实名认证"></span></div></div>
                                        </div>
                                        <div class="unit_bottom">
                                            <a href="#" value="{$t[itemid]}" onclick="offer(this);">立即报价</a>
                                        </div>
                                    </div>
                      </div>
                         {/loop}
                  </div>
                    {if $showpage && $pages}<div class='pages'>{$pages}</div>{/if}

                    <div class="new_page"><span class="disable previous"></span>
                        <?php for($pages=1;$pages<=$total;$pages++){?>
                        {if $page == $pages}
                            <span class="current num">{$pages}</span>
                        {else}
                        <span class="num"><a>{$pages}</a></span>
                        {/if}

                        <?php }?>
                      <!--  <span class="current num">1</span>
                        <span class="num"><a href="searchr7009.html?q=&amp;detailtype=0&amp;page=1">2</a></span>
                        <span class="num"><a href="searchrc57a.html?q=&amp;detailtype=0&amp;page=2">3</a></span>
                        <span class="num"><a href="searchrff49.html?q=&amp;detailtype=0&amp;page=3">4</a></span>
                        <span class="num"><a href="searchr2365.html?q=&amp;detailtype=0&amp;page=4">5</a></span>
                        <span class="num"><a href="searchrec0b.html?q=&amp;detailtype=0&amp;page=5">6</a></span>
                        <span class="dots">...</span>
                        <span class="num"><a href="searchr9300.html?q=&amp;detailtype=0&amp;page=24">25</a></span>-->
                        <span class="next"><a  data-rec="下一页"></a></span>
                        <span class="total total_page">共{$total}页</span>
                        <span class="page_jump">到</span>
                        <input id='pageInput' class="pageInput" oldpage="" maxlength="5" type="text">
                        <span class="page_jump">页</span>
                        <button type="button" class="pagebtn" id='pagebtn'>确定</button>
                        <!--<script>HT.utils.pagination(25,$('#pageInput'), $('#pagebtn'));</script>-->
                    </div>
                </div>
                <div class="search_ad fr">
     				{php $adtags=tag("table=ad&condition=pid=81&areaid=$cityid&pagesize=10&template=null&debug=0");}
     				{loop $adtags $i $t}
                    <div>
                    	<a href="{$t[url]}" target="_blank"><img src="{$t[image_src]}" alt="{$t[title]}"><img src="{$t[image_src]}" alt="{$t[title]}"></a>
                    </div>
					{/loop}
    			</div>
            </div>
        </div>
    </div>

    <!--
        <div class="search_recommend">
        <div class="container">
            <div class="search_recommend_box">
                <div class="recommend_title">需求推荐</div>
                <div class="recommend_box clearfix">
                    <div class="recommend_unit">
                                <div class="mod_unit_box">
                                    <div class="unit_top">
                                        <div class="unit_top_title">
                                                <a href="../industry/industryMall/hall/industryDemandContent.html?inqId=1000000014783296" target="_blank" title="断路器">断路器</a>
                                      </div>
                                            <div class="unit_top_num">
                                                <a href="../industry/industryMall/hall/industryDemandContent.html?inqId=1000000014783296" target="_blank">
                                                采购量：<span class="num_label">1.00套</span>
                                                </a>
                                            </div>
                                  </div>
                                    <div class="unit_middle">
                                        <div class="unit_middle_box">
                                            <a href="../industry/industryMall/hall/industryDemandContent.html?inqId=1000000014783296" target="_blank">
                                                <div class="unit_content">
                                                    <span>发布时间：</span>
                                                    <span class="unit_label"> 2018-04-16</span>
                                                </div>
                                                <div class="unit_content">
                                                    <span>剩余时间：</span>
                                                    <span class="days">2</span>&nbsp;天
                                                                </span>
                                                </div>
                                                <div class="unit_content">
                                                    <span>分类：</span>
                                                    <span title="其他">
                                                        其他</span>
                                                </div>
                                                <div class="unit_content">
                                                    <span>地区：</span>
                                                    <span> 陕西</span>
                                                </div>
                                                <div class="unit_content">
                                                    <span>报价企业：</span>
                                                    <span class="unit_label">0个</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="unit_conname">
                                            <a href="company/buys.html" target="_blank" title="西安航天自动化股份有限公司">西安航天自动化股份有限公司</a>
                                        </div>
                                        <div class="unit_approve clearfix">
                                            <div><span class="company_level" data-level="2" title="质量认证"></span></div>
                                            <div><span class="company_famous" title="名企认证"></span></div><div><span class="company_cert" title="实名认证"></span></div></div>
                                    </div>
                                    <div class="unit_bottom">
                                        <a href="../industry/industryMall/hall/industryDemandContent.html?inqId=1000000014783296" target="_blank">立即报价</a>
                                    </div>
                                </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    -->
        <script type="text/javascript">
            if({$areaid}){var areaid = {$areaid};}else{var areaid = 0;}//地区
            if({$catid}){var catid = {$catid};}else{var catid = 0;}//分类
            if('{$empfilter}' != ''){var empfilter = '{$empfilter}'}else{var empfilter='';}//企业规模
            if('{$comTypefilter}' !=''){var comTypefilter = '{$comTypefilter}'}else{var comTypefilter='';}//企业类型
            if('{$addtime}' == 'desc'){var addtime = 'desc';}else{var addtime = 'asc';}
            if({$page} ){var page = {$page};}else{var page = 1;}

            //图片切换
            $(".popup_arrow").hover(function () {
                var src = $(this).attr("src");
                if(src == 'http://img1.gyyqcloud.com/res/images/popdown_arrow.png'){
                    $(this).attr("src","http://img1.gyyqcloud.com/res/images/popup_arrow.png");
                }else{
                    $(this).attr("src","http://img1.gyyqcloud.com/res/images/popdown_arrow.png");
                }
            });
            //地区显示隐藏
            $("#areas_filter").hover(function () {
                $(".zoneFilter").toggle();
            });
            //企业规模显示隐藏
            $("#emp_filter").hover(function () {
                $('.empfilterList').toggle();
            });
            //企业类型显示隐藏
            $("#comtype_filter").hover(function () {
                $('.comTypefilterList').toggle();
            });
            //综合排序
            function ranking(that){
                //判断是否已经点击
                addtime = 'desc';
                if(!$(that).hasClass('flag')){
                    $(that).addClass('flag');
                }
                setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);

            }

            //发布时间
            $("#start").on('click',function () {
                if($('#start .rank_bottom').hasClass("rank2")){
                    addtime = 'asc';
                    setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
                }else{
                    addtime = 'descs';
                    setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
                }
            });
            //截止时间
            $("#end").on('click',function () {
                if($('#end .rank_bottom').hasClass("rank")){
                    $('#end .rank_bottom').removeClass("rank");
                    $('#end .rank_top').addClass("rank");
                    endtime = 'asc';
                }else{
                    $('#end .rank_bottom').addClass("rank");
                    $('#end .rank_top').removeClass("rank");
                    endtime = 'desc';
                }
            });
            //上一页
            $(".previous").on('click',function () {
                page = parseInt({$page})-1;
                if(page<1){
                    layer.alert('已经是第一页!');
                }else{
                    setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
                }
            });

            //下一页
            $(".next").on('click',function () {
                page = parseInt({$page})+1;
                if(page>10){
                    layer.alert('已经是最后一页了!');
                }else{
                    setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
                }
            });

            //跳转页码
            $("#pagebtn").on('click',function () {
               page = parseInt($("#pageInput").val());
               if(page>0 && page<{$total}){
                   setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
               }else{
                   layer.alert('页码有误请检查后重新输入!');
               }
            });

            //页码
            $(".num").on('click',function () {
                page = $(this).text();
                setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
            });


            //地区搜索
            function searchByZoneFilter(that) {
                $("#areas_filter a").html($(that).html());
                areaid = $(that).attr("value");
                setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);

            }
            //分类搜索
            function searchByCatFilter(that) {
                catid = $(that).attr("id");
                setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);

            }
            //企业规模搜索
            function searchByEmpfilter(that) {
                empfilter = $(that).html();
                if(empfilter == '所有'){
                    empfilter = 0;
                }
                setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
            }
            //企业类型搜索
            function searchByComTypefilter(that) {
                comTypefilter = $(that).html();
                if(comTypefilter == '所有'){
                    comTypefilter = 0;
                }
                setUrl(areaid,catid,empfilter,comTypefilter,addtime,page);
            }

            function setUrl(areaid=0,catid = 0,empfilter=0,comTypefilter=0,addtime='desc',page=1) {
                window.location.href = "index.php?areaid="+areaid+"&catid="+catid+"&empfilter="+empfilter+"&comTypefilter="+comTypefilter+"&addtime="+addtime+"&page="+page;
            }

            //报价
            function  offer(that) {
                var itemid = $(that).attr("value");
                layer.open({
                    type: 2,
                    title: '报价单',
                    area: ['893px', '600px'],
                    content: '/buy/price.php?itemid='+itemid
                });
            }

            function pastDemandSearch() {
                if ($('#past_demand_search').prop('checked')) {
                    window.location.href = window.location.href.setQuery('expired', '1').setQuery('page', null);
                } else {
                    window.location.href = window.location.href.setQuery('expired', null).setQuery('page', null);
                }
            }

            $(function () {


                var $buySearchContent = $('.search_type_box .buySearch_type_content');
                $buySearchContent.each(function () {
                    var $rightSpan = $(this).find('.right span');
                    var aLength = $rightSpan.length;
                    var $filterMore = $(this).find('.filter_more');
                    var hasShow = $filterMore.hasClass('active');
                    if (aLength <= 7) {
                        $(this).find('.filter_more').hide();
                        $rightSpan.css({'display': 'inline-block'});
                    } else if (aLength > 7) {
                        $(this).find('.filter_more').show();
                        $rightSpan.slice(0,7).css({'display': 'inline-block'});
                        if ($rightSpan.find('a.active').length > 0) {//选中分类不隐藏
                            $(this).find('.filter_more').addClass('active').html('<i></i>隐藏');
                            $rightSpan.css({'display': 'inline-block'});
                        } else {
                            $rightSpan.slice(7).addClass('negative');
                        }
                    }
                });
                $('.filter_more').on('click', function () {
                    $(this).toggleClass('active');
                    var $spanShow = $(this).parents('.buySearch_type_content').find(' .right span');
                    if ($(this).hasClass('active')) {
                        $(this).html('<i></i>隐藏');
                        $spanShow.slice(7).removeClass('negative');
                        $spanShow.css({'display': 'inline-block'});
                    } else {
                        $(this).html('<i></i>更多');
                        $spanShow.slice(7).addClass('negative');
                    }
                });
                /*发布需求*/
                $('.click_demand').on('mouseenter', function () {
                    $(this).addClass('active');
                    $(this).siblings('.check_demand').stop().slideDown();
                });
                $('.click_demand').on('mouseleave', function () {
                    $(this).removeClass('active');
                    $(this).siblings('.check_demand').stop().slideUp();
                });
                $('.check_demand').on('mouseenter', function () {
                    $(this).siblings('.click_demand').addClass('active');
                    $(this).stop().slideDown();
                });
                $('.check_demand').on('mouseleave', function () {
                    $(this).siblings('.click_demand').removeClass('active');
                    $(this).stop().slideUp();
                });

            })
        </script>

<script src="http://img1.gyyqcloud.com/res/js/search_mobile.js"></script>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
{template 'footer-index'}
</body>
</html>