{template 'cloudproduce/header'}
	<link rel="stylesheet" type="text/css" href="http://ui.client.zomzone.com/gyyqcloud/industrialParkCloud/cocenter/pages/cloud1.0/yzz/css/global.css" />
    <link rel="stylesheet" type="text/css" href="http://ui.client.zomzone.com/gyyqcloud/industrialParkCloud/cocenter/pages/industrialMall/newIndex/css/pages.css" />
	<link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/industrialParkCloud/cocenter/pages/cloud1.0/yzz/css/global.css" type="text/css" />
    <link rel="stylesheet" href="http://ui.client.zomzone.com/gyyqcloud/industrialParkCloud/cocenter//pages/industrialMall/css/clound.css" type="text/css" /> 
    <link rel="stylesheet" type="text/css" href="http://ui.client.zomzone.com/gyyqcloud/industrialParkCloud/cocenter/pages/zone/qltyAuth/css/popup7.css"/>
	<link rel="stylesheet" type="text/css" href="http://ui.client.zomzone.com/gyyqcloud/industrialParkCloud/cocenter/pages/zone/qltyAuth/css/reset7.css"/>
		<!--头部 end-->
		<input type="hidden" id="classification">
		<input type="hidden" id="industryids">
		<!-- 企业类型 -->
	    <input type="hidden" id="sys_type">
	    <!-- 经营类型 -->
	    <input type="hidden" id="sys_model">
	    <!-- 企业规模 -->
	    <input type="hidden" id="sys_scale">
	    
	    <input type="hidden" id="isSrm">
		<!--主体内容 start-->
		
		<!--面包屑 start-->
        <div class="crumbs">
            <div class="block">
                <a href="../cosimcloud/index.html">首页</a><span id="leimu"> > 需求大厅</span>
				
		</div>
        </div>
        <!--面包屑 end-->
        <!--搜索选项 start-->
        <div class="cpzx-commodity-classification">
            <div class="block">

                <div class="classification-title">
                    <span class="commdoity-name">需求列表</span>
                    <a href="/member/my.php?mid=6&action=add"  class="release">发布需求</a>
                </div>
                <div class="classification-list">

                    <div class="item i1 feilei">
                        <span class="fenlei">分类：</span>
                        <div class="text">
                            <div class="text-box" id="classBox">
                                <a href="{DT_STATIC}list.php?catid=0" onclick="searchByClassification(this)" class="classification now">全部</a>                                            {loop $category  $v}
                                 <a value="{$v[catid]}" onclick="searchByClassification(this)" href="{DT_STATIC}list.php?catid={$v[catid]}" class="classification">{$v[catname]}</a>
                                {/loop}
                            </div>
                            <div class="but">
                                <a href="javascript:void(0);" class="submit">确定</a>
                                <a href="#" class="onoff">开启多选</a>
                            </div>
                        </div>

                        <a class="button1" href="#">多选</a>
                        <a href="javascript:;" class="more">
                            <font>更多</font>
                        </a>
                    </div>

                    <div class="item i3">
                        <span>企业类型：</span>
                        <div class="text">
                            <div class="text-box">
                            	<a onclick="changeType(this);" value="0" class="now">全部</a>
                                {loop $type $v}
                                <a onclick="changeType(this);" value="{$v[type]}">{$v[type]}</a>
                                {/loop}
                            </div>

                            <div class="but">
                                <a href="javascript:void(0);" class="submit">确定</a>
                                <a href="#" class="onoff">开启多选</a>
                            </div>
                        </div>
                        <a href="#" class="button1">多选</a>
                        <a href="javascript:;" class="more">
                            <font>更多</font>
                        </a>

                    </div>
                    <!-- <div class="item i4">
                        <span>认证：</span>
                        <div class="text">
                            <div class="text-box">
                                <a href="#">认证</a>
                                <a href="#">未认证</a>
                            </div>
                            <div class="but">
                                <a href="#" class="submit">确定</a>
                                <a href="#" class="onoff">开启多选</a>
                            </div>
                        </div>
                        <a href="#" class="button1">多选</a>

                    </div> -->
                    <div class="item i5">
                        <span>经营方式：</span>
                        <div class="text">
                            <div class="text-box">
                            	<a href="#" value="0" onclick="changeMode(this);" class="now">全部</a>
                                {loop $mode $v}
                                <a href="#" value="{$v[mode]}" onclick="changeMode(this);">{$v[mode]}</a>
                                {/loop}
                            </div>
                            <div class="but">
                                <a href="#" class="submit">确定</a>
                                <a href="#" class="onoff">开启多选</a>
                            </div>
                        </div>
                        <a href="#" class="button1">多选</a>
                      
                    </div>
                    <div class="item i6">
                        <span>企业规模：</span>
                        <div class="text">
                            <div class="text-box">
                                <a class="a now"  value="0" >全部</a>
                                <a value="5人以下" class="a">5人以下</a>
                                <a value="5-10人" class="a">5-10人</a>
                                <a value="11-50人" class="a">11-50人</a>
                                <a value="101-200人" class="a">51-100人</a>
                                <a value="101-200人" class="a">101-200人</a>
                                <a value="201-300人" class="a">201-300人</a>
                                <a value="301-500人" class="a">301-500人</a>
                                <a value="501-1000人" class="a">501-1000人</a>
                                <a value="1000人以上" class="a">1000人以上</a>
                            </div>
                            <div class="but">
                                <a href="#" class="submit">确定</a>
                                <a href="#" class="onoff">开启多选</a>
                            </div>
                        </div>
                        <a class="button1" href="#">多选</a>
                        <a href="javascript:;" class="more">
                            <font>更多</font>
                        </a>
                    </div>




                    <div class="item i7">
                        <span>大客户认证：</span>
                        <div class="text">
                            <div class="text-box">
                            	<a href="#" class="now">全部</a>
                                <a href="javascript:;">航天晨光srm</a>
                             
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--搜索选项 end-->
		<div class="yzz_classify_list" style="overflow:hidden;">
			<div class="cpzx-commodity-condition">
                <div class="block">
                    <div class="div1">
                        <a href="javascript:void(0)" id="sumUp" class="a1" onclick="clearorder()">综合</a>
                        <a href="javascript:void(0)" class="a2" onclick="changeorder('createTime',this)"  value="asc"/>发布时间↓</a>
                        <a href="javascript:void(0)" class="a3" onclick="changeorder('endtime',this)" value="asc">截止时间↓</a> 
                        <!--  <a href="javascript:void(0)" class="a4" onclick="changeorder('a.searchCount',this)" value="asc">热度↓</a> -->
                        <input name="shiming" id="shiming" class="a4" autocomplete="off" type="checkbox" onClick="certification(this);">实名认证</input>
                        <!--suntao add city filter begin-->
                        <a class="allZone">
                            <span>所在地区</span>
                            <div class="zoneFilter">
                                <p onclick="searchByZoneFilter(this)" value="0">所有地区</p>
                                <ul class="zonefilterList">

                                    {loop $area $v}
                                    <li class="area" onclick="searchByZoneFilter(this)" value="{$v[areaid]}">{$v[areaname]}</li>
                                    {/loop}
                                </ul>
                            </div>     
                        </a>
						<!--suntao add city filter begin-->
						<!-- select star begin -->
						<a class="allStar">
                            <span>质量认证</span>
                            <div class="starFilter">
                                <ul class="starfilterList">
                                    <li onclick="selectStar(this)" value="1">一星级</li>
                                    <li onclick="selectStar(this)" value="2">二星级</li>
                                    <li onclick="selectStar(this)" value="3">三星级</li>
                                    <li onclick="selectStar(this)" value="4">四星级</li>
                                    <li onclick="selectStar(this)" value="5">五星级</li>
                                </ul>
                            </div>     
                        </a>
                        <!-- select star end -->
                    </div>
                    <div class="div6" style="margin-left: 220px;">
                        <input type="text" id="keyWord" value="" onkeydown="javascript:onkeyselect();" autocomplete="off" placeholder="在结果中搜索"/>
                        <input type="submit" value="搜索" onclick="searchForKeyword()"/>
                    </div>
                </div>
            </div>
            <div id="releaseHallList" style="width:1230px; margin:auto">
<iframe id="capability_Imageiframe" name="proIfram" scrolling="no" style="width: 100%; height: 3453px;" border="0" src="/buy/list.php" frameborder="no"></iframe>
            </div>
		</div>
		<div class="popup" style="display:none;"></div>
	        <div class="popupCon" style="display:none;" >
	            <div class="popupCon_img" >
	                <img src="../pages/zone/qltyAuth/images/popup7_img.png"  alt="" />
	                <span class="popup_close"></span>
	                <a  class="popup_link"></a>
	            </div>
	        </div>
		<!--主体内容 end-->
 
   <script type="text/javascript">
        var catid= 0;
        var areaid =0;
        var type = 0;
        var mode = 0;
        var size = 0;
        var order= 0;
       function searchByClassification(that) {
           $(that).addClass('now').siblings().removeClass('now');
           catid = $(that).attr("value");
           setUrl(catid,areaid,type,mode,size,order);
       }
       function searchByZoneFilter(that) {
           areaid = $(that).attr("value");
           setUrl(catid,areaid,type,mode,size,order);
       }
        //企业类型
        function  changeType(that) {
            type =  $(that).attr("value");
            setUrl(catid,areaid,type,mode,size,order);
        }
        //经营方式
        function changeMode(that) {
            mode = $(that).attr("value");
            setUrl(catid,areaid,type,mode,size,order);
        }
        //企业规模
        $(".a ").on('click',function () {
            size = $(this).attr("value");
            setUrl(catid,areaid,type,mode,size,order);
        });
       //排序
        function changeorder(orderField1, obj){
            $(obj).addClass("now").siblings().removeClass('now');
            var orderSeq1 = $(obj).attr('value');
            var field = $(obj).text();
            if(orderSeq1 == 'desc'){
                field = field.replace('发布时间↑', '发布时间↓');
                field = field.replace('热度↑', '热度↓');
                field = field.replace('截止时间↑', '截止时间↓');
                $(obj).text(field);
                $(obj).attr('value','asc');
                orderField=orderField1;
                orderSeq=orderSeq1;
                order = 'desc';
                setUrl(catid,areaid,type,mode,size,order);
            } else {
                field = field.replace('发布时间↓', '发布时间↑');
                field = field.replace('热度↓', '热度↑');
                field = field.replace('截止时间↓', '截止时间↑');
                $(obj).text(field);
                $(obj).attr('value','desc');
                orderField=orderField1;
                orderSeq=orderSeq1;
                order = 'asc';
                setUrl(catid,areaid,type,mode,size,order);
            }
        }
       function setUrl(catid=0,areaid=0,type=0) {
           $("#capability_Imageiframe").attr("src", "/buy/list.php" + '?catid=' + catid+'&areaid='+areaid+'&type='+type+'&mode='+mode+'&size='+size+'&order='+order);
       }

   </script>
		<!--part7End-->
  
{template 'cloudproduce/footer'}
</html>
