{template 'cloudproduce/header'}
	<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/css/global.css" />
    <link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/industrialMall/newIndex/css/pages.css" />
	<link rel="stylesheet" href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/css/global.css" type="text/css" />
    <link rel="stylesheet" href="http://img1.gyyqcloud.com/cocenter//pages/industrialMall/css/clound.css" type="text/css" /> 
    <link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/zone/qltyAuth/css/popup7.css"/>
	<link rel="stylesheet" type="text/css" href="http://img1.gyyqcloud.com/cocenter/pages/zone/qltyAuth/css/reset7.css"/>
<style>
    i{
        background-color:#fff !important;
    }
</style>
		<!--头部 end-->
    <form id="form" action="/buy/list.php" method="post" target="proIfram">
        <!--企业分类-->
		<input type="hidden" id="classifications" name="classification">
		<!-- 企业类型 -->
        <input type="hidden" id="classTypes" name="classType">
	    <!-- 经营方式 -->
	    <input type="hidden" id="classModes" name="classMode">
	    <!-- 企业规模 -->
        <input type="hidden" id="classSizes" name="classSize">
        <!-- 大客户认证 -->
	    <input type="hidden" id="srm" name="srm">
        <!--发布时间排序-->
        <input type="hidden" id="order" name="order">
        <!--所在地区-->
        <input type="hidden" id="areaid" name="areaid">
        <!--VIP-->
        <input type="hidden" id="vip" name="vip" >
        <!--是否实名-->
        <input type="hidden" id="truename" name="truename" >

		<!--主体内容 start-->
		
		<!--面包屑 start-->
        <div class="crumbs">
            <div class="block">
                <a href="/">首页</a><span id="leimu"> > 需求大厅</span>
				
		</div>
        </div>
        <!--面包屑 end-->
        <!--搜索选项 start-->
        <div class="cpzx-commodity-classification">
            <div class="block">

                <div class="classification-title">
                    <span class="commdoity-name">需求列表</span>
                    <a href="/member/my.php?mid=6&action=add"  class="release">发布需求</a>
                </div>
                <div class="classification-list">

                    <div class="item i6 ">
                        <span class="fenlei">分类：</span>
                        <div class="text">
                            <div class="text-box" id="classBox">
                                <a href="#" value="-1" class="classification {if $cateid==''}now{/if}">全部</a>
                                {loop $category  $v}
                                <a class="classification {if $cateid==$v[catid]}now{/if}" href="#" value="{$v[catid]}">{$v[catname]}</a>
                                {/loop}
                            </div>
                        </div>
                        <a href="javascript:;" class="more">
                            <font>更多</font>
                        </a>
                    </div>
                    <div class="item i3">
                        <span>企业类型：</span>
                        <div class="text">
                            <div class="text-box" id="classType">
                            	<a  value="0" class="classType {if $classType==''}now{/if}">全部</a>
                                {loop $com_type $k $v}
                                <a class="classType {if $classType==$v}now{/if}" href="#" option="{$k}">{$v}</a>
                                {/loop}
                            </div>
                        </div>
                        <a href="javascript:;" class="more">
                            <font>更多</font>
                        </a>

                    </div>

                    <div class="item i5">
                        <span>经营方式：</span>
                        <div class="text">
                            <div class="text-box" id="classMode">
                                <a href="#"  class="mode {if $classMode==''}now{/if}">全部</a>
                                {loop $mode  $v}
                                <a href="#" class="classMode {if $classMode==$v}now{/if}">{$v[mode]}</a>
                                {/loop}
                            </div>
                        </div>
                      
                    </div>
                    <div class="item i6">
                        <span>企业规模：</span>
                        <div class="text">
                            <div class="text-box" id="classSize">
                                <a class="classSize {if $classSize==''}now{/if}"  value="0" >全部</a>
                               {loop $com_size $v}
                                <a href="#"  class="classSize {if $classSize==$v}now{/if}">{$v}</a>
                                {/loop}
                            </div>
                        </div>
                        <a href="javascript:;" class="more">
                            <font>更多</font>
                        </a>
                    </div>




 
                </div>
            </div>
        </div>
        <!--搜索选项 end-->
		<div class="yzz_classify_list" style="overflow:hidden;">
			<div class="cpzx-commodity-condition">
                <div class="block">
                    <div class="div1">
                        <a href="javascript:void(0)" id="sumUp" class="a1" onclick="clearorder()">综合</a>
                        <a href="javascript:void(0)" class="a2" onclick="changeorder('createTime',this)"  value="asc"/>发布时间↓</a>
                       <!-- <a href="javascript:void(0)" class="a3" onclick="changeorder('endtime',this)" value="asc">截止时间↓</a> -->
                        <!--  <a href="javascript:void(0)" class="a4" onclick="changeorder('a.searchCount',this)" value="asc">热度↓</a> -->
                        <input name="shiming" id="shiming" class="a4" autocomplete="off" type="checkbox" >实名认证</input>
                        <!--suntao add city filter begin-->
                        <a class="allZone">
                            <span>所在地区</span>
                            <div class="zoneFilter">
                                <p   ><span class="area" value="0">所有地区</span></p>
                                <ul class="zonefilterList">
                                    {loop $area $v}
                                    <li class="area"  value="{$v[areaid]}">{$v[areaname]}</li>
                                    {/loop}
                                </ul>
                            </div>     
                        </a>
						<!--suntao add city filter begin-->
						<!-- select star begin -->
				<!--		<a class="allStar">
                            <span>质量认证</span>
                            <div class="starFilter" style="height: 190px;!important;">
                                <ul class="starfilterList">
                                    <li onclick="selectVip(this)" value="1">一星级</li>
                                    <li onclick="selectVip(this)" value="2">二星级</li>
                                    <li onclick="selectVip(this)" value="3">三星级</li>
                                    <li onclick="selectVip(this)" value="4">四星级</li>
                                    <li onclick="selectVip(this)" value="5">五星级</li>
                                    <li onclick="selectVip(this)" value="0">质量认证</li>
                                </ul>
                            </div>     
                        </a>-->
                        <!-- select star end -->
                    </div>
                    <div class="div6" style="margin-left: 220px;">
                        <input type="text" id="keyWord" name="keyWord" value="" onkeydown="javascript:onkeyselect();" autocomplete="off" placeholder="在结果中搜索"/>
                        <input type="submit" value="搜索" />
                    </div>
                </div>
            </div>
    </form>
            <div id="releaseHallList" style="width:1230px; margin:auto">
<iframe id="capability_Imageiframe" name="proIfram" scrolling="no" style="width: 100%; height: 1780px;" border="0" src="/buy/list.php" frameborder="no"></iframe>
            </div>
		</div>
		<div class="popup" style="display:none;"></div>
	        <div class="popupCon" style="display:none;" >
	            <div class="popupCon_img" >
	                <img src="../pages/zone/qltyAuth/images/popup7_img.png"  alt="" />
	                <span class="popup_close"></span>
	                <a  class="popup_link"></a>
	            </div>
	        </div>
		<!--主体内容 end-->
 
   <script type="text/javascript">
       //分类,多选
       $(".fenlei").on('click',function(){
           var classification = '';
            $("#classBox >.now").each(function(){
                classification += ','+$(this).attr("value");
            });
            $("#classifications").val(classification);
           submit();
       });
        //分类单选
       $(".classification").on('click',function(){
           var classification = $(this).attr("value");
           $("#classifications").val(classification);
           submit();
       });

       //企业类型，多选
       $(".type").on('click',function(){
           var classType = '';
           $("#classType >.now").each(function(){
               classType += $(this).text()+',';
           });
           $("#classTypes").val(classType);
           submit();
       });
       //企业类型单选
       $(".classType").on('click',function(){
           var classType = $(this).text();
           $("#classTypes").val(classType);
           submit();
       });

       //经营方式多选
       $(".mode").on('click',function(){
           var classMode = '';
           $("#classMode >.now").each(function(){
               classMode += $(this).text()+',';
           });
           $("#classModes").val(classMode);
           submit();
       });
       //经营方式单选
       $(".classMode").on('click',function(){
           var classMode = $(this).text();
           $("#classModes").val(classMode);
           submit();
       });

       //企业规模多选
       $(".size").on('click',function(){
           var classSize = '';
           $("#classSize >.now").each(function(){
               classSize += $(this).text()+',';
           });
           $("#classSizes").val(classSize);
           submit();
       });
       //企业规模单选
       $(".classSize").on('click',function(){
           var classSize = $(this).text();
           $("#classSizes").val(classSize);
           submit();
       });
       //srm认证
        $(".customer").on('click',function(){
            var srm = $(this).text();
            $("#srm").val(srm);
            submit();
        });
       //发布时间排序
       function changeorder(orderField1, obj){
           $(obj).addClass("now").siblings().removeClass('now');
           var orderSeq1 = $(obj).attr('value');
           var field = $(obj).text();
           if(orderSeq1 == 'desc'){
               field = field.replace('发布时间↑', '发布时间↓');
               field = field.replace('热度↑', '热度↓');
               field = field.replace('截止时间↑', '截止时间↓');
               $(obj).text(field);
               $(obj).attr('value','asc');
               orderField=orderField1;
               orderSeq=orderSeq1;
               order = 'desc';
               $('#order').val(order);
               submit();
           } else {
               field = field.replace('发布时间↓', '发布时间↑');
               field = field.replace('热度↓', '热度↑');
               field = field.replace('截止时间↓', '截止时间↑');
               $(obj).text(field);
               $(obj).attr('value','desc');
               orderField=orderField1;
               orderSeq=orderSeq1;
               order = 'asc';
               $('#order').val(order);
               submit();
           }
       }

       //地区
       $(".area").on('click',function () {
           var areaid = $(this).val();
           $("#areaid").val(areaid);
           submit();
       });
       //vip等级
       function selectVip(that) {
           $(".allStar >span").text($(that).text());
           var vip = $(that).val();
           $("#vip").val(vip);
           submit();
       }
        //实名认证
       $("#shiming").change(function (){
           if($("#shiming").is(":checked")){
               $("#truename").val(1);
               submit();
           }else{
               $("#truename").val(0);
               submit();
           }
       });
       //发送表单
       function submit() {
           var form = $("#form");
           form.submit();
       }


   </script>
		<!--part7End-->
  
{template 'cloudproduce/footer'}
</html>
