{template 'cloudproduce/header'}
<link href="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/css/proDetails.css" rel="stylesheet" type="text/css">
<link href="http://img1.gyyqcloud.com/industry/pages/industrialMall/css/demandDetail/clound_reset.css" rel="stylesheet" type="text/css">
<link href="http://img1.gyyqcloud.com/industry/pages/industrialMall/css/demandDetail/yzzReleaseDetail.css" rel="stylesheet" type="text/css">
<!--头部 end-->
<!--外协需求 需求详情  begin-->
<div class="details_box">
	<div class="details_intro">
		<p class=" f_left">
        当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo;</p>
		</div>
	<!--product display begin-->
	<div class="indusMall_details" style="padding-top:5px;">
		<!--product display list left begin-->
		<div id="preview">
			<div class="preview_box">
				<div class="jqzoom" id="spec-n1"><img height="350" src="{$thumb}" width="500"></div>
			</div>
			<div id="spec-n5">
				<div class="control" id="spec-left"><img src="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/image/left.gif"></div>
				<div id="spec-list">
					<ul class="list-h" style="width: 478px; overflow: hidden;">
						<li><img src="{$thumb1}" width="100" height="100"/></li>
					</ul>
				</div>
				<div class="control" id="spec-right"><img src="http://img1.gyyqcloud.com/cocenter/pages/cloud1.0/yzz/image/right.gif"></div>
			</div>
		</div>
		<!--product display list left end-->
		<div class="details_right">
			<h1 class="details_tit" title="{$title}">{$title} <a href="#" target="_blank"></a> </h1>
			<ul class="details_list">
				<li> <span class=" f_left">采购分类：</span>
					<p> <a href="{$MODULE[1][linkurl]}">首页</a> > <a href="{$MOD[linkurl]}">{$MOD[name]}</a> >{cat_pos($CAT, ' > ')}</p>
				</li>
				<li> <span class=" f_left">付款方式：</span>
					<p> 现金 </p>
				</li>
				<li> <span class=" f_left">附件：</span> <span class="f_left"> 无 </span> </li>
			</ul>
			<ul class="details_lists">
				<li> <span class=" f_left" style="width: 90px;">报价企业数：</span> <span class=" f_left">0</span> </li>
			</ul>
			<ul class="details_list details_list_none">
				<li> <span class=" f_left">发布日期：</span> <span class=" f_left"> {date('Y-m-d H:i:s',$addtime)} </span> </li>
				<li> <span class=" f_left">截止日期：</span> <span class=" f_left" id="deadline">{date('Y-m-d H:i:s',$totime)}</span> </li>
				<li>
					<div class=" f_left">还&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩：</div>
					<div class="left price_intro"  style="font-size:16px;">
						<span id="leftDay"><span id="remainingTime" style="color:red">{php echo floor(($totime-time())/86400);}</span>天</span> <span id="leftHour"><span id="remaininghour" style="color:red">
                        {php echo floor(($totime-time())%86400/3600);}
                        </span>小时</span> </li>
				<li class="details_prices">
					<input type="button" value="我要报价"  onclick="offer();" class="details_price"/>
				</li>
			</ul>
		</div>
		<div class="details_rightR">
			<div class="details_link"> <img src="http://img1.gyyqcloud.com/industry/pages/industrialMall/image/indusMall_img003.png">
				<div class="details_linkCon details_linkCon_link">
					<h3>{$company}</h3>
					<p><em>电话：</em><span>{$mobile}</span></p>
					<p><em>传真：</em><span>{$telephone}</span></p>
					<p><em>联系人：</em>{$truename}</p>
					<p><em>邮箱：</em><span><span title=""></span></span></p>
					<p><em>地址：</em><span>{$address}</span></p>
                    <div class="details_vis"><a href="/index.php?homepage={$username}">访问该企业 &gt;&gt;</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="details_goods">
		<div class="details_goods_box">
			<div class="details_select"> <span class="now1">需求详情<i></i></span> </div>
			<div class="details_selectCon">
				<div class="details_goods_select">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<tr>
							<td width="15%">产品名称</td>
							<td width="15%">物资编码</td>
							<td width="10%">采购数量</td>
							<td width="10%">要求到货日期</td>
							<td width="10%">物资描述</td>
						</tr>
						<tr>
							<td>{$title}</td>
							<td></td>
							<td></td>
							<td></td>
							<td title="">  </td>
						</tr>
						</tbody>
					</table>
					<div> <span><b>需求描述：</b></span> </br>
					</div>
					<div class="details_goods_ask">
						<div class="details_select_titName">需求描述</div>
						<div class="details_refer_box">
							<ul>
								<li> <em>订单紧急程度：</em> <span> 普通 </span> </li>
								<li> <em>是否复验筛选：</em> <span>否</span> </li>
								<li> <em>是否DPA：</em> <span>否</span> </li>
								<li> <em>是否下厂验收：</em> <span>否</span> </li>
								<li> <em>发票类型 :</em> <span>无需发票</span> </li>
								<li> <em>运费承担商 :</em> <span> 采购商 </span> </li>
								<li> <em>收货地址 :</em> <span>0 </span> </li>
								<li> <em title="军品/民品">军品/民品 </em> <span title="民品">民品 </span> </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.modal-body input{
		border: 1px solid #CCC;
		padding-left: 3px;
		height: 30px;
	}
	.modal-body td{
		font-size: 14px;
		height: 40px;
		padding: 5px;
		background: #FFF;
		border-bottom: 1px solid #CCC;
	}
	.modal-body .f_red{
		color: red;
	}
	.modal-body select{
		border: 1px solid #CCC;
		padding-left: 3px;
		height: 30px;
	}
	.modal-body textarea{
		padding: 4px 12px;
		border: 1px solid #ddd;
		border-radius: 5px;
		line-height: 32px;
		vertical-align: top;
		cursor: text;
		width: 95%;
	}

</style>
<!--底部 start-->
{template 'cloudproduce/footer'}
<script type="text/javascript">
    function  offer() {
         layer.open({
            type: 2,
            title: '报价单',
            area: ['893px', '600px'],
            content: '/buy/price.php?itemid={$itemid}'
        });
    }
</script>
</body>
<!--<link rel="stylesheet" type="text/css" href="{DT_STATIC}file/layui/css/layui.css" />-->
<!--<script src="{DT_STATIC}file/layui/layui.js"></script>-->

</html>