{template 'header-expertpool'}
<!-- 页面样式 -->
<link rel="stylesheet" type="text/css" href="http://expert.casicloud.com/resources/style/shop/professor/css/expertPondReset.css" />
<link rel="stylesheet" type="text/css" href="http://expert.casicloud.com/resources/style/shop/professor/css/expertPondCommon.css" />
<link rel="stylesheet" type="text/css" href="http://expert.casicloud.com/resources/style/shop/professor/css/expertPond.css" />
<!-- 校验 -->
<link href="http://expert.casicloud.com/resources/style/system/manage/blue/template1.css"  rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
</head><body>
<!-- 预约专家Begin -->
<div class="expert-reserve">
<h4 class="reserve-head">预约专家</h4>
<div class="reserve-main">
<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form action="" method="post" target="send" onsubmit="return check();">
  <input name="action" type="hidden" id="action" value=""/>
  <input type="hidden" name="post[expert_id]" value="{$ex}" />
  <input name="forward" type="hidden" value="{$forward}"/>
  <div class="reserve-list reserve-select-con">
    <div class="type1"> <span class="title"><i class="red-star"></i>您选择的专家是:</span> {$expert_name} </div>
  </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您希望专家为您提供的服务:</span>
    <select name="add[service_type]" id="add[service_type]" level="2" >
      <option value="" selected="selected">请选择</option>
      <option value="一对一服务">一对一服务</option>
      <option value="企业定制沙龙">企业定制沙龙</option>
      <option value="专属顾问团">专属顾问团</option>
    </select>
  </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您的当前情况:</span>
    <textarea type="text" class="reg_inp" style="width:450px;" name="post[situation]" id="situation" onblur="validator('situation');" autocomplete="off" rows="5"></textarea>
    <span id="dcurrent_descript" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您的需求:</span><span style="padding:10px 0;">
    <textarea type="text" class="reg_inp" style="width:450px;" name="post[demand]" id="demand" onblur="validator('demand');" autocomplete="off" rows="5"></textarea>
    </span><span id="ddemand" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您的手机:</span>
    <input type="text" class="reg_inp" style="width:200px;" name="post[tel]" id="budget"/>
    <span id="dtelephone" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您的预算:</span>
    <input type="text" class="reg_inp" style="width:200px;" name="post[budget]" id="budget"/>
    <span id="dpostcode" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您的姓名:</span>
    <input type="text" class="reg_inp" style="width:200px;" name="post[name]" id="budget"/>
    <span id="dtruename" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>截止日期:</span>
    <input type="date" class="reg_inp" name="post[end_time]" id="budget" style="width: 198px;height: 32px;padding: 0 12px;border: 1px solid #ddd;border-radius: 5px;line-height: 32px;vertical-align: top;cursor: text;"/>
    <span id="dtruename" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>您的单位:</span>
    <input type="text" class="reg_inp" style="width:200px;" name="post[company]" id="budget"/>
    <span id="dmobile" class="f_red"></span> </div>
  <div class="reserve-list"> <span class="title"><i class="red-star"></i>所在地:</span>
    <select name="post[province]" id="province">
      <option value="">省份</option>
    </select>
    <select name="post[city]" id="city">
      <option value="">城市</option>
    </select>
    <span id="dareaid" class="f_red"></span> </div>
  </div>
  <div class="reserve-btn">
    <input type="checkbox" checked="checked" onclick="if(this.checked){Ds('sbm');}else{Dh('sbm');}"/>
    <a href="?read=1" target="_blank" class="b" style="color:black;">阅读并同意服务条款<br />
    <input type="submit" name="submit" value="立即预约" style="cursor:pointer;background:#77C019;color:#FFFFFF;font-size:14px;width:120px;line-height:32px;border:none;border-radius:4px;text-align:center;"/>
  </div>
  </div>
  <!-- 预约专家End -->
  </div>
  <!-- public footer End --> 
  
  <script type="text/javascript">var errimg = '{DT_SKIN}image/nopic50.gif';</script>
</form>
</div>
</div>
<script type="text/javascript" src="/lang/zh-cn/lang.js"></script> 
<script type="text/javascript" src="/file/script/config.js"></script> 
<script type="text/javascript" src="/file/script/common.js"></script> 
<script type="text/javascript" src="/file/script/city.js"></script> 
<script type="text/javascript" src="/file/script/page.js"></script> 
<script type="text/javascript" src="{DT_STATIC}file/script/guest.js"></script> 
<script type="text/javascript">
	Dd('province').onchange = function () {
		showChild(this, Dd('city'), cityArr);
	}
	Dd('province').onchange();

	if(Dd('username').value == '') Dd('username').focus();
	{if $MOD[question_register]}Dd('answer').className = 'reg_inp';{/if}
	{if $MOD[captcha_register]}Dd('captcha').className = 'reg_inp';{/if}
	var vid = '';
	function dtrim(id) {
		var str = Dd(id).value.trim();
		if(Dd(id).value != str) Dd(id).value = str;
	}
	function validator(id) {
		vid = id;
		dtrim(id);
		makeRequest('moduleid={$moduleid}&action=member&job='+id+'&value='+Dd(id).value, AJPath, '_validator');
	}
	function _validator() {
		if(xmlHttp.readyState==4 && xmlHttp.status==200) {
			Dd('d'+vid).innerHTML = xmlHttp.responseText ? '<img src="{DT_SKIN}image/check_error.gif" align="absmiddle"/> '+xmlHttp.responseText : '<img src="{DT_SKIN}image/check_right.gif" align="absmiddle"/> ';
		}
	}
	function err_msg(str, id) {
		Dd('d'+id).innerHTML = '<img src="{DT_SKIN}image/check_'+(str ? 'error' : 'right')+'.gif" align="absmiddle"/> '+str;
	}
	function validate(type) {
		if(type == 'cpassword') {

		} else if(type == 'truename') {
			dtrim(type);
			if(Dd('truename').value.length < 2) {
				err_msg('请输入真实姓名', type);
			} else {
				err_msg('', type);
			}
		} else if(type == 'telephone') {
			dtrim(type);
			if(Dd('telephone').value.match(/^[0-9\-\(\)\+\.]{7,}$/)) {
				err_msg('', type);
			} else {
				err_msg('请输入公司电话', type);
			}
		}
	}

	function Df(ID) {
		Dd(ID).focus();
	}
	function check() {

		return true;
	}


</script> 
{template 'footer-expertpool'}
