{template 'header-expertpool'} 
<!-- public Header End --> 

<!-- 当前位置Begin -->
<div class="expertPond_nowPos"> <span>您的位置：</span> <a href="/">首页</a>&nbsp;- <a href="/expertpool/">专家助力</a>&nbsp;- <a href="javascript:void(0);">企业服务动态</a> </div>
<!-- 当前位置End --> 

<!-- 企业服务动态Begin -->
<div id="entList"> 
  <!-- 企业服务动态Begin -->
  <div class="expert_serTrend">
    <ul class="trendList">
      <li class="list"> <a href="articleaf6c.html?param=196687" class="imgShow"> <img src="http://img1.gyyqcloud.com/expert/upload/article/87aa6c97-e9f1-4e8c-8a46-f1bd8ff7fc873020.jpg" onError="this.src='../resources/style/shop/professor/images/enterpriseService.png'" alt="trend"> </a>
        <div class="txtShow">
          <h5>重庆工业互联网云平台专家库新版上线公告</h5>
          <p>重庆工业互联网云平台专家库平台新版上线了！   
            专家库平台为重庆工业互联网云平台云制造云资源池下子产品，背靠航天科工，整合工业领域技术、管理类的专家资源，可为中型及以上企业、云网各模块及集团内部企业提供技术改造创新、商业模式优化、运营风险控制和技术方案评判等方面的专家支持服务。
            专家库平台本身作为专家经纪人角色，根据实际情况和客户需求在专家库中搜寻...</p>
          <p class="time">发布人:管理员&emsp;&emsp;时间:2017-01-11</p>
          <a href="articleaf6c.html?param=196687" class="seeMore">了解更多&gt;</a> </div>
      </li>
    </ul>
    
    <!-- 页码Begin -->
    <div class="expertPond_pageBox">{$pages}</div>
    <!-- 页码Begin --> 
  </div>
</div>

<!-- 企业服务动态End --> 
{template 'footer-expertpool'} 
<!-- 右侧悬浮 End -->
</body></html>