{template 'header-expertpool'}
 <script>
        jQuery(function(){
                $('.expertPond_banner .frame').mScroll({
                    nav : ".expertPond_banner .nav a"
                });
            });
        </script>

        <!-- 轮播图 Begin -->
        <div class="expertPond_banner">
            <div class="frame">
               {php $adtags=tag("table=ad&condition=pid=74&areaid=$cityid&pagesize=5&template=null&debug=0");}
     		   {loop $adtags $i $t}
                <div class="child" style="background-image: url('{$t[image_src]}');">
                    <a href="{$t[url]}"></a>
                </div> 
               {/loop}	                
              </div>
            
            <div class="nav">
                    {loop $adtags $i $t}
					 <a href="javascript:;">{$i+1}</a>
					{/loop}	
             </div>
        </div>
        <!-- 轮播图 End -->

        <!-- 服务流程 Begin -->
        <div class="expert_indexFlow">
            <div class="expertPond_publicHead">
                <h4 class="cn">服务流程</h4>
                <h4 class="en">SERVICE PROCESS</h4>
            </div>
            <ul class="flowList clearfix">
                <li class="icon1">检索心仪专家</li>
                <li class="icon2">提出问题</li>
                <li class="icon3">专家经纪人协调</li>
                <li class="icon4">达成合作意向</li>
                <li class="icon5">支付保证金</li>
                <li class="icon6">安排日程</li>
            </ul>
        </div>
        <!-- 服务流程 End -->

        <!-- 热门专家 Begin -->
                <div class="expert_indexHot">
          <div class="expertPond_publicHead">
            <h4 class="cn">热门专家</h4>
            <h4 class="en">HOT EXPERTS</h4>
          </div>
          <ul class="hotList">
            <!--{php 
        $UNIT = array('正高', '副高', '中级', '初级', '院士', '其他');	$tags=tag("table=expert&condition=&length=20&condition=1=1&areaid=$cityid&pagesize=6&order=".$MOD[order]."&width=100&height=100&cols=6&target=_blank&lazy=$lazy&template=null&debug=0");}--> 
            {loop $tags $i $t}     
            <li> <a href="info.php?id={$t[id]}" class="result-img"> <img src="{$t[head]}" style="height: 180px;width: 180px"/> </a>
              <div class="txtShow">
                <h6 class="name">{$t[name]}</h6>
                  <p>所在地区：{$t[province]} {$t[city]}</p>
                  <p  style="height: auto">职业标签：  {$t[tags]}</p>
                  <p>类别领域{$t[tags]}</p>
              </div>
            </li>
            {/loop}

          </ul>
        </div>
        <!-- 热门专家 End -->

        <!-- 专家经纪人 Begin -->
        <div class="expert_indexAgent">
            <div class="cWidth">
                <div class="borderLimit"> <!-- 撑开红色边框 --> </div>
                <div class="expertPond_publicHead">
                    <h4 class="cn">专家经纪人</h4>
                    <h4 class="en">EXPERT AGENT</h4>
                </div>
                <ul class="agentList clearfix">
                    <li class="icon1">
                        <i class="txtTip"> 企业预约心仪专家</i>
                    </li>
                    <li class="icon2">
                        <i class="txtTip">专家经纪人处理预约信息</i>
                    </li>
                    <li class="icon3">
                        <i class="txtTip">确认专家意愿<br />安排日程&emsp;组织洽谈</i>
                    </li>
                    <li class="icon4">
                        <i class="txtTip">企业支付咨询费用</i>
                    </li>
                    <li class="icon5">
                        <i class="txtTip">专企达成合作</i>
                    </li>
                </ul>
                <p class="ask">已有心仪专家，希望专家经纪人协助确认专家对接意愿并撮合对接</p>
                <p class="explain">根据实际情况和客户需求在专家库中搜寻匹配合适专家为客户提供专家匹配撮合服务，为专家安排规划工作日程和实际对接等事务</p>
                <a id ="oppoint" class="orderBtn" href="/expertpool/search.php?kw=">预约专家</a>
            </div>
        </div>
        <!-- 专家经纪人 End -->

        <!-- 服务动态 Begin -->
        <div class="expert_indexTrend">
            <div class="expertPond_publicHead">
                <h4 class="cn">服务动态</h4>
                <h4 class="en">THE SERVICE DYNAMIC</h4>
            </div>
            <ul class="trendList clearfix">
                    {php $tags1=tag("table=article_21&condition=1=1&areaid=$cityid&pagesize=10&order=rand()&template=null&debug=0");}
                    {loop $tags1 $i $t}
                      <li><a href="/news/{$t[linkurl]}">{$t[title]}<span class="time"> {date($t[title],'Y-m-d')}</span></a></li>
                	{/loop}
            </ul>
        </div>
        <!-- 服务动态 End -->
{template 'footer-expertpool'}