{template 'header-mall'}
<link rel="stylesheet" type="text/css" href="http://r.longygo.com/v1/css/search-2015.css" />
<style>
	.main {
		width: 1198px;
		margin: 50px auto;
	}
	.main .head,.main .info{
		float: left;
		margin-left: 50px;
	}
	.intro {
		padding-top: 30px;
	}
	.info p {
		font-weight: bold;

	}
	.main .intro {
		clear: both;
		margin: 30px 50px;
		color: #373737;
	}
	.main .intro .title {
		 margin-top: 20px;
		 font-size: 18px;
	 }
	.main .intro .txt {
		text-indent: 2em;
		font: 12px/28px 'simsun';
	}
	.book {
		clear: both;
		position: relative;
		left: 50px;
		top: 30px;
	}
	.book button {
		width: 130px;
		background: #ED6E00;
		border: none;
		color: #fff;
		height: 34px;
		border-radius: 5px;
		cursor: pointer;
		font: normal 15px/34px 'Microsoft yahei';
	}

</style>
<div class="main">
	<div class="head">
		<img src="{$r['head']}" alt="">
	</div>
	<div class="info">
		<p style="font-size:18px;color:#373737;">{$r['name']}</p>
		<p>所在地区:  {$r['province']} {$r['city']}</p>
		<p>类别领域:  {$r['cate_name']}</p>
		<p>职业标签:  {$r['tags']}</p>
		<p>从业工龄:  {$r['work_year']} 年</p>
	</div>
	<div class="book"><button id="book">约见TA</button></div>
	<div class="intro">
		<p class="title">关于TA</p>
		<p class="txt">{$r['introduction']}</p>
		<p class="title">技术优势</p>
		<p class="txt">{$r['advantage']}</p>
		<p class="title">主要成果案例</p>
		<p class="txt">{$r['cases']}</p>
	</div>
</div>
<script>
	Dd('book').onclick = function () {
		location.href = "appointment.php?ex={$r['id']}";
	}
</script>
{template 'footer-mall'}