 {template 'header-expertpool'} <!-- 专家详情 Begin -->
 <style>.txtShow a{ color:#FFF;}</style>
<div class="expert_expertDetail">
  <div class="banner">
    <div class="cWidth">
      <div class="imgShow"> <img src="{substr($albums[0],0,-11)}"  alt="img" /> <span class="bgPos"></span> </div>
      <!--{php 
                    $UNIT = array('正高', '副高', '中级', '初级', '院士', '其他');}-->
      <div class="txtShow">
        <p class="name">{$title}</p>
        <p>所在地区：{area_pos($areaid, ' ', 2)}</p>
        <p>类别领域：{cat_pos($CAT, ' ',2)}</p>
        <div class="mark">
          <h6>职业标签：</h6>
          <span>{$brand} </span></div>
        <p>从业工龄：{$amount}年</p>
        <p>专家职称：{$UNIT[$level-1]}</p>
        <div class="btn"> <a onclick= "BuyNow()" >约见TA</a> <a  href="javascript:SendFav();"  class="collect" >点击收藏</a> </div>
      </div>
    </div>
  </div>
  
  <!-- 当前位置 Begin -->
  <div class="expertPond_nowPos"> <span>您的位置：</span> <a href="/expertpool/">首页</a>&nbsp;- <a href="search.php?kw=">专家助力</a>&nbsp;- <a href="javascript:void(0);">专家详情</a> </div>
  <!-- 当前位置 End -->
  <div class="detailContent">{$content}</div>
</div>
<!-- 专家详情 End --> 
<!-- 服务动态 End --> 
{template 'footer-expertpool'}
</body>
</html>
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<input type="hidden" value="{$a1}" size="4" class="cc_inp" id="amount" onkeyup="Malter('', {$a1}, {$amount});"/>
<div id="destoon_space" style="display:none">
  <div class="mall_c" style="display:;" id="c_detail"></div>
  <div class="mall_c" style="display:none;" id="c_comment"></div>
  <div class="mall_c" style="display:none;" id="c_order"></div>
</div>
<link href="{DT_STATIC}file/layer/theme/default/layer.css" rel="stylesheet" type="text/css" />
<script src="{DT_STATIC}file/layer/layer.js"  type="text/javascript" ></script>
<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
<script type="text/javascript">
var mallurl = '{$MOD[linkurl]}';
var mallid = {$itemid};
var n_c = {$comments};
var n_o = {$orders};
var c_c = "";
var c_o = "";
var s_s = {'1':0,'2':0,'3':0};
var m_l = {
	no_comment:'暂无评论',
	no_order:'暂无交易',
	no_goods:'商品不存在或已下架',
	no_self:'不能添加自己的商品',
	lastone:''
};
</script>
<script type="text/javascript" src="{DT_STATIC}file/script/mall.js"></script>
<script type="text/javascript">
{if $P1}addE(1);{/if}
{if $P2}addE(2);{/if}
{if $P3}addE(3);{/if}
if(window.location.href.indexOf('#') != -1) {
	var t = window.location.href.split('#');
	try {Mshow(t[1]);} catch(e) {}
}
</script>