{template 'header-softpool'}

<div class="main"> <script>
jQuery(document).ready(function(){
  jQuery(".toph_bgsear li").mouseover(function(){
      jQuery(".toph_bgsear>li").show();
  }).mouseleave(function(){
       jQuery(".toph_bgsear>li").last().hide();
  }).click(function(){
	 var index=jQuery(this).index();
	 if(index==1){
	   var f_text=jQuery(".toph_bgsear li").find("a").first().text();
       jQuery(".toph_bgsear li").find("a").first().html(jQuery(this).find("a").text()+"<s></s>");
	   jQuery(".toph_bgsear li").find("a").last().text(f_text);
	   jQuery("#type").val(jQuery(this).attr("type"));
	   jQuery(".toph_bgsear>li").last().hide();
	 }
  });

  jQuery(".two_code_a").click(function(){
	  jQuery(this).parent().remove();
	  });
	
});
function search_form(){
  var keyword=arguments[0];
  var type=arguments[1];
  if(keyword!=""&&keyword!=undefined){
   jQuery("#keyword").val(keyword);
  }
  if(type!=""&&type!=undefined){
    jQuery("#type").val(type);
  }
  jQuery("#searchForm").submit();	
  jQuery("#keyword").val("");
}
</script>
  <form action="#m"  method="post" id="ListForm">
    <div class="softPond_nowPos">        当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}</div>
  
  <!-- 搜索条件 Begin -->
<div class="softPond_ProJoinCondition">
<!-- 分类查询条件 -->

	<div class="levelOne clearfix">
    	<h3>订购周期:</h3>
    	<!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','6','一个月')">一个月</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','7','一个季度')">一个季度</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','8','半年')">半年</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','9','一年')">一年</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','10','永久')">永久</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','61','次')">次</a>
                <span class="view-more">展开</span>
    </div>
	<div class="levelOne clearfix">
    	<h3>版本:</h3>
    	<!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','11','中小企业版（限20账号）')">中小企业版（限20账号）</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','12','专业版')">专业版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','13','标准版')">标准版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','14','旗舰版')">旗舰版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','15','高级版')">高级版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','16','免费版')">免费版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','17','定制版')">定制版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','18','基础版')">基础版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','19','3GB版')">3GB版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','20','5GB版')">5GB版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','21','10GB版')">10GB版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','22','20GB版')">20GB版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','23','1-50人')">1-50人</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','24','50-100人')">50-100人</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','25','100-200人')">100-200人</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','26','200-500人')">200-500人</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','27','500-1000人')">500-1000人</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','28','付费版')">付费版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','29','机械版')">机械版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','30','单机版')">单机版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','31','网络版')">网络版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','32','军工版')">军工版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','33','政务版')">政务版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','34','金融版')">金融版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','35','高级PLUS版')">高级PLUS版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','36','DesignandDrafting')">DesignandDrafting</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','37','Foundation')">Foundation</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','38','Classic')">Classic</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','39','Premlium')">Premlium</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','41','个人众筹版')">个人众筹版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','42','企业高级功能版')">企业高级功能版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','43','企业众筹版')">企业众筹版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','44','考勤版')">考勤版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','45','外勤版')">外勤版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','46','教育版')">教育版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','47','专业版')">专业版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','48','企业版')">企业版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','49','按模块购买')">按模块购买</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','50','完全版')">完全版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','51','6个用户')">6个用户</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','52','10个用户')">10个用户</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','53','20个用户')">20个用户</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','54','试用版')">试用版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','55','5方')">5方</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','56','10方')">10方</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','57','25方')">25方</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','58','Harness')">Harness</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','59','Electrical')">Electrical</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','60','体验版')">体验版</a>
        <!-- 展示产品规格参数 -->
        <a href="javascript:void(0)" onclick="goods_property_generic('gs','62','核 · 时')">核 · 时</a>
                <span class="view-more">展开</span>
    </div>

<!-- 产品类型属性的值 -->
	 <div class="levelOne clearfix">
        <h3>使用方式：</h3>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','1','在线使用')" >在线使用</a>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','1','下载使用')" >下载使用</a>
            </div>
<!-- 产品类型属性的值 -->
	 <div class="levelOne clearfix">
        <h3>操作系统：</h3>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','2','Windows|Linux|Unix|Center OS')" >Windows|Linux|Unix|Center OS</a>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','2','Windows')" >Windows</a>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','2','Linux')" >Linux</a>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','2','Unix')" >Unix</a>
                	<a href="javascript:void(0)" onclick="goods_property_generic('properties','2','Center OS')" >Center OS</a>
            </div>
   
	<div class="levelOne clearfix">
		<h3>品牌：</h3>
              	<a href="javascript:void(0)" onclick="goods_property_generic('brand','5','AUTODESK')">AUTODESK</a>
      	<!-- <span><a href="javascript:void(0);" onclick="goods_property_generic('brand','5','AUTODESK')">AUTODESK</a>
      	</span> -->
              	<a href="javascript:void(0)" onclick="goods_property_generic('brand','6','MSC Software')">MSC Software</a>
      	<!-- <span><a href="javascript:void(0);" onclick="goods_property_generic('brand','6','MSC Software')">MSC Software</a>
      	</span> -->
              	<a href="javascript:void(0)" onclick="goods_property_generic('brand','8','金蝶软件（中国）有限公司')">金蝶软件（中国）有限公司</a>
      	<!-- <span><a href="javascript:void(0);" onclick="goods_property_generic('brand','8','金蝶软件（中国）有限公司')">金蝶软件（中国）有限公司</a>
      	</span> -->
              	<a href="javascript:void(0)" onclick="goods_property_generic('brand','10','北京数码大方科技股份有限公司')">北京数码大方科技股份有限公司</a>
      	<!-- <span><a href="javascript:void(0);" onclick="goods_property_generic('brand','10','北京数码大方科技股份有限公司')">北京数码大方科技股份有限公司</a>
      	</span> -->
              	<a href="javascript:void(0)" onclick="goods_property_generic('brand','11','西门子工业软件（上海）有限公司')">西门子工业软件（上海）有限公司</a>
      	<!-- <span><a href="javascript:void(0);" onclick="goods_property_generic('brand','11','西门子工业软件（上海）有限公司')">西门子工业软件（上海）有限公司</a>
      	</span> -->
           </div>
    
    <div class="sort">
        <div class="order">
            <a href="javascript:void(0)" class="now default"  orderBy="addTime"  orderType="asc">默认排序</a>
            <a href="javascript:void(0)" class="time" orderBy="goods_salenum" orderType="desc">销量</a>
            <a href="javascript:void(0)" class="hot" orderBy="goods_collect" orderType="desc">人气</a>
            <a href="javascript:void(0)" class="price" orderBy="store_price"   orderType="asc">价格</a>
            <div class="priceRange" id="priceRange">
			     <input type="text" placeholder="￥" id="store_price_begin" name="store_price_begin" value=""/>
			     -
			     <input type="text" placeholder="￥" id="store_price_end" name="store_price_end" value=""/>
			     <a href="javascript:void(0);" class="confirm" mark="confirm" onclick="searchSubmit()">确定</a>
			     <a href="javascript:void(0);" class="clear" mark="clear" onclick="clearSubmit()">清除</a>
			</div>
        </div>
        <div class="search">
            <input id="goods_name" name="goods_name" type="text" placeholder="请输入关键字" class="txt" value="">
            <a href="javascript:void(0);" class="btn" onclick="searchSubmit()">搜索</a>
        </div>
    </div>
</div>
<!-- 搜索条件 End -->

<!-- 产品列表 Begin -->
<div class="softPond_ProJoinItem">
	 {loop $tags $k $t}                                         	
	  <div class="list">
        <img src="{$t[thumb]}" alt="{$t[title]}" class="img"/>
        <div class="txt">
            <h3>
                <a href="{$t[linkurl]}" title="SAP Business One Cloud">{$t[title]}</a>
                <i class="starBox">产品评价：<span class="allStar"></span></i>
            </h3>
            <div class="introduce">
            	{php $cat=get_cat($t[catid]);$kw=explode(",",$t[keyword]);}
                {loop $kw $kk $tt} 
                <a href="search.php?kw={$tt}">{$tt}</a>
                {/loop}	
                <span>应用分类：{$cat[catname]}</span>
                <span>适用系统：{$t[v3]}</span>
            </div>
        </div>
        <div class="price">
            <h6>价格</h6>
            <p>{$t[price]}</p>
        </div>
        <div class="btnBox">
            <a href="{$t[linkurl]}" class="details">详情</a>
        </div>
    </div>
   {/loop}	
    
    
</div>
</form>
<div class="page_box">
    <div class="con">
		{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
	</div>
</div>
<!-- 产品列表 End -->  	
 
 </div>
  ﻿<!-- softPond_footer Begin -->
 
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script> 
{template 'cloudproduce/footer'}
        </div> 
</body>
</html>
