{template 'header-top'}
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/new_news.css" />

{template 'header-search-inc'}
<div class="news_menu">
    <div class="container">
        <div class="new_cates" id="cates">
            <i></i><a href="/">主页</a><span><i></i><a href="search.php?kw=">新闻中心</a></span>
            </div>
    </div>
</div>
<div class="nav_news" id="nav_news">
    <div class="container">
        <ul class="news_cats" id="tab_list">
        {loop $maincat $k $v}
        	<li{if $v[catid]==$catid} class="active"  {/if}>
        		<a href="{$MOD[linkurl]}{$v[linkurl]}" id="tab_0" >{set_style($v[catname],$v[style])}</a>
        	</li>
        {/loop}
        </ul>
    </div>
    <div class="nav_shadow"></div>
</div>

<div class="wrapper clearfix">
    <div class="content" id="content">
        <div class="container">
            <ul class="news_list">
            
             {loop $tags $i $t}
                    <li>
                        <div class="left_box">
                            <a href="{$t[linkurl]}" target="_blank"><img src="{$t[thumb]}" onerror="this.remove()" /></a>
                        </div>
                        <div class="right_box">
                            <div class="news_title"><a href="{$t[linkurl]}" target="_blank" title='{$t[title]}' class="title">{$t[title]}</a></div>
                            <div class="news_text">
                                <a href="{$t[linkurl]}" target="_blank"><p class="desc">{dsubstr($t[introduce],200,"...")} </p></a>
                            </div>
                            <div class="bottom_btn">
                                <div class="left_link">
                                    <!--a href='tag/tags.html' title="歼-15" target="_blank">歼-15</a>
                                    <a href='tag/tags.html' title="南海阅兵" target="_blank">南海阅兵</a-->
                                
                                    <span class="time">{timetodate($t[addtime], 'Y-m-d')}</span>
                                </div>
                                <div class="news_list_share clearfix" id="news_share" spm="news.share.110774">
                                    <div class="share fr share_container">
                                        <div class="fl mr_10 share_icon"> &nbsp;</div>
                                        <div class="bdsharebuttonbox fl">
                                            <a href="javascript:void(0)" class="bds_weixin" data-cmd="" title="分享到微信"></a>
                                            <div id="code" class="code" >
                                                <div id="shareCodeTop_1" class="shareCodeTop"></div>
                                                <div></div>
                                            </div>
                                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                  {/loop}
      
                </ul>
                <div class="new_page">{$pages}</div>
                
                <div class="news_ad news_list_ad">
				    <div class="place_news">
				        <div class="place_news_title"><a href="javascript:;" target="_blank">热门推荐</a></div>
				        <ul class="place_news_list place_news_list1">
			           <!--{php $tags=tag("table=article_21&moduleid=$moduleid&length=44&condition=status>0 and thumb<>'' &areaid=$cityid&pagesize=5&order=rand()&cols=2&template=null&debug=0");}-->
                            {loop $tags $i $t}
                            <li><span class="newLight">{$i+1}</span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
                            {/loop}
		                </ul>
				    </div>
    <div class="place_news">
        <div class="place_news_title"><a href="javascript:;" target="_blank">推荐阅读</a></div>
        <ul class="place_news_list place_news_list2">
			           <!--{php $tags=tag("table=article_21&moduleid=$moduleid&length=44&condition=status>0 and thumb<>'' &areaid=$cityid&pagesize=5&order=rand()&cols=2&template=null&debug=0");}-->
                            {loop $tags $i $t}
                            <li><span class="newLight"></span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
                            {/loop}
                </ul>
    </div>
    
    <div class="place_news">
        <div class="place_news_title"><a href="#"  target="_blank">图片新闻</a></div>
        <ul class="news_video clearfix">
           		
			           <!--{php $tags=tag("table=article_21&moduleid=$moduleid&length=44&condition=status>0 and thumb<>'' &areaid=$cityid&pagesize=4&order=rand()&cols=2&template=null&debug=0");}-->
                {loop $tags $i $t}
                <li>
                        <a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">
                            <div class="video_box">
                                <div class="video_img">
                                    <img src="{$t[thumb]}" alt="video_img">
                                </div>
                                <div class="video_name">
                                    <span title="{$t[title]}">{$t[title]}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                   {/loop}
                    
                </ul>
    </div>
</div>
<script>
    var screenWidth=window.screen.width;
    if(screenWidth<760){
        var videoMsg=$('.phone_video .phone_video_text>a')
        limitVideoWords(videoMsg);
        var showMsg = $('.phone_module .phone_text a');
        limitWords(showMsg);
    }
    function limitWords(target){
        target.each(function(){
            var text = $(this).text();
            if(text.length > 27){
                var nowText = text.trim().substring(0,27) +'...';
                $(this).html(nowText);
            }else{
                var nowText = text.trim();
                $(this).html(nowText);
            }
        })
    }

    function limitVideoWords(target){
        target.each(function(){
            var text = $(this).text();
            if(text.length > 19){
                var nowText = text.trim().substring(0,16) +'...';
                $(this).html(nowText);
            }else{
                var nowText = text.trim();
                $(this).html(nowText);
            }
        })
    }
</script>


</div>
    </div>
</div>























{template 'footer-index'}