{template 'header-top'}
<link rel="stylesheet" href="http://img1.gyyqcloud.com/res/css/new_news.css" />

{template 'header-search-inc'}

<div class="news_menu">
    <div class="container">
        <div class="cates new_cates">
            <i></i><span><a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; 正文</span>
            </div>
    </div>
</div>
<div class="wrapper clearfix">
    <script>
        $(function(){
            $('.detail .content').css({
                'font-size': '16px',
                'color': '#666',
            });
            $('.detail .content p iframe').css({
                'width':'100%'
            });
            $('.detail .content p iframe').parents('p').css({
                'text-indent':'0em'
            })
            $('.detail .content b').css({
                'font-size': '16px',
                'color': '#666'
            });
            $('.detail .content>p').css({
                'line-height': '30px',
                'font-size': '16px',
                'padding-bottom': '20px',
                'color': '#666',
                'text-align':'justify'
            });
            $('.detail .content>p img').parents('p').css({
                'text-align':'center'
            })
            $('.detail .content h2').css({
                'line-height': '30px',
                'font-size': '30px',
                'padding-bottom': '20px',
                'color': '#333'
            });
            $('.detail .content img').css({
                'max-length': '1000px',
                'padding':'20px 0'
            });
            $('.detail .related_list .left_box img').css({
                'padding':'0'
            });
            $('.detail .content p *').css({
                'font-size': '16px',
                'color': '#666'
            });
            $('.detail .content p a').css({
                'color':'#1875f0',
                'word-break':'break-all'
            });
        })
    </script>
    <div class="container news_detail">
        <div class="detail">
            <h1 class="title">{$title}</h1>
            <div class="news_info clearfix">
                <div class="right_info">
                    <span class="time"><span class="time_text">发布时间：</span>{$adddate}</span>
                    <span class="source">来源：<span class="source_detail">{$copyfrom}</span></span>
                </div>
                <div class="key_words">
                    <span>关键字：</span>
                    <a href='/news/search.php?kw={$tag}' title="{$tag}" target="_blank">{$tag}</a>
                    </div>
                </div>
            <div class="content" id="content">
            
                {if $introduce && $user_status == 3 && $page == 1}<div class="introduce">核心提示：{$introduce}</div>{/if}
                {if $CP}{template 'property', 'chip'}{/if}
                <div id="content">{template 'content', 'chip'}</div>
                {if $voteid}<div class="pd20">{loop $voteid $v}
                {load('vote_'.$v.'.htm')}{/loop}</div>
                {/if}
                {if $pages}<div class="pages">{$pages}</div>{/if}
        
            </div>
            <div class="news_detail_share clearfix" id="detail_share" spm="newsdetail.share.108297">
                <div class="share fr">
                    <div class="fl mr_10 mobile_share">分享到：&nbsp;</div>
                    <div class="bdsharebuttonbox fl">
                        <a href="javascript:void(0)" class="bds_weixin" data-cmd="" spm-node="分享到微信"></a>
                        <div id="code" class="code share_text">
                            <div id="shareCodeTop" class="shareCodeTop"></div>
                            <div>分享到微信</div>
                        </div>
                        <a href="#" class="bds_tsina" data-cmd="tsina" spm-node="分享到微博"></a>
                        <span class="share_text share_sina">分享到微博</span>
                        <a href="#" class="bds_qzone" data-cmd="qzone" spm-node="分享到空间"></a>
                        <span class="share_text share_qzone">分享到空间</span>
                        <a href="#" class="bds_sqq" data-cmd="sqq" spm-node="分享到qq"></a>
                        <span class="share_text share_qq">分享到QQ</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="news_ad news_list_ad">
   
    <div class="place_news">
        <div class="place_news_title"><a href="javascript:;" target="_blank">热门推荐</a></div>
        <ul class="place_news_list place_news_list1">
          <!--{php $tags=tag("table=article_21&condition=moduleid=$moduleid&length=44&condition=status=3 and itemid<>$itemid and keyword like '%".$keytags[0]."%'&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=null");}-->
            {loop $tags $i $t}
            <li><span class="newLight">{$i+1}</span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
            {/loop}
         </ul>
    </div>
    
    <div class="place_news">
        <div class="place_news_title"><a href="javascript:;" target="_blank">推荐阅读</a></div>
        <ul class="place_news_list place_news_list2">
        <!--{php $tags=tag("table=article_21&condition=moduleid=$moduleid&length=44&condition=status=3 and itemid<>$itemid and keyword like '%".$keytags[0]."%'&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=null");}-->
           {loop $tags $i $t}  
           <li><span class="newLight"></span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
      		{/loop}
                
                </ul>
    </div>
    
    <div class="place_news">
        <div class="place_news_title"><a href="#"  target="_blank">视频新闻</a></div>
        <ul class="news_video clearfix">
           		
			           <!--{php $tags=tag("table=article_21&moduleid=$moduleid&length=44&condition=status>0 and thumb<>'' &areaid=$cityid&pagesize=4&order=rand()&cols=2&template=null&debug=0");}-->
                {loop $tags $i $t}
                <li>
                        <a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">
                            <div class="video_box">
                                <div class="video_img">
                                    <img src="{$t[thumb]}" alt="video_img">
                                </div>
                                <div class="video_name">
                                    <span title="{$t[title]}">{$t[title]}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                   {/loop}
                    
                </ul>
    </div>
</div>
<script>
    var screenWidth=window.screen.width;
    if(screenWidth<760){
        var videoMsg=$('.phone_video .phone_video_text>a')
        limitVideoWords(videoMsg);
        var showMsg = $('.phone_module .phone_text a');
        limitWords(showMsg);
    }
    function limitWords(target){
        target.each(function(){
            var text = $(this).text();
            if(text.length > 27){
                var nowText = text.trim().substring(0,27) +'...';
                $(this).html(nowText);
            }else{
                var nowText = text.trim();
                $(this).html(nowText);
            }
        })
    }

    function limitVideoWords(target){
        target.each(function(){
            var text = $(this).text();
            if(text.length > 19){
                var nowText = text.trim().substring(0,16) +'...';
                $(this).html(nowText);
            }else{
                var nowText = text.trim();
                $(this).html(nowText);
            }
        })
    }
</script>


</div>
</div>
<div>
</div>




<script>
    $(function(){
        $(window).resize(function(){
            if($(window).width() < 780){
                $('.footer').width('100%')
            }
        });
    });
</script><script src="https://cdn.htres.cn/res/js/news/news.js"></script>
<script type="text/javascript">
    $(function () {
        //对相似新闻进行定位
        $('.hot_news:eq(1)').css('top', $('.hot_news:eq(0)').height()+ 300 +'px');
        //对新版二维码进行临时处理，id大于4月7日18点之前发布的新闻id（107677）才显示新版二维码
        var newsId = 108297;
        if (newsId > 107677) {
            $('#newQrcode').show();
        }

        var content = $('#content').html();
        if (content.indexOf('_htyunlu_page_break_tag_') > 0) {
            var contents = content.split('_htyunlu_page_break_tag_');
            //页码html
            var pageHtml = $('<div class="page"></div>');
            for (var i = 0; i < contents.length; i++) {
                if (i == 0) {
                    pageHtml.append('<span class="current"><a href="javascript:;" aria-expanded="true">' + (i + 1) + '</a></span>');
                } else {
                    pageHtml.append('<span class="num"><a href="javascript:;" aria-expanded="true">' + (i + 1) + '</a></span>');

                }
            }
            var pageElement = $('<div class = "tab_div"></div>');
            $(contents).each(function (index, e) {
                if (index == 0) {
                    pageElement.append('<div style="display: block" id="page_' + index + '">' + e + '</div>');

                } else {
                    pageElement.append('<div style="display: none" id="page_' + index + '">' + e + '</div>');
                }
            });

            $('#content').html(pageElement).append(pageHtml);

            //tab切换
            var tab_lists = $('.page > span');
            var tab_div = $('.tab_div > div');
            tab_lists.on('click', function () {
                var tab_index = $(this).index();
                tab_lists.removeClass('current');
                $(this).addClass('current');
                tab_div.hide();
                $(tab_div[tab_index]).show();
            });
        }
        /*相关新闻文字限制*/
        var relatedMsg = $('#related_news .related_msg');
        relatedMsg.each(function(){
            var text = $(this).text();
            var textHref = $(this).parents('.related_content').find('a').attr('href');
                text = text.replace('您的浏览器暂时无法播放此视频.', '');
            if(text.length > 130){
                var textDetail = '......<a target="_blank" href="'+ textHref +'" class="msg_target">【详情】</a>';
                var nowText = text.trim().substring(0,130) + textDetail;
                $(this).html(nowText);
            }else{
                var textDetail = '<a target="_blank" href="'+ textHref +'" class="msg_target">【详情】</a>';
                var nowText = text.trim() + textDetail;
                $(this).html(nowText);
            }
        })

        /*window滚动*/
        $('#goBack,.phone_go_back').on('click', function () {
            $('html, body').animate({
                scrollTop: 0
            }, 500);
        });
        /*返回上一页*/
        /*var old = document.referrer;
        $('.phone_back>a').attr('href',old);*/
        $('.phone_back>a').on('click',function () {
            window.location.reload();
        })

        $(window).scroll(function () {
            //为页面添加页面滚动监听事件
            var wst = $(window).scrollTop(); //滚动条距离顶端值
            var winWidth = $(window).width(); //滚动条距离顶端值
            var winHeight=$('.footer').offset().top-$('.footer').height();//分享按钮距离顶部最大距离
            var goBack = $('.detail_scroll>.scroll_list:nth-child(2)');
            if(wst>300 && wst<winHeight){
                $('#detail_share').css({'top':wst-40});
            }else if(wst>winHeight){
                $('#detail_share').css({'top':winHeight});
            }else{
                $('#detail_share').css({'top':'220px'});
            }
            if(wst > 750){
                goBack.show();
                if(winWidth < 768){
                    $('.phone_go_back').show();
                }
            }else {
                goBack.hide();
                $('.phone_go_back').hide();
            }
        });
    });
    //去除新闻空标签
    $('.content>p').find('br').parent().remove();
    $('.bdsharebuttonbox a').click(function () {
        var name = $(this).attr('title');
        var newsTitle = $('.detail .title').text();
        if (typeof _czc != 'undefined' && name && newsTitle) {
            _czc.push(['_trackEvent', 'newsshare', name, newsTitle]);
        }
    });
    $('.detail .content p strong').css({
        'color': '#555'
    });
    $('.detail .content p strong *').css({
        'color': '#555'
    });
    $('.detail .content p b *').css({
        'color': '#555'
    });
    /*关键字转码*/
    
    /*百度分享*/
    var desc = '{$introduce}';
    
    var title=$('.detail .title').text().trim();
    desc = desc.length > 120 ? (desc.substr(0, 117) + '...') : desc;
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": title + "（重庆工业互联网云平台-国家工业互联网）",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "http://www.gyyqcloud.com/shop/images/company_default.jpg",
            "bdDesc": desc,
            "bdStyle": "0",
            "bdSize": "16"
        }, "share": {}
    };
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];

    $('#shareCodeTop').qrcode(window.location.href);
    $('#shareCodeTop').next('div').css({'height':'30px','line-height':'30px'})
    $('#shareCodeTop').css({'height':'108px'}).find('canvas').css({'width':'108px','height':'108px'});
    $('.news_detail_share a').on('mouseenter',function(){
        $(this).next().addClass('active');
    })
    $('.news_detail_share a').on('mouseleave',function(){
        $(this).next().removeClass('active');
    })
    //移动端分享
    var screenWidth=window.screen.width;
    if(screenWidth<760){
        $('#content').append($('#detail_share'));
        $('.news_detail_share ').css({'position':'static'});
        $('.share_text').css('display','none');
    }
    /*替换插件默认title*/
    var shareIcon=$('#detail_share .bdsharebuttonbox>a');
    shareIcon.each(function(){
        $(this).attr('title',' ');
    })
</script>

{template 'footer'} 